<template>
  <div>
    <OrderRouteProvider>
      <template #default="{order}">
        <b-breadcrumb :items="[
          {text: 'Заказы', href: '/orders'},
          {text: order.name, href: `/order/${order.id}`},
          {text: 'Реестр', active: true},
          {text: 'Детали', active: true},
        ]"></b-breadcrumb>
      </template>
    </OrderRouteProvider>
    <Details :order_id="Number($route.params.order_id)"/>
  </div>
</template>

<script>


import Details from "@/components/details/Details";
import OrderRouteProvider from "@/components/orders/OrderRouteProvider";

export default {
  name: 'OrderDetailsPage',
  layout: 'panel',
  components: {
    Details,
    OrderRouteProvider,
  },
  head() {
    return {
      title: "Детали"
    };
  },
}
</script>
