<template>
  <div>
    <OrderRouteProvider>
      <template #default="{order}">
        <b-breadcrumb :items="[
          {text: 'Заказы', href: '/orders'},
          {text: order.name, href: `/order/${order.id}`},
          {text: 'Реестр', active: true},
          {text: 'Элементы', active: true},
        ]"></b-breadcrumb>
      </template>
    </OrderRouteProvider>
    <Elements :order_id="Number($route.params.order_id)"/>
  </div>
</template>

<script>

import Elements from "@/components/elements/Elements";
import OrderRouteProvider from "@/components/orders/OrderRouteProvider";

export default {
  name: 'OrderElementsPage',
  layout: 'panel',
  components: {
    Elements,
    OrderRouteProvider,
  },
  head() {
    return {
      title: "Элементы"
    };
  },
}
</script>
