<template>
  <div>
    <OrderRouteProvider>
      <template #default="{order}">
        <b-breadcrumb :items="[
          {text: 'Заказы', href: '/orders'},
          {text: order.name, href: `/order/${order.id}`},
          {text: 'Реестр', active: true},
          {text: 'Материалы', active: true},
        ]"></b-breadcrumb>
      </template>
    </OrderRouteProvider>
    <Materials :order_id="Number($route.params.order_id)"/>
  </div>
</template>

<script>

import Materials from "@/components/materials/Materials";
import OrderRouteProvider from "@/components/orders/OrderRouteProvider";

export default {
  name: 'OrderMaterialsPage',
  layout: 'panel',
  components: {
    Materials,
    OrderRouteProvider,
  },
  head() {
    return {
      title: "Материалы"
    };
  },
}
</script>
