<template>
  <div>
    <b-tabs content-class="mt-3" align="center" lazy>
      <b-tab title="Задачи" active>
        <PlanComponent :order_id="Number($route.params.order_id)" operation="PILA"/>
      </b-tab>
      <b-tab title="Материалы в цеху">
        <StockComponent location="area_pila">
          <template #title>
            <h1 class="float-left">
              Остатки в цеху
            </h1>
          </template>
        </StockComponent>
      </b-tab>
      <b-tab title="Заявки">
        <RequestsComponent :order_id="Number($route.params.order_id)"/>
      </b-tab>
    </b-tabs>
  </div>
</template>

<script>

import AreaTasksComponent from "@/components/areas/AreaTasksComponent";
import StockComponent from "@/components/stock/StockComponent";
import RequestsComponent from "@/components/requests/RequestsComponent";
import PlanComponent from "@/components/orders/plan/PlanComponent";

export default {
  name: 'PilaAreaPage',
  layout: 'panel',
  components: {
    AreaTasksComponent,
    StockComponent,
    RequestsComponent,
    PlanComponent,
  }
}
</script>
