<template>
  <div>
    <div v-if="edit">
      <b-row>
        <b-col>
          <b-form-group label="Наименование раскладки">
            <b-form-input
              v-model="edit.name"
              required
              :state="show_validation_errors ? (!edit.name ? false : null) : null"
            ></b-form-input>
          </b-form-group>
        </b-col>
        <b-col>
          <b-form-group label="Статус">
            <b-form-select
              v-model="edit.status"
              :options="status_options"
              required
            ></b-form-select>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row class="clearfix mt-2">
        <b-col>
          <b-button variant="success" class="float-right" @click="save">
            <b-icon icon="file-earmark-arrow-down"></b-icon>
            Сохранить
          </b-button>
        </b-col>
      </b-row>
    </div>
  </div>
</template>

<script>
import SupplierSelectorComponent from "@/components/stock/suppliers/SupplierSelectorComponent";

export default {
  name: "EditPurchaseComponent",
  components: {
    SupplierSelectorComponent,
  },
  props: {
    id: Number,
  },
  model: {
    prop: 'id',
    event: 'input',
  },
  data() {
    return {
      edit: null,
      show_validation_errors: false,
    };
  },
  methods: {
    async save() {
      if (!this.is_form_valid) {
        this.show_validation_errors = true;
        return;
      }
      let edit = Object.assign({}, this.edit);
      await this.$axios.$patch("/layout", edit);
      this.$bvToast.toast(`Раскладка успешно изменена`, {
        title: 'Успех',
        autoHideDelay: 5000,
        variant: 'success',
      })
      this.$emit("save");
    },
  },
  watch: {
    id: {
      immediate: true,
      async handler(id) {
        if (id !== -1 && id !== null) {
          this.edit = await this.$axios.$get('/layouts/by_id', {params: {id}})
        } else {
          this.edit = {};
        }
      }
    },
  },
  computed: {
    is_form_valid() {
      return !!this.edit.name &&
        !!this.edit.status;
    },
    status_options() {
      return [
        {
          text: 'Создана',
          value: 'created',
        },
        {
          text: 'В работе',
          value: 'in_work',
        },
        {
          text: 'Детали вырезаны',
          value: 'done',
        },
      ];
    }
  }
}
</script>

<style scoped>

</style>
