<template>
  <div>
    <LayoutFilterComponent v-model="filter"/>
    <b-overlay :show="!items">
      <b-table-simple hover small caption-top responsive class="mt-4">
        <b-thead>
          <b-tr>
            <b-th>
              <div>Элемент</div>
              <div>Деталь</div>
              <div>Материал</div>
            </b-th>
            <b-th>
              Кол-во
            </b-th>
          </b-tr>
        </b-thead>
        <b-tbody>
          <b-tr v-for="entry in items" :key="entry.id">
            <b-td>
              <div>
                <strong>
                  {{ entry.plan.element.name }}
                </strong>
                <template v-if="entry.plan.element.number">
                  ({{ entry.plan.element.number }})
                </template>
              </div>
              <div>
                <strong>
                  {{ entry.plan.detail.name }}
                </strong>
                <template v-if="entry.plan.detail.number">
                  ({{ entry.plan.detail.number }})
                </template>
              </div>
              <div>
                <strong>
                  {{ entry.plan.material.name }}
                  <span v-if="entry.plan.material.features.s">
                    S: {{ entry.plan.material.features.s }}
                  </span>
                </strong>
              </div>
              <div>
                {{ $getMaterialFeaturesStrings(entry.plan.material.features).join(", ") }}
              </div>
            </b-td>
            <b-td style="vertical-align: center;">
              &times;
              {{ entry.amount }}
            </b-td>
          </b-tr>
          <b-tr v-if="items">
            <b-td colspan="5" class="text-center">
              <i>
                Найдено записей: {{ total_rows }}
              </i>
            </b-td>
          </b-tr>
        </b-tbody>
      </b-table-simple>
      <div class="d-flex align-items-center justify-content-center">
        <b-pagination
          v-model="filter.page"
          :total-rows="total_rows"
          :per-page="filter.per_page"
        ></b-pagination>
      </div>
    </b-overlay>
  </div>
</template>

<script>

import _ from 'lodash';
import LayoutFilterComponent from "@/components/layouts/LayoutFilterComponent";

export default {
  name: 'PurchasesComponent',
  layout: 'panel',
  components: {
    LayoutFilterComponent,
  },
  props: {
    layout_id: Number,
  },
  data() {
    return {
      items: null,
      total_rows: null,
      filter: {
        per_page: 10,
        page: 1,
      },
    }
  },
  async created() {
    this.fetchItems = _.throttle(this.fetchItems, 300);
    await this.fetchItems();
  },
  methods: {
    async fetchItems() {
      let res = await this.$axios.$post("/get_layout_entries", {
        ...this.filter,
        exact: {
          layout_id: this.layout_id,
        },
      });
      this.items = res.items;
      this.total_rows = res.count;
    },
    async update() {
      this.items = null;
      await this.fetchItems();
    },
  },
  watch: {
    filter: {
      deep: true,
      async handler() {
        this.checked_items = {};
        this.items = null;
        await this.fetchItems();
      },
    },
    async layout_id() {
      this.checked_items = {};
      this.items = null;
      await this.fetchItems();
    }
  },
  computed: {
    selected_items() {
      return Object.entries(this.checked_items).filter(([_, checked]) => checked).map(([id, _]) => Number(id));
    },
  }
}
</script>
