<template>
  <div>
    <div>
      <slot name="title">
        <h1>
          Заявки
        </h1>
      </slot>
    </div>
    <RequestTasksModalComponent
      :show="show_tasks_modal"
      v-model="tasks_modal_request"
      @setShow="v => show_tasks_modal = v"
      @update="update"
    />
    <PurchasesListFilterComponent v-model="filter"/>
    <b-overlay :show="!items">
      <template v-if="items">
        <b-row class="mt-4" v-for="i in Math.ceil(items.length / 3)" :key="i">
          <b-col md="4" v-for="(layout, index) in items.slice((i - 1) * 3, i * 3)" :key="index">
            <b-card>
              <template #header>
                <div class="d-flex">
                  Раскдалка {{ layout.name }}
                  <b-icon v-if="layout_id === layout.id" icon="check-circle-fill" class="mt-1 ml-auto"/>
                </div>
              </template>
              <b-card-text>
                <p>
                  <strong>Статус:</strong>
                  <template v-if="layout.status === 'created'">
                    создана
                  </template>
                  <template v-if="layout.status === 'in_work'">
                    в работе
                  </template>
                  <template v-if="layout.status === 'done'">
                    детали вырезаны
                  </template>
                  <br>
                </p>
                <a href="#" @click.prevent="$emit('setShowId', layout.id)">
                  Открыть раскладку
                </a>
              </b-card-text>
            </b-card>
          </b-col>
        </b-row>
      </template>
      <p class="text-center" v-if="items">
        Найдено раскладок: {{ total_rows }}
      </p>
      <div class="d-flex align-items-center justify-content-center">
        <b-pagination
          v-model="filter.page"
          :total-rows="total_rows"
          :per-page="filter.per_page"
        ></b-pagination>
      </div>
    </b-overlay>
  </div>
</template>

<script>

import moment from 'moment'
import MaterialSelectorComponent from "@/components/materials/MaterialSelectorComponent";
import RequestTasksModalComponent from "@/components/requests/RequestTasksModalComponent";
import RequestsFilterComponent from "@/components/requests/RequestsFilterComponent";
import PurchasesListFilterComponent from "@/components/purchases/PurchasesListFilterComponent";

export default {
  name: 'LayoutsListComponent',
  components: {
    PurchasesListFilterComponent,
    MaterialSelectorComponent,
    RequestsFilterComponent,
    RequestTasksModalComponent,
  },
  props: {
    layout_id: Number,
  },
  data() {
    return {
      items: null,
      show_tasks_modal: false,
      tasks_modal_request: null,
      total_rows: 0,
      filter: {
        per_page: 30,
        page: 1,
      },
    }
  },
  async created() {
    await this.fetchItems();
  },
  methods: {
    async fetchItems() {
      let res = await this.$axios.$get("/layouts", {params: {...this.filter}});
      this.items = res.items;
      this.total_rows = res.count;
    },
    async update() {
      this.items = null;
      await this.fetchItems();
    }
  },
  watch: {
    filter: {
      deep: true,
      async handler() {
        this.items = null;
        await this.fetchItems();
      },
    },
  },
  computed: {
    moment: () => moment,
  }
}
</script>
