<template>
  <div>
    <h1>Раскладки</h1>
    <hr>
    <b-collapse id="purchases_list" class="mt-2" :visible="show">
      <LayoutsListComponent ref="layouts_list" @setShowId="setShowId" :layout_id="show_id">
        <template #title>
          <div></div>
        </template>
      </LayoutsListComponent>
    </b-collapse>
    <a href="#" @click.prevent="setShowId(null)" v-if="show_id !== null">
      <b-icon icon="arrow-left-short"></b-icon>
      Назад
    </a>
    <b-tabs content-class="mt-3" align="center" v-show="show_id !== null">
      <b-tab title="Статус" active lazy>
        <EditLayoutComponent v-model="show_id" @save="update"/>
      </b-tab>
      <b-tab title="Детали" lazy>
        <LayoutEntriesComponent @update="update" ref="layout_entries" :layout_id="show_id">
          <template #title>
            <div></div>
          </template>
        </LayoutEntriesComponent>
      </b-tab>
      <b-tab title="Сообщения">
        <MessagesComponent chat_type="layout" :chat_id1="show_id" :chat_id2="null"/>
      </b-tab>
      <b-tab title="Заявка">
        <b-button>
          <b-icon icon="plus"></b-icon>
          Создать
        </b-button>
      </b-tab>
    </b-tabs>
  </div>
</template>

<script>

import LayoutsListComponent from "@/components/layouts/LayoutsListComponent";
import EditLayoutComponent from "@/components/layouts/EditLayoutComponent";
import LayoutEntriesComponent from "@/components/layouts/LayoutEntriesComponent";
import MessagesComponent from "@/components/messages/MessagesComponent";

export default {
  name: "LayoutsComponent",
  components: {
    LayoutsListComponent,
    EditLayoutComponent,
    LayoutEntriesComponent,
    MessagesComponent,
  },
  data() {
    return {
      show_id: null,
      show: true,
    }
  },
  methods: {
    async update() {
      await this.$refs.layouts_list.update();
      if (this.$refs.layout_entries) {
        await this.$refs.layout_entries.update();
      }
    },
    setShowId(id) {
      this.$router.push({path: '/areas/plasma', query: {layout_id: String(id)}})
      this.show = id === null;
      this.show_id = id;
    }
  },
  watch: {
    $route: {
      immediate: true,
      handler() {
        let layout_id = this.$route.query?.layout_id;
        if (!!layout_id && layout_id !== 'null') {
          console.log(this.$route.query?.layout_id);
          this.setShowId(this.$route.query.layout_id);
          this.$emit('show');
        }
      }
    }
  }
}
</script>

<style scoped>

</style>
