<template>
  <ItemEdit ref="edit" :hooks="hooks" :create-default="{material_id: null, detail_id: null, element_id: null, comment: '', amount: 0, unit_mass: 0, unit_size: ''}">
    <template #default="{edit_id, edit_item, show_delete, save, apply_del, clear}">
      <b-modal :visible="show_delete" @change="v => !v ? clear() : void 0">
        <template #modal-header>
          Подтверждение
        </template>
        Удалить запись?
        <template #modal-footer>
          <b-button variant="secondary" class="float-right" @click="clear">
            <b-icon icon="x-circle"></b-icon>
            Отмена
          </b-button>
          <b-button variant="danger" class="float-right" @click="apply_del">
            <b-icon icon="trash"></b-icon>
            Удалить
          </b-button>
        </template>
      </b-modal>
      <b-modal :visible="edit_id !== null" v-if="edit_item" @change="v => !v ? clear() : void 0">
        <template #modal-title>
          <div v-if="edit_id === -1">
            Добавить задачу
          </div>
          <div v-else>
            Изменить задачу
          </div>
        </template>
        <b-form-group label="Материал" class="mr-2">
          <MaterialSelector v-model="edit_item.material_id" :order_id="order_id"/>
        </b-form-group>
        <b-form-group label="Деталь" class="mr-2">
          <DetailSelector v-model="edit_item.detail_id" :order_id="order_id"/>
        </b-form-group>
        <b-form-group label="Элемент" class="mr-2">
          <ElementSelector v-model="edit_item.element_id" :order_id="order_id"/>
        </b-form-group>
        <b-row>
          <b-col>
            <b-form-group label="Количество">
              <b-form-input
                :value="edit_item.amount"
                @input="v => edit_item.amount = v ? Number(v) : null"
                required
              ></b-form-input>
            </b-form-group>
          </b-col>
          <b-col>
            <b-form-group label="Масса штуки">
              <b-input-group>
                <b-form-input
                  :value="edit_item.unit_mass"
                  @input="v => edit_item.unit_mass = v ? Number(v) : null"
                  required
                ></b-form-input>
                <b-input-group-append>
                  <b-input-group-text class="font-weight-bold">
                    кг
                  </b-input-group-text>
                </b-input-group-append>
              </b-input-group>
            </b-form-group>
          </b-col>
          <b-col>
            <b-form-group label="Размер штуки">
              <b-form-input
                v-model="edit_item.unit_size"
                required
              ></b-form-input>
            </b-form-group>
          </b-col>
        </b-row>
        <p>
          Комментарий:
        </p>
        <b-form-textarea
          v-model="edit_item.comment"
          rows="3"
          max-rows="6"
        ></b-form-textarea>
        <template #modal-footer>
          <b-button variant="secondary" class="float-right" @click="clear">
            <b-icon icon="x-circle"></b-icon>
            Отмена
          </b-button>
          <b-button variant="success" class="float-right" @click="save">
            <b-icon icon="file-earmark-arrow-down"></b-icon>
            Сохранить
          </b-button>
        </template>
      </b-modal>
    </template>
  </ItemEdit>
</template>

<script>
import ItemEdit from "~/components/common/edit/ItemEdit";
import MaterialSelector from "@/components/materials/MaterialSelector";
import DetailSelector from "@/components/details/DetailSelector";
import ElementSelector from "@/components/elements/ElementSelector";

export default {
  name: "EditUser",
  components: {
    ItemEdit,
    MaterialSelector,
    DetailSelector,
    ElementSelector,
  },
  props: {
    hooks: Object,
    order_id: Number,
  },
  methods: {
    async create() {
      return this.$refs.edit.create();
    },
    async edit(id) {
      return await this.$refs.edit.edit(id);
    },
    async del(id) {
      return this.$refs.edit.del(id);
    },
  }
}
</script>

<style scoped>

</style>
