<template>
  <b-overlay :show="loading">
    <div class="d-flex">
      <h1>Предпросмотр</h1>
      <div class="ml-auto">
        <b-button variant="success" @click="next">
          Продолжить
          <b-icon icon="arrow-right"></b-icon>
        </b-button>
      </div>
    </div>
    <StaticItemsView :items="items_" :per_pages="[10, 20, 50, 100]">
      <template #default="{items}">
        <TableView
          :keys="['plan', 'amount', 'comment', 'operations']"
          :count="count"
          :items="items"
        >
          <template #title(plan)>
            <div class="d-flex">
              <b-icon icon="grid1x2-fill" class="mr-2 mt-1"/>
              Элемент
            </div>
            <div class="d-flex">
              <b-icon icon="square-fill" class="mr-2 mt-1"/>
              Деталь
            </div>
            <div class="d-flex">
              <b-icon icon="hammer" class="mr-2 mt-1"/>
              Материал
            </div>
          </template>
          <template #cell(plan)="{item}">
            <div class="d-flex align-items-center">
              <div>
                <div class="d-flex">
                  <b-icon icon="grid1x2-fill" class="mr-2 mt-1"/>
                  <ElementView :element="item.element"/>
                </div>
                <div class="d-flex">
                  <b-icon icon="square-fill" class="mr-2 mt-1"/>
                  <DetailView :detail="item.detail"/>
                </div>
                <div class="d-flex">
                  <b-icon icon="hammer" class="mr-2 mt-1"/>
                  <MaterialView :material="item.material"/>
                </div>
              </div>
            </div>
          </template>
          <template #title(amount)>
            Кол-во
          </template>
          <template #cell(amount)="{item}">
            &times; {{ item.amount }} шт.
            <br/>
            Каждая по {{ item.unit_mass }} кг. (<UnitSizeView :unit_size="$sizeToObject(item.unit_size)"/>)
          </template>
          <template #title(comment)>
            Комментарий
          </template>
          <template #cell(comment)="{item}">
            {{ item.comment }}
          </template>
          <template #title(operations)>
            Операции
          </template>
          <template #cell(operations)="{item}">
            Test
          </template>
        </TableView>
      </template>
    </StaticItemsView>
  </b-overlay>
</template>

<script>
import TableView from "@/components/common/view/TableView";
import ElementView from "@/components/elements/ElementView";
import DetailView from "@/components/details/DetailView";
import MaterialView from "@/components/materials/MaterialView";
import StaticItemsView from "@/components/common/view/StaticItemsView";
import gql from "graphql-tag";
import UnitSizeView from "@/components/plan/UnitSizeView";

export default {
  name: "ImportPlan",
  components: {
    TableView,
    ElementView,
    DetailView,
    MaterialView,
    StaticItemsView,
    UnitSizeView,
  },
  props: {
    items: Array,
  },
  data() {
    return {
      loading: false,
      items_: null,
    }
  },
  methods: {
    async next() {
      let order_id = Number(this.$route.params.order_id)
      this.loading = true;
      await this.$apollo.mutate({
        mutation: gql`mutation Import($order_id: ItemId!, $items: ImportPlansInput!) {
    order(id: $order_id) {
        importPlan(items: $items)
    }
}`,
        variables: {
          order_id,
          items: {items: this.items_},
        }
      })
      await this.$router.replace(`/order/${order_id}/plan/entries`);
      this.loading = false;
    },
  },
  watch: {
    items: {
      immediate: true,
      handler() {
        const clear = (text) => {
          return text.toString().trim().replace(/\n/g, " ").replace(/\r/g, " ");
        }
        const parseNumber = (num) => {
          if(num === undefined) return undefined;
          if(num.indexOf(',') < 0) return parseFloat(num);
          const numArr = num.split(',');
          return parseFloat( numArr.reduce((a, v, i) => a + ((i === numArr.length - 1) ? `.${v}` : v), '') );
        };

        const mass = (mass) => {
          return parseNumber(mass) * 1000;
        }
        this.items_ = this.items.map(item => {
          return {
            material: {
              name: clear(item.material_name),
              features: {
                s: item.material_s ? Number(item.material_s) : undefined,
                grade: clear(item.material_grade) ?? undefined,
              }
            },
            detail: {
              name: clear(item.detail_name),
              number: clear(item.detail_number),
            },
            element: {
              name: clear(item.element_name),
              number: clear(item.element_number),
            },
            amount: Number(item.amount),
            unit_size: item.unit_size ?? "",
            unit_mass: mass(item.unit_mass) ?? undefined,
            comment: clear(item.comment) ?? undefined,
          }
        })
      }
    }
  },
  computed: {
    count() {
      return this.items.length;
    }
  }
}
</script>

<style scoped>

</style>
