<template>
  <div>
    <PlanOperationsModal ref="operations_modal"/>
    <ItemEditQueries
      :fetch_query="gql => gql`query Fetch($id: ItemId!) {
      plan(id: $id) {
        order {
          id
        }
        material {
          id
        }
        detail {
          id
        }
        element {
          id
        }
        comment
        amount
        unit_mass
        unit_size {
            length
            width
            d_outer
            d_inner
        }
      }
}
`"
      :fetch_getter="result => {
        result = result.plan;
        return {
          ...result,
           material_id: result.material.id,
           material: undefined,
           detail_id: result.detail.id,
           detail: undefined,
           element_id: result.element.id,
           element: undefined,
           order_id: result.order.id,
           order: undefined,
           unit_size: $getMaterialSizeString(result.unit_size),
        }
      }"
      :create_query="gql => [gql`mutation Create($order_id: ItemId!, $data: PlanInput!) {
    order(id: $order_id) {
      id
      createPlan(data: $data)
    }
}
`, {order_id}]"
      :edit_query="gql => gql`mutation Edit($id: ItemId!, $data: PlanInput!) {
    plan(id: $id) {
        edit(data: $data)
    }
}
`"
      :delete_query="gql => gql`mutation Delete($id: ItemId!) {
    plan(id: $id) {
        delete
    }
}
`"
    >
      <template #default="{hooks}">
        <EditPlan :hooks="hooks" ref="edit" :order_id="order_id"/>
      </template>
    </ItemEditQueries>
    <TableView
      :keys="['plan', 'amount', 'comment', 'operations', 'buttons']"
      :count="count"
      :items="items"
    >
      <template #title(plan)>
        <div class="d-flex">
          <b-icon icon="grid1x2-fill" class="mr-2 mt-1"/>
          Элемент
        </div>
        <div class="d-flex">
          <b-icon icon="square-fill" class="mr-2 mt-1"/>
          Деталь
        </div>
        <div class="d-flex">
          <b-icon icon="hammer" class="mr-2 mt-1"/>
          Материал
        </div>
      </template>
      <template #cell(plan)="{item}">
        <div class="d-flex align-items-center">
          <div>
            <div class="d-flex">
              <b-icon icon="grid1x2-fill" class="mr-2 mt-1"/>
              <ElementView :element="item.element"/>
            </div>
            <div class="d-flex">
              <b-icon icon="square-fill" class="mr-2 mt-1"/>
              <DetailView :detail="item.detail"/>
            </div>
            <div class="d-flex">
              <b-icon icon="hammer" class="mr-2 mt-1"/>
              <MaterialView :material="item.material"/>
            </div>
          </div>
        </div>
      </template>
      <template #title(amount)>
        Кол-во
      </template>
      <template #cell(amount)="{item}">
        &times; {{ item.amount }} шт.
        <br/>
        Каждая по {{ item.unit_mass }} кг. (
        <UnitSizeView :unit_size="item.unit_size"/>
        )
      </template>
      <template #title(comment)>
        Комментарий
      </template>
      <template #cell(comment)="{item}">
        {{ item.comment }}
      </template>
      <template #title(operations)>
        Операции
      </template>
      <template #cell(operations)="{item}">
        Test
      </template>
      <template #cell(buttons)="{item}">
        <div v-if="item.is_deleted" class="d-flex">
          <b-icon class="ml-auto mt-1" icon="trash"/>
        </div>
        <div class="d-flex" v-else>
          <b-button size="sm" variant="warning" class="ml-auto"
              @click="$refs.operations_modal.open(item.id)">
            <b-icon icon="gear-fill"></b-icon>
          </b-button>
          <b-button size="sm" variant="primary" class="ml-2"
                    @click="edit ? edit(item.id) : null">
            <b-icon icon="pencil"></b-icon>
          </b-button>
          <b-button size="sm" variant="danger" class="ml-2" @click="del ? del(item.id) : null">
            <b-icon icon="x"></b-icon>
          </b-button>
        </div>
      </template>
    </TableView>
  </div>
</template>

<script>
import TableView from "@/components/common/view/TableView";
import MaterialView from "@/components/materials/MaterialView";
import DetailView from "@/components/details/DetailView";
import ElementView from "@/components/elements/ElementView";
import UnitSizeView from "@/components/plan/UnitSizeView";
import ItemEditQueries from "@/components/common/edit/ItemEditQueries";
import PlanOperationsModal from "@/components/plan/operations/PlanOperationsModal";

export default {
  name: "PlanView",
  components: {
    TableView,
    MaterialView,
    DetailView,
    ElementView,
    UnitSizeView,
    ItemEditQueries,
    PlanOperationsModal,
  },
  props: {
    count: Number,
    items: Array,
    edit: Function,
    del: Function,
  },
}
</script>

<style scoped>

</style>
