<template>
  <b-form inline>
    <b-form-group label="Название" class="mr-2">
      <b-form-input
        v-model="filter.name"
        @input="() => $emit('input', filter_)"
      ></b-form-input>
    </b-form-group>
    <b-form-group label="Номер" class="mr-2">
      <b-form-input
        v-model="filter.number"
        @input="() => $emit('input', filter_)"
      ></b-form-input>
    </b-form-group>
    <b-form-group label="">
      <b-form-checkbox
        class="mt-4"
        v-model="filter_.show_deleted"
        @input="() => $emit('input', filter_)"
      >
        <b-icon class="mt-1" icon="trash"/>
      </b-form-checkbox>
    </b-form-group>
  </b-form>
</template>

<script>
export default {
  name: "PlanView",
  props: {
    filter: Object,
  },
  model: {
    prop: 'filter',
    event: 'input',
  },
  data() {
    return {
      filter_: null,
    }
  },
  created() {
    this.filter_ = this.filter;
  }
}
</script>

<style scoped>

</style>
