<template>
  <span>
    <span v-if="unit_size.width && unit_size.length">
      {{ unit_size.width }}мм &times; {{ unit_size.length }}мм&nbsp;
    </span>
    <span v-else-if="unit_size.length">
      L={{ unit_size.length }}мм&nbsp;
    </span>
    <span v-if="unit_size.d_outer">
      D={{ unit_size.d_outer }}мм&nbsp;
    </span>
    <span v-if="unit_size.d_inner">
      d={{ unit_size.d_inner }}мм&nbsp;
    </span>
  </span>
</template>

<script>
export default {
  name: "UnitSizeView",
  props: {
    unit_size: Object,
  }
}
</script>

<style scoped>

</style>
