<template>
  <div v-if="items">
    <b-form-select
      :value="selected_item"
      @input="(e) => $emit('input', e)"
      :options="options"
      :state="state"
    ></b-form-select>
  </div>
</template>

<script>
export default {
  name: "DetailSelectorComponent",
  model: {
    prop: 'selected_item',
    event: 'input'
  },
  props: {
    selected_item: Object,
    state: Boolean,
    order_id: Number,
    created_item_id: Number,
  },
  data() {
    return {
      items: null,
    }
  },
  async created() {
    await this.fetchItems();
    if (this.created_item_id) {
      let items = this.items.filter(item => {
        return item.id === this.created_item_id
      });
      if (items.length === 1) {
        this.$emit('input', items[0]);
      }
    }
  },
  methods: {
    async fetchItems() {
      let res = await this.$axios.$get("/details", {
        params: {
          order_id: this.order_id,
          per_page: 1000,
        }
      });
      this.items = res.items;
    },
  },
  computed: {
    options() {
      return [
        {
          text: "Не выбрано",
          value: null,
        },
        ...this.items.map(item => {
          return {
            text: `${item.name ?? null} (${item.number})`,
            value: item,
          }
        }),
      ]
    }
  }
}
</script>

<style scoped>

</style>
