<template>
  <div>
    <EditDetailModalComponent
      v-model="edit_detail_id"
      :show="show_edit_modal"
      @setShow="v => show_edit_modal = v"
      @save="onSave"
      :order_id="order_id"
    />
    <div class="clearfix">
      <h1 class="float-left">Детали</h1>
      <b-button variant="success" class="float-right" @click="editDetail(-1)">
        <b-icon icon="plus-circle"></b-icon>
        Добавить
      </b-button>
    </div>
    <DetailsFilterComponent v-model="filter"/>
    <b-overlay :show="!items">
      <b-table-simple hover small caption-top responsive class="mt-4">
        <b-thead>
          <b-tr>
            <b-th>
              Наименование
            </b-th>
            <b-th>
              Номер детали
            </b-th>
            <b-th>
              Операции
            </b-th>
            <b-th>

            </b-th>
          </b-tr>
        </b-thead>
        <b-tbody>
          <b-tr v-for="detail in items" :key="detail.id" :class="{'text-muted': detail.is_deleted}">
            <b-td>
              {{ detail.name }}
            </b-td>
            <b-td>
              {{ detail.number }}
            </b-td>
            <b-td>
              {{ detail.operations.map(operation => operation.type).join(", ") }}
            </b-td>
            <b-td v-if="!detail.is_deleted">
              <b-button size="sm" variant="danger" class="float-right" @click="deleteDetail(detail.id)">
                <b-icon icon="x"></b-icon>
              </b-button>
              <b-button size="sm" variant="primary" class="float-right mr-2" @click="editDetail(detail.id)">
                <b-icon icon="pencil"></b-icon>
              </b-button>
              <b-button v-if="false" size="sm" variant="warning" class="float-right mr-2" @click="createTasks(detail.id)">
                Создать задачи
              </b-button>
              <FileViewerComponent
                :file="detail.blueprint_file"
                :show="show_blueprint_modals[detail.id]"
                @setShow="v => {$set(show_blueprint_modals, detail.id, v), $forceUpdate()}"/>
              <b-button size="sm"
                        variant="info"
                        class="float-right mr-2"
                        @click="$set(show_blueprint_modals, detail.id, true), $forceUpdate()"
                        v-if="detail.blueprint_file"
              >
                <b-icon icon="fullscreen"></b-icon>
              </b-button>
            </b-td>
            <b-td v-else>

            </b-td>
          </b-tr>
          <b-tr v-if="items">
            <b-td colspan="4" class="text-center">
              <i>
                Найдено записей: {{ total_rows }}
              </i>
            </b-td>
          </b-tr>
        </b-tbody>
      </b-table-simple>
      <div class="d-flex align-items-center justify-content-center">
        <b-pagination
          v-model="filter.page"
          :total-rows="total_rows"
          :per-page="filter.per_page"
        ></b-pagination>
      </div>
    </b-overlay>
  </div>
</template>

<script>

import EditDetailModalComponent from "@/components/details/EditDetailModalComponent";
import DetailsFilterComponent from "@/components/details/DetailsFilterComponent";
import FileViewerComponent from "@/components/files/FileViewerComponent";
import _ from 'lodash';

export default {
  name: 'DetailsComponent',
  layout: 'panel',
  components: {
    EditDetailModalComponent,
    DetailsFilterComponent,
    FileViewerComponent,
  },
  props: {
    order_id: Number,
  },
  data() {
    return {
      show_edit_modal: false,
      edit_detail_id: null,
      items: null,
      total_rows: 0,
      filter: {
        per_page: 10,
        page: 1,
      },
      show_blueprint_modals: {},
    }
  },
  async created() {
    this.fetchItems = _.throttle(this.fetchItems, 300);
    await this.fetchItems();
  },
  methods: {
    async fetchItems() {
      let res = await this.$axios.$get("/details", {
        params: {
          ...this.filter,
          order_id: this.order_id,
        }
      });
      this.items = res.items;
      this.total_rows = res.count;
      this.show_blueprint_modals = {};
      for (let item of this.items) {
        this.show_blueprint_modals[item.id] = false;
      }
    },
    async editDetail(id) {
      this.edit_detail_id = id;
      this.show_edit_modal = true;
    },
    async createTasks(detail_id) {
      await this.$axios.$post("/tasks/create/for_detail", {detail_id});
      this.$bvToast.toast(`Задачи созданы`, {
        autoHideDelay: 5000,
        variant: 'success',
      })
    },
    async onSave() {
      this.show_edit_modal = false;
      this.items = null;
      await this.fetchItems();
    },
    async deleteDetail(id) {
      this.items = null;
      await this.$axios.$delete("/details", {params: {id}});
      await this.fetchItems();
    },
  },
  watch: {
    filter: {
      deep: true,
      async handler () {
        this.items = null;
        await this.fetchItems();
      },
    },
  },
  computed: {
    console: () => console,
  }
}
</script>
