<template>
  <strong>
    {{ detail.name }}
    <span v-if="detail.number">
      <i>
        ({{detail.number}})
      </i>
    </span>
  </strong>
</template>

<script>
export default {
  name: "DetailView",
  props: {
    detail: Object,
  }
}
</script>

<style scoped>

</style>
