<template>
  <div>
    <ItemEditQueries
      :fetch_query="gql => gql`query Fetch($id: ItemId!) {
      detail(id: $id) {
        name
        number
      }
}
`"
      :create_query="gql => [gql`mutation Create($order_id: ItemId!, $data: DetailInput!) {
    order(id: $order_id) {
      id
      createDetail(data: $data)
    }
}
`, {order_id}]"
      :edit_query="gql => gql`mutation Edit($id: ItemId!, $data: DetailInput!) {
    detail(id: $id) {
        edit(data: $data)
    }
}
`"
      :delete_query="gql => gql`mutation Delete($id: ItemId!) {
    detail(id: $id) {
        delete
    }
}
`"
    >
      <template #default="{hooks}">
        <EditDetail :hooks="hooks" ref="edit"/>
      </template>
    </ItemEditQueries>
    <div class="clearfix">
      <h1 class="float-left">Детали</h1>
      <b-button variant="success" class="float-right" @click="$refs.edit ? $refs.edit.create() : null">
        <b-icon icon="plus-circle"></b-icon>
        Создать
      </b-button>
    </div>
    <ItemsView :query="gql => [gql`
  query Items($order_id: ItemId!, $page: Page!, $filter: DetailFilter!) {
    order(id: $order_id) {
      id
      details(page: $page, filter: $filter) {
          count
          items {
              id
              name
              number
              is_deleted
          }
      }
    }
 }
 `, {order_id}]" :per_pages="[10, 20, 50, 100]"
               :getter="result => {return result.order.details}"
    >
      <template #filter="{filter}">
        <b-form-group label="Название" class="mr-2">
          <b-form-input
            v-model="filter.name"
          ></b-form-input>
        </b-form-group>
        <b-form-group label="Номер" class="mr-2">
          <b-form-input
            v-model="filter.number"
          ></b-form-input>
        </b-form-group>
        <b-form-group label="">
          <b-form-checkbox
            class="mt-4"
            v-model="filter.show_deleted"
          >
            <b-icon class="mt-1" icon="trash"/>
          </b-form-checkbox>
        </b-form-group>
      </template>
      <template #default="{count, items}">
        <TableView
          :keys="['detail', 'buttons']"
          :count="count"
          :items="items"
        >
          <template #title(detail)>
            Деталь
          </template>
          <template #cell(detail)="{item}">
            <DetailView :detail="item"/>
          </template>
          <template #cell(buttons)="{item}">
            <div v-if="item.is_deleted" class="d-flex">
              <b-icon class="ml-auto mt-1" icon="trash"/>
            </div>
            <div class="d-flex" v-else>
              <b-button size="sm" variant="primary" class="ml-auto"
                        @click="$refs.edit ? $refs.edit.edit(item.id) : null">
                <b-icon icon="pencil"></b-icon>
              </b-button>
              <b-button size="sm" variant="danger" class="ml-2" @click="$refs.edit ? $refs.edit.del(item.id) : null">
                <b-icon icon="x"></b-icon>
              </b-button>
            </div>
          </template>
        </TableView>
      </template>
    </ItemsView>
  </div>
</template>

<script>

import ItemsView from "~/components/common/view/ItemsView";
import TableView from "~/components/common/view/TableView";
import ItemEditQueries from "~/components/common/edit/ItemEditQueries";
import DetailView from "@/components/details/DetailView";
import EditDetail from "@/components/details/EditDetail";

export default {
  name: 'Details',
  components: {
    ItemsView,
    TableView,
    ItemEditQueries,
    EditDetail,
    DetailView,
  },
  props: {
    order_id: Number,
  },
  computed: {
    console: () => console
  },
}
</script>
