<template>
  <div>
    <b-modal :visible="show" @change="v => $emit('setShow', v)" v-if="edit">
      <template #modal-title>
        <div v-if="edit_id === -1">
          Добавить деталь
        </div>
        <div v-else>
          Изменить деталь
        </div>
      </template>
      <b-form-group label="Наименование">
        <b-form-input
          v-model="edit.name"
          placeholder="Диафрагма"
          required
          :state="show_validation_errors ? (!edit.name ? false : null) : null"
        ></b-form-input>
      </b-form-group>
      <!--
      <p>Материал</p>
      <MaterialSelectorComponent
        v-model="edit.material"
        :state="show_validation_errors ? (!edit.material ? false : null) : null"
      >

      </MaterialSelectorComponent>
      -->
      <b-form-group label="Номер детали">
        <b-form-input
          v-model="edit.number"
          placeholder="Номер детали"
          required
          :state="show_validation_errors ? (!edit.number ? false : null) : null"
        ></b-form-input>
      </b-form-group>
      <b-form-group label="Чертеж">
        <FileSelectorComponent v-model="edit.blueprint_file" :state="null"/>
      </b-form-group>
      <h4>Операции</h4>
      <p>Добавить операцию:</p>
      <b-row>
        <b-col>
          <b-form-group>
            <b-form-select
              v-model="edit_operation_type"
              :options="operations_options"
              required
            ></b-form-select>
          </b-form-group>
        </b-col>
        <b-col>
          <b-button variant="success" class="float-right"
                    @click="edit.operations.push({type: edit_operation_type})">
            <b-icon icon="plus"></b-icon>
            Добавить
          </b-button>
        </b-col>
      </b-row>
      <b-table-simple hover small caption-top responsive>
        <b-thead>
          <b-tr>
            <b-th>
              Тип операции
            </b-th>
            <b-th>

            </b-th>
          </b-tr>
        </b-thead>
        <b-tbody>
          <b-tr v-for="(operation, index) in edit.operations" :key="index">
            <b-td>
              {{ index + 1 }}. {{ $getOperations()[operation.type].name }}
            </b-td>
            <b-td>
              <b-button variant="danger" class="float-right" size="sm"
                        @click="edit.operations.splice(index, 1)">
                <b-icon icon="x"></b-icon>
              </b-button>
            </b-td>
          </b-tr>
        </b-tbody>
      </b-table-simple>

      <template #modal-footer>
        <b-button variant="secondary" class="float-right" @click="$emit('input', false)">
          <b-icon icon="x-circle"></b-icon>
          Отмена
        </b-button>
        <b-button variant="success" class="float-right" @click="save">
          <b-icon icon="file-earmark-arrow-down"></b-icon>
          Сохранить
        </b-button>
      </template>
    </b-modal>
  </div>
</template>

<script>
import MaterialSelectorComponent from "@/components/materials/MaterialSelectorComponent";
import FileSelectorComponent from "@/components/files/FileSelectorComponent";

export default {
  name: "EditDetailModalComponent",
  props: {
    show: Boolean,
    edit_id: Number,
    order_id: Number,
  },
  model: {
    prop: 'edit_id',
    event: 'input',
  },
  components: {
    MaterialSelectorComponent,
    FileSelectorComponent,
  },
  data() {
    return {
      show_validation_errors: false,
      edit: null,
      edit_operation_type: null,
    };
  },
  methods: {
    async save() {
      if (!this.is_form_valid) {
        this.show_validation_errors = true;
        return;
      }
      let edit = Object.assign({}, this.edit);
      edit.blueprint_file_id = edit.blueprint_file?.id ?? null;
      delete edit.blueprint_file;
      let verb;
      if (this.edit_id === -1) {
        verb = 'создана';
        await this.$axios.$post("/details", edit);
      } else {
        verb = 'изменена';
        await this.$axios.$patch("/details", edit);
      }
      this.$bvToast.toast(`Деталь успешно ${verb}`, {
        title: 'Успех',
        autoHideDelay: 5000,
        variant: 'success',
      })
      this.$emit("save");
      this.$emit("input", null);
    },
  },
  watch: {
    async edit_id(id) {
      if (id !== -1 && id !== null) {
        this.edit = await this.$axios.$get('/details/by_id', {params: {id}});
      } else {
        this.edit = {
          order_id: this.order_id,
          name: null,
          number: null,
          //material: null,
          blueprint_file: null,
          operations: [],
        }
      }
    }
  },
  computed: {
    operations_options() {
      return Object.entries(this.$getOperations()).map(([type, operation]) => {
        return {
          text: operation.name,
          value: type
        }
      });
    },
    is_form_valid() {
      return !!this.edit.name &&
        !!this.edit.number /*&&
        !!this.edit.material*/;
    }
  }
}
</script>

<style scoped>

</style>
