<template>
  <div>
    <CreateRequestModalComponent
      :show="show_create_request_modal"
      @setShow="v => show_create_request_modal = v"
      :task_entry_ids="selected_task_entries"
      @update="update"
    />
    <div class="clearfix d-flex">
      <h1 class="float-left">Задачи</h1>
      <p class="ml-auto">
        Выбрано задач: {{ selected_task_entries.length }}
      </p>
    </div>
    <div class="clearfix">
      <b-button variant="primary" class="float-right" @click="showCreateRequestModal"
                :disabled="selected_task_entries.length === 0">
        <b-icon icon="list-task"></b-icon>
        Создать заявки для деталей
      </b-button>
    </div>
    <AreaTasksFilterComponent v-model="filter"/>
    <b-overlay :show="!items">
      <b-table-simple small caption-top responsive class="mt-4">
        <b-thead>
          <b-tr>
            <b-td>
              Элемент
            </b-td>
            <b-td>

            </b-td>
          </b-tr>
        </b-thead>
        <b-tbody>
          <template v-for="{id, element, entries} in items">
            <b-tr :key="`${id}_row`">
              <b-td>
                <strong>{{ element.name }}</strong>
                ({{ element.number }})
              </b-td>
              <b-td class="text-right">
                <a href="#"
                   v-if="!show_entries[id]"
                   @click.prevent="show_entries[id] = !show_entries[id]">
                  Показать задачи...
                </a>
                <a href="#"
                   v-else
                   @click.prevent="show_entries[id] = !show_entries[id]">
                  Скрыть задачи...
                </a>
              </b-td>
            </b-tr>
            <b-tr :key="`${id}_entries`" v-if="show_entries[id]">
              <b-td colspan="2">
                <b-table-simple hover small caption-top responsive>
                  <b-thead>
                    <b-tr>
                      <b-th>

                      </b-th>
                      <b-th>
                        Деталь
                      </b-th>
                      <b-th>
                        Материал
                      </b-th>
                      <b-th>
                        Операция
                      </b-th>
                      <b-th>
                        Заявка создана
                      </b-th>
                    </b-tr>
                  </b-thead>
                  <b-tbody>
                    <b-tr v-for="entry in entries" :key="entry.id">
                      <b-th>
                        <b-form-checkbox
                          v-model="checked_task_entries[entry.id]"
                        >
                        </b-form-checkbox>
                      </b-th>
                      <b-td>
                        <strong>
                          {{ entry.detail.name }}
                        </strong>
                      </b-td>
                      <b-td>
                        <strong>{{ entry.detail.material.name }}</strong>
                        <br>
                        {{
                          $getMaterialFeaturesStrings(entry.detail.material.features).join(", ")
                        }}
                      </b-td>
                      <b-td>
                        {{ entry.operation_type }}
                      </b-td>
                      <b-td class="text-center">
                        <span v-if="entry.request_id" class="text-success">
                          <b-icon icon="check-circle-fill"/>
                        </span>
                        <span v-else class="text-danger">
                          <b-icon icon="x-circle-fill"/>
                        </span>
                      </b-td>
                    </b-tr>
                  </b-tbody>
                </b-table-simple>
              </b-td>
            </b-tr>

          </template>
          <b-tr v-if="items">
            <b-td colspan="4" class="text-center">
              <i>
                Найдено записей: {{ total_rows }}
              </i>
            </b-td>
          </b-tr>
        </b-tbody>

      </b-table-simple>
      <div class="d-flex align-items-center justify-content-center">
        <b-pagination
          v-model="filter.page"
          :total-rows="total_rows"
          :per-page="filter.per_page"
        ></b-pagination>
      </div>
    </b-overlay>
  </div>
</template>

<script>

import _ from "lodash";
import AreaTasksFilterComponent from "@/components/areas/AreaTasksFilterComponent";
import CreateRequestModalComponent from "@/components/areas/CreateRequestModalComponent";

export default {
  name: 'AreaTasksComponent',
  components: {
    CreateRequestModalComponent,
    AreaTasksFilterComponent,
  },
  props: {
    operation: String,
    order_id: Number
  },
  data() {
    return {
      items: null,
      total_rows: 0,
      filter: {
        per_page: 10,
        page: 1,
      },
      show_entries: {},
      checked_task_entries: {},
      show_create_request_modal: false,
    }
  },
  async created() {
    this.fetchItems = _.throttle(this.fetchItems, 300);
    await this.fetchItems();
  },
  methods: {
    async fetchItems() {
      let res = await this.$axios.$get("/plan", {
        params: {
          ...this.filter,
          operations: [
            {
              type: this.operation,
            }
          ]
        }
      });
      this.items = res.items;
      this.total_rows = res.count;
    },
    async update() {
      this.items = null;
      await this.fetchItems();
    }
  },
  watch: {
    filter: {
      deep: true,
      async handler() {
        this.items = null;
        await this.fetchItems();
      },
    },
  },
  computed: {
  }
}
</script>
