<template>
  <b-modal :visible="show" @change="v => $emit('setShow', v)">
    <template #modal-title>
      <div>
        Создать заявку
      </div>
    </template>
    <b-overlay :show="task_entries === null">
      <h4>Задачи</h4>
      <template v-for="entry in request_table">
        <div :key="entry.id" v-if="entry">
          <p :class="{'text-muted': entry.request_id !== null}">
            <strong class="text-danger" v-if="entry.request_id !== null">
              Для этой задачи заявка уже создана<br>
            </strong>
            <strong>ID:</strong>
            {{ entry.id }}<br/>
            <strong>Деталь:</strong>
            {{ entry.detail.name }}<br/>
            <strong>Материал:</strong>
            {{ entry.detail.material.name }}
            {{
              $getMaterialFeaturesStrings(entry.detail.material.features).join(", ")
            }}
          </p>
        </div>
      </template>
    </b-overlay>

    <template #modal-footer>
      <b-button variant="secondary" class="float-right" @click="$emit('setShow', false)">
        <b-icon icon="x-circle"></b-icon>
        Отмена
      </b-button>
      <b-button variant="primary" class="float-right" @click="createRequest">
        <b-icon icon="file-earmark-plus"></b-icon>
        Создать заявку
      </b-button>
    </template>
  </b-modal>
</template>

<script>
export const ERROR_NO_FREE_TASK_ENTRIES = 10;

export default {
  name: "CreateRequestModalComponent",
  props: {
    show: Boolean,
    task_entry_ids: Array,
  },
  data() {
    return {
      task_entries: null,
    }
  },
  methods: {
    async createRequest() {
      try {
        await this.$axios.$post("/requests/create/by_task_entries", {
          task_entry_ids: this.task_entry_ids,
        })
        this.$bvToast.toast(`Заявка создана`, {
          autoHideDelay: 5000,
          variant: 'success',
        })
        this.$emit("update");
        this.$emit("setShow", false);
      } catch (e) {
        if (e.response && e.response.status === 400) {
          console.log(e.response);
          if (e.response.data['error_code'] === ERROR_NO_FREE_TASK_ENTRIES) {
            this.$bvToast.toast(`Заявка не создана. Нет свободных заданий`, {
              title: 'Ошибка',
              autoHideDelay: 5000,
              variant: 'danger',
            })
          }
        } else {
          throw e;
        }
      }
    },
    async fetchTaskEntries() {
      if (!this.task_entry_ids) {
        return null;
      }
      let entries_list = await this.$axios.$get("/tasks/entries/by_ids", {
        params: {
          task_entry_ids: JSON.stringify(this.task_entry_ids),
        }
      });
      if (!entries_list) {
        return null;
      }
      let entries = {};
      for (let entry of entries_list) {
        entries[entry.id] = entry;
      }
      this.task_entries = entries;
    },
  },
  watch: {
    async show() {
      await this.fetchTaskEntries();
    }
  },
  computed: {
    request_table() {
      if (!this.task_entries) {
        return null;
      }
      return this.task_entry_ids.map((id) => {
        return this.task_entries[id];
      });
    }
  },
}
</script>

<style scoped>

</style>
