<template>
  <div>
    <OrderRouteProvider>
      <template #default="{order}">
        <b-breadcrumb :items="[{text: 'Заказы', href: '/orders'}, {text: order.name, active: true}]"></b-breadcrumb>
      </template>
    </OrderRouteProvider>
    <Order :order_id="order_id"/>
  </div>
</template>

<script>

import Order from "@/components/orders/Order";
import OrderRouteProvider from "@/components/orders/OrderRouteProvider";

export default {
  name: 'OrderIndexPage',
  layout: 'panel',
  components: {
    Order,
    OrderRouteProvider,
  },
  computed: {
    order_id() {
      return Number(this.$route.params.order_id);
    }
  },
  head() {
    return {
      title: "Заказ"
    };
  },
}
</script>
