<template>
  <TasksComponent :order_id="Number($route.params.order_id)"/>
</template>

<script>

import TasksComponent from "@/components/tasks/TasksComponent";

export default {
  name: 'TasksPage',
  layout: 'panel',
  components: {
    TasksComponent,
  }
}
</script>
