<template>
  <div>
    <div class="clipboard-button"
         :class="{'clipboard-button-hide': show}"
         @click="show = !show">
      <b-icon icon="clipboard"></b-icon>
    </div>
    <b-sidebar left shadow no-header width="90vw" :backdrop="true" :visible="show" @change="v => show = v">
      <div style="padding: 20px" class="clipboard-content">
        <div class="clipboard-header d-flex">
          <h1>
            Буфер обмена
          </h1>
          <h1 class="ml-auto" style="font-size: 40pt">
            <b-icon icon="x" @click="show = !show"></b-icon>
          </h1>
        </div>
        <div>
          <b-card no-body>
            <b-tabs pills card>
              <b-tab title="Карта изменений" active>
                <b-card-text>Tab contents 1</b-card-text>
              </b-tab>
              <b-tab title="Заявка">
                <b-card-text>Tab contents 2</b-card-text>
              </b-tab>
              <b-tab title="Закупка">
                <b-card-text>Tab contents 2</b-card-text>
              </b-tab>
              <b-tab title="Раскладка">
                <b-card-text>Tab contents 2</b-card-text>
              </b-tab>
              <template #tabs-end>
                <div class="ml-auto">
                  <b-button variant="danger">
                    <b-icon icon="trash"></b-icon>
                    Очистить
                  </b-button>
                  <b-button variant="success">
                    <b-icon icon="plus-circle"></b-icon>
                    Создать
                  </b-button>
                </div>
              </template>
            </b-tabs>
          </b-card>
        </div>
      </div>
    </b-sidebar>
  </div>
</template>

<script>
export default {
  name: "Clipboard",
  data() {
    return {
      show: false,
    }
  }
}
</script>

<style scoped>

.clipboard-button {
  width: 40px;
  height: 40px;
  position: fixed;
  z-index: 99;
  left: 20px;
  bottom: 20px;
  background: white;
  border-radius: 20px;
  box-shadow: 0 0 10px black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clipboard-button-hide {
  opacity: 0;
}

.clipboard-content {
  height: 100%;
  background-color: #fbfbfb;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='152' height='152' viewBox='0 0 152 152'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='temple' fill='%23f3f3f3' fill-opacity='0.41'%3E%3Cpath d='M152 150v2H0v-2h28v-8H8v-20H0v-2h8V80h42v20h20v42H30v8h90v-8H80v-42h20V80h42v40h8V30h-8v40h-42V50H80V8h40V0h2v8h20v20h8V0h2v150zm-2 0v-28h-8v20h-20v8h28zM82 30v18h18V30H82zm20 18h20v20h18V30h-20V10H82v18h20v20zm0 2v18h18V50h-18zm20-22h18V10h-18v18zm-54 92v-18H50v18h18zm-20-18H28V82H10v38h20v20h38v-18H48v-20zm0-2V82H30v18h18zm-20 22H10v18h18v-18zm54 0v18h38v-20h20V82h-18v20h-20v20H82zm18-20H82v18h18v-18zm2-2h18V82h-18v18zm20 40v-18h18v18h-18zM30 0h-2v8H8v20H0v2h8v40h42V50h20V8H30V0zm20 48h18V30H50v18zm18-20H48v20H28v20H10V30h20V10h38v18zM30 50h18v18H30V50zm-2-40H10v18h18V10z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
</style>
