<template>
  <div v-if="entries">
    <EditReplaceCardEntryModalComponent :entry="edit_entry" :show="show_edit_modal"
                                        @setShow="v => show_edit_modal = v"/>
    <div v-if="entries.length === 0">
      <div class="d-flex" style="justify-content: center; align-items: center; height: 100%">
        <div>
          <i>Карта изменений пуста</i>
        </div>
      </div>
    </div>
    <div class="clipboard-content" v-else>
      <div class="d-flex">
        <b-button class="ml-auto" variant="success" size="sm" @click="createReplaceCard">
          <b-icon icon="list-task"></b-icon>
          Создать
        </b-button>
      </div>
      <hr>
      <div v-for="(entry, index) of entries">
        <div>
          <b-button class="ml-2 float-right" variant="danger" size="sm" @click="deleteEntry(index)">
            <b-icon icon="trash"></b-icon>
            Удалить
          </b-button>
          <b-button class="float-right" variant="primary" size="sm" @click="editEntry(index)">
            <b-icon icon="pencil"></b-icon>
            Изменить
          </b-button>
        </div>
        <div v-if="entry.type === 'plan'">
          <b-td>
            <div>
              <strong>Заказ:</strong>
              {{ entry.order.name }}
            </div>
            <div>
              <strong>Деталь:</strong>
              {{ entry.plan.detail.name }}
              {{ entry.plan.detail.number }}
            </div>
            <div>
              <strong>Материал:</strong>
              {{ entry.plan.material.name }}
              {{ entry.plan.material.number }}
              {{ $getMaterialFeaturesStrings(entry.plan.material.features).join(", ") }}
            </div>
            <div v-if="entry.replace_material_id">
              <strong>Заменить на:</strong>
              {{ entry.replace_material.name }}
              {{ entry.replace_material.number }}
              {{ $getMaterialFeaturesStrings(entry.replace_material.features).join(", ") }}
            </div>
          </b-td>
        </div>
        <div v-if="entry.type === 'material'">
          <b-td>
            <div>
              <strong>Заказ:</strong>
              {{ entry.order.name }}
            </div>
            <div>
              <strong>Деталь:</strong>
              все детали
            </div>
            <div>
              <strong>Материал:</strong>
              {{ entry.material.name }}
              {{ entry.material.number }}
              {{ $getMaterialFeaturesStrings(entry.material.features).join(", ") }}
            </div>
            <div v-if="entry.replace_material_id">
              <strong>Заменить на:</strong>
              {{ entry.replace_material.name }}
              {{ entry.replace_material.number }}
              {{ $getMaterialFeaturesStrings(entry.replace_material.features).join(", ") }}
            </div>
          </b-td>
        </div>
        <hr>
      </div>
    </div>
  </div>
</template>

<script>

import {ERROR_NO_FREE_TASK_ENTRIES} from "@/components/areas/CreateRequestModalComponent";

const ERROR_NO_REPLACES_FOR_REPLACE_CARD = 13;

import EditReplaceCardEntryModalComponent from "@/components/clipboard/EditReplaceCardEntryModalComponent";

export default {
  name: "ClipboardReplaceCardComponent",
  components: {
    EditReplaceCardEntryModalComponent,
  },
  data() {
    return {
      show: false,
      entries: null,
      loading: false,
      edit_entry: null,
      edit_entry_index: null,
      show_edit_modal: false,
    }
  },
  async created() {
    this.$nuxt.$on("updateClipboardReplaceCard", this.updateClipboard)
    await this.updateClipboard();
  },
  methods: {
    async updateClipboard() {
      this.loading = true;
      let {data} = await this.$axios.$get("/clipboard/replace_card");
      this.entries = data['replace_card'];
      this.loading = false;
    },
    async createReplaceCard() {
      this.loading = true;
      try {
        await this.$axios.$post("/clipboard/replace_card/create");
        this.$bvToast.toast(`Карта изменений успешно создана`, {
          autoHideDelay: 5000,
          variant: 'success'
        })
        await this.updateClipboard();
      } catch (e) {
        if (e.response && e.response.status === 400) {
          if (e.response.data['error_code'] === ERROR_NO_REPLACES_FOR_REPLACE_CARD) {
            this.$bvToast.toast(`Нет замен`, {
              title: 'Ошибка',
              autoHideDelay: 5000,
              variant: 'danger'
            })
          } else {
            throw e;
          }
        }
        this.loading = false;
      }
    }
    ,
    async editEntry(index) {
      this.edit_entry_index = index;
      this.edit_entry = this.entries[index];
      this.show_edit_modal = true;
    }
    ,
    async deleteEntry(index) {
      let entry = this.entries[index];
      await this.$axios.$post("/clipboard/replace_card/delete", {
        entry,
      });
      await this.updateClipboard();
      this.$bvToast.toast(`Запись удалена`, {
        title: 'Успех',
        autoHideDelay: 5000,
        variant: 'success'
      })
    }
  },
  destroyed() {
    this.$nuxt.$off("updateClipboardReplaceCard", this.updateClipboard);
  }
}
</script>
