<template>
  <div>
    <div class="clipboard-button"
         :class="{'clipboard-button-hide': show}"
         @click="show = !show">
      <b-icon icon="clipboard"></b-icon>
    </div>
    <div class="clipboard" :class="{'clipboard-show': show}">
      <div class="clipboard-header d-flex">
        <b-icon class="ml-auto" icon="x" @click="show = !show"></b-icon>
      </div>
      <div class="clipboard" :class="{'clipboard-show': show}">
        <div class="clipboard-header d-flex">
          <b-icon class="ml-auto" icon="x" @click="show = !show"></b-icon>
        </div>
        <b-tabs content-class="clipboard-content-wrapper mt-3" small>
          <b-tab title="Карта изменений" active>
            <ClipboardReplaceCardComponent/>
          </b-tab>
          <b-tab title="Заявки">
            <ClipboardRequestComponent/>
          </b-tab>
          <b-tab title="Закупки">
            <ClipboardPurchasesComponent/>
          </b-tab>
          <b-tab title="Раскладка">
            <ClipboardLayoutComponent/>
          </b-tab>
        </b-tabs>
      </div>
    </div>
  </div>
</template>

<script>

import ClipboardReplaceCardComponent from "@/components/clipboard/ClipboardReplaceCardComponent";
import ClipboardPurchasesComponent from "@/components/clipboard/ClipboardPurchasesComponent";
import ClipboardLayoutComponent from "@/components/clipboard/ClipboardLayoutComponent";
import ClipboardRequestComponent from "@/components/clipboard/ClipboardRequestComponent";

export default {
  name: "ClipboardComponent",
  components: {
    ClipboardReplaceCardComponent,
    ClipboardPurchasesComponent,
    ClipboardLayoutComponent,
    ClipboardRequestComponent,
  },
  data() {
    return {
      show: false,
    }
  },
  async created() {
  },
  methods: {
  },
  destroyed() {
  }
}
</script>

<style>
.clipboard-button {
  width: 40px;
  height: 40px;
  position: fixed;
  z-index: 99;
  left: 20px;
  bottom: 20px;
  background: white;
  border-radius: 20px;
  box-shadow: 0 0 10px black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clipboard-button-hide {
  opacity: 0;
}

.clipboard {
  width: 700px;
  height: 500px;
  position: fixed;
  z-index: 199;
  left: 20px;
  bottom: 20px;
  background: white;
  border-radius: 20px;
  box-shadow: 0 0 5px black;
  opacity: 0;
  transition: opacity 0.5s;
  display: none;
  padding: 20px;
  flex-direction: column;
}

.clipboard-show {
  opacity: 1;
  display: flex;
}

.clipboard .tab-pane {
  height: 100%;
}

.clipboard-content {
  width: 100%;
  height: 400px;
  overflow-y: scroll;
}
</style>

<style>
.clipboard-content-wrapper {
  height: 100%;
}
</style>
