<template>
  <div v-if="entries">
    <EditRequestEntryModalComponent :entry="edit_entry" :show="show_edit_modal"
                                   @setShow="v => show_edit_modal = v"/>
    <div v-if="entries.length === 0">
      <div class="d-flex" style="justify-content: center; align-items: center; height: 100%">
        <div>
          <i>Заявка пуста</i>
        </div>
      </div>
    </div>
    <div class="clipboard-content" v-else>
      <div class="d-flex">
        <b-button class="ml-auto" variant="success" size="sm" @click="createLayout">
          <b-icon icon="file-arrow-up"></b-icon>
          Создать
        </b-button>
      </div>
      <hr>
      <div v-for="(entry, index) of entries">
        <div>
          <b-button class="ml-2 float-right" variant="danger" size="sm" @click="deleteEntry(index)">
            <b-icon icon="trash"></b-icon>
            Удалить
          </b-button>
          <b-button class="float-right" variant="primary" size="sm" @click="editEntry(index)">
            <b-icon icon="pencil"></b-icon>
            Изменить
          </b-button>
        </div>
        <div>
          <b-td>
            <div>
              <strong>Заказ:</strong>
              {{ entry.plan.order.name }}
            </div>
            <div>
              <strong>Деталь:</strong>
              {{ entry.plan.detail.name }}
              {{ entry.plan.detail.number }}
            </div>
            <div>
              <div>
                <strong>Материал:</strong>
                {{ entry.plan.material.name }}
                <span v-if="entry.plan.material.features.s">
                  S: {{ entry.plan.material.features.s }}
                </span>
              </div>
              <div>
                {{ $getMaterialFeaturesStrings(entry.plan.material.features).join(", ") }}
              </div>
            </div>
            <div>
              <strong>Количество:</strong>
              {{ entry.amount }} шт.
            </div>
          </b-td>
        </div>
        <hr>
      </div>
    </div>
  </div>
</template>

<script>

import EditRequestEntryModalComponent from "@/components/clipboard/EditRequestEntryModalComponent";

export default {
  name: "ClipboardLayoutComponent",
  components: {
    EditRequestEntryModalComponent,
  },
  data() {
    return {
      show: false,
      entries: null,
      loading: false,
      edit_entry: null,
      edit_entry_index: null,
      show_edit_modal: false,
    }
  },
  async created() {
    this.$nuxt.$on("updateClipboardRequest", this.updateClipboard)
    await this.updateClipboard();
  },
  methods: {
    async updateClipboard() {
      this.loading = true;
      let {data} = await this.$axios.$get("/clipboard/request");
      this.entries = data['request'];
      this.loading = false;
    },
    async createLayout() {
      await this.$axios.$post("/clipboard/request/create");
      this.$bvToast.toast(`Карта изменений успешно создана`, {
        autoHideDelay: 5000,
        variant: 'success'
      })
      await this.updateClipboard();
    },
    async editEntry(index) {
      this.edit_entry_index = index;
      this.edit_entry = this.entries[index];
      this.show_edit_modal = true;
    },
    async deleteEntry(index) {
      let entry = this.entries[index];
      await this.$axios.$post("/clipboard/request/delete", {
        entry,
      });
      await this.updateClipboard();
      this.$bvToast.toast(`Запись удалена`, {
        title: 'Успех',
        autoHideDelay: 5000,
        variant: 'success'
      })
    },
  },
  destroyed() {
    this.$nuxt.$off("updateClipboardRequest", this.updateClipboard);
  }
}
</script>

<style scoped>
.clipboard-button {
  width: 40px;
  height: 40px;
  position: fixed;
  z-index: 99;
  left: 20px;
  bottom: 20px;
  background: white;
  border-radius: 20px;
  box-shadow: 0 0 10px black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clipboard-button-hide {
  opacity: 0;
}

.clipboard {
  width: 700px;
  height: 500px;
  position: fixed;
  z-index: 199;
  left: 20px;
  bottom: 20px;
  background: white;
  border-radius: 20px;
  box-shadow: 0 0 5px black;
  opacity: 0;
  transition: opacity 0.5s;
  display: none;
  padding: 20px;
  flex-direction: column;
}

.clipboard-show {
  opacity: 1;
  display: flex;
}

.clipboard .tab-pane {
  height: 100%;
}

.clipboard-content {
  width: 100%;
  height: 400px;
  overflow-y: scroll;
}
</style>

<style>
.clipboard-content-wrapper {
  height: 100%;
}
</style>
