<template>
  <div v-if="local_entry">
    <b-modal :visible="show" @change="v => $emit('setShow', v)" v-if="local_entry">
      <template #modal-title>
        <div>
          Изменение материал в закупке
        </div>
      </template>
      <div>
        <div>
          <div v-if="local_entry.material">
            <strong>Материал:</strong>
            {{ local_entry.material.name }}
            {{ local_entry.material.number }}
            {{ $getMaterialFeaturesStrings(local_entry.material.features).join(", ") }}
          </div>
          <p>
            <strong>Масса</strong>
          </p>
          <b-input-group>
            <b-form-input
              class="border-right-0"
              v-model="local_entry.mass"
              type="number"
              placeholder="100"
              required
            ></b-form-input>
            <b-input-group-append>
              <b-input-group-text class="bg-transparent font-weight-bold">
                кг.
              </b-input-group-text>
            </b-input-group-append>
          </b-input-group>
          <p>
            <strong>Длина</strong>
          </p>
          <b-input-group>
            <b-form-input
              class="border-right-0"
              v-model="local_entry.length"
              type="number"
              placeholder="100"
              required
            ></b-form-input>
            <b-input-group-append>
              <b-input-group-text class="bg-transparent font-weight-bold">
                мм.
              </b-input-group-text>
            </b-input-group-append>
          </b-input-group>
        </div>
      </div>
      <template #modal-footer>
        <b-button variant="secondary" class="float-right" @click="$emit('setShow', false)">
          <b-icon icon="x-circle"></b-icon>
          Отмена
        </b-button>
        <b-button variant="success" class="float-right" @click="save">
          <b-icon icon="file-earmark-arrow-down"></b-icon>
          Сохранить
        </b-button>
      </template>
    </b-modal>
  </div>
</template>

<script>
export default {
  name: "EditPurchaseEntryModalComponent",
  props: {
    entry: Object,
    show: false,
  },
  data() {
    return {
      local_entry: {},
    }
  },
  created() {

  },
  methods: {
    async save() {
      await this.$axios.$post("/clipboard/purchases/update", {
        entry: this.local_entry,
      });
      this.$nuxt.$emit("updateClipboardPurchases");
      this.$emit('setShow', false);
      this.$bvToast.toast(`Материал изменен`, {
        title: 'Успех',
        autoHideDelay: 5000,
        variant: 'success'
      })
    }
  },
  watch: {
    entry:{
      immediate: true,
      handler() {
        this.local_entry = Object.assign({}, this.entry);
      }
    }
  }
}
</script>

<style scoped>

</style>
