<template>
  <div v-if="local_entry">
    <b-modal :visible="show" @change="v => $emit('setShow', v)" v-if="local_entry">
      <template #modal-title>
        <div>
          Изменение материал в закупке
        </div>
      </template>
      <div v-if="local_entry.order">
        <div>
          <div>
            <strong>Заказ:</strong>
            {{ local_entry.order.name }}
          </div>
          <div>
            <strong>Деталь:</strong>
            {{ local_entry.plan.detail.name }}
            {{ local_entry.plan.detail.number }}
          </div>
          <p>
            <strong>Количество:</strong>
          </p>
          <b-form-input
            class="border-right-0"
            v-model="local_entry.amount"
            type="number"
            required
          ></b-form-input>
        </div>
      </div>
      <template #modal-footer>
        <b-button variant="secondary" class="float-right" @click="$emit('setShow', false)">
          <b-icon icon="x-circle"></b-icon>
          Отмена
        </b-button>
        <b-button variant="success" class="float-right" @click="save">
          <b-icon icon="file-earmark-arrow-down"></b-icon>
          Сохранить
        </b-button>
      </template>
    </b-modal>
  </div>
</template>

<script>
export default {
  name: "EditLayoutEntryModalComponent",
  props: {
    entry: Object,
    show: false,
  },
  data() {
    return {
      local_entry: {},
    }
  },
  created() {

  },
  methods: {
    async save() {
      await this.$axios.$post("/clipboard/layout/update", {
        entry: this.local_entry,
      });
      this.$nuxt.$emit("updateClipboardLayout");
      this.$emit('setShow', false);
      this.$bvToast.toast(`Деталь в раскладке изменена`, {
        autoHideDelay: 5000,
        variant: 'success'
      })
    }
  },
  watch: {
    entry:{
      immediate: true,
      handler() {
        this.local_entry = Object.assign({}, this.entry);
      }
    }
  }
}
</script>

<style scoped>

</style>
