<template>
  <div v-if="local_entry">
    <b-modal :visible="show" @change="v => $emit('setShow', v)" v-if="local_entry">
      <template #modal-title>
        <div>
          Изменение материал в карте изменений
        </div>
      </template>
      <div v-if="local_entry.type === 'plan'">
        <div>
          <div>
            <strong>Заказ:</strong>
            {{ local_entry.order.name }}
          </div>
          <div>
            <strong>Деталь:</strong>
            {{ local_entry.plan.detail.name }}
            {{ local_entry.plan.detail.number }}
          </div>
          <div>
            <strong>Материал:</strong>
            {{ local_entry.plan.material.name }}
            {{ local_entry.plan.material.number }}
            {{ $getMaterialFeaturesStrings(local_entry.plan.material.features).join(", ") }}
          </div>
          <strong>Заменить на:</strong>
          <MaterialSelectorComponent
            v-model="local_entry.replace_material"
            :state="null"
            :order_id="Number(local_entry.order_id)"
          />
        </div>
      </div>
      <div v-if="local_entry.type === 'material'">
        <div>
          <div>
            <strong>Заказ:</strong>
            {{ local_entry.order.name }}
          </div>
          <div>
            <strong>Деталь:</strong>
            все детали
          </div>
          <div>
            <strong>Материал:</strong>
            {{ local_entry.material.name }}
            {{ local_entry.material.number }}
            {{ $getMaterialFeaturesStrings(local_entry.material.features).join(", ") }}
          </div>
          <strong>Заменить на:</strong>
          <MaterialSelectorComponent
            v-model="local_entry.replace_material"
            :state="null"
            :order_id="Number(local_entry.order_id)"
          />
        </div>
      </div>
      <template #modal-footer>
        <b-button variant="secondary" class="float-right" @click="$emit('setShow', false)">
          <b-icon icon="x-circle"></b-icon>
          Отмена
        </b-button>
        <b-button variant="success" class="float-right" @click="save">
          <b-icon icon="file-earmark-arrow-down"></b-icon>
          Сохранить
        </b-button>
      </template>
    </b-modal>
  </div>
</template>

<script>
import MaterialSelectorComponent from "@/components/materials/MaterialSelectorComponent";

export default {
  name: "EditReplaceCardModalComponent",
  components: {
    MaterialSelectorComponent,
  },
  props: {
    entry: Object,
    show: false,
  },
  data() {
    return {
      local_entry: {},
    }
  },
  created() {

  },
  methods: {
    async save() {
      await this.$axios.$post("/clipboard/replace_card/update", {
        entry: this.local_entry,
      });
      this.$nuxt.$emit("updateClipboardReplaceCard");
      this.$emit('setShow', false);
      this.$bvToast.toast(`Материал изменен`, {
        title: 'Успех',
        autoHideDelay: 5000,
        variant: 'success'
      })
    }
  },
  watch: {
    entry:{
      immediate: true,
      handler() {
        this.local_entry = Object.assign({}, this.entry);
      }
    }
  }
}
</script>

<style scoped>

</style>
