<template>
  <div v-if="items">
    <b-form-select
      :value="selected_item"
      @input="(e) => $emit('input', e)"
      :options="options"
      :state="state"
    ></b-form-select>
  </div>
</template>

<script>
export default {
  name: "SupplierSelectorComponent",
  model: {
    prop: 'selected_item',
    event: 'input'
  },
  props: {
    selected_item: Object,
    state: Boolean,
    order_id: Number,
  },
  data() {
    return {
      items: null,
    }
  },
  async created() {
    await this.fetchItems();
  },
  methods: {
    async fetchItems() {
      let res = await this.$axios.$get("/suppliers", {
        params: {
          order_id: this.order_id,
          per_page: 1000,
        }
      });
      this.items = res.items;
      this.updateItem();
    },
    updateItem() {
      if (!this.selected_item)
        return;
      if (!this.items)
        return;
      this.$emit('input', this.items.filter(i => i.id === this.selected_item.id)[0] ?? null);
    }
  },
  watch: {
    selected_item: {
      immediate: true,
      deep: true,
      handler() {
        this.updateItem();
      }
    }
  },
  computed: {
    options() {
      return [
        {
          text: "Не выбрано",
          value: null,
        },
        ...this.items.map(item => {
          return {
            text: `${item.name}`,
            value: item,
          }
        }),
      ]
    }
  }
}
</script>

<style scoped>

</style>
