<template>
  <div>
    <b-row>
      <b-col>
        <h2>
          <strong>
            Rikon ERP
          </strong>
        </h2>
      </b-col>
      <b-col>
        <h3>
          Производство
        </h3>
        <p>
          <a :href="`/orders`">Заказы</a>
          <br/>
          <a :href="`/order/`">Карты изменений</a>
          <br/>
          <a :href="`/order/`">Участок плазмы</a>
          <br/>
          <a :href="`/order/`">Участок пилы</a>
        </p>
      </b-col>
      <b-col>
        <h3>
          Склад
        </h3>
        <p>
          <a :href="`/order/`">Остатки</a>
          <br/>
          <a :href="`/order/`">Заявки</a>
        </p>
      </b-col>
      <b-col>
        <h3>
          Администрирование
        </h3>
        <p>
          <a :href="`/order/${order_id}/messages`">Пользователи</a>
          <br/>
          <a :href="`/order/${order_id}/messages`">Операции</a>
        </p>
      </b-col>
    </b-row>
    <h3>Сообщения</h3>
    <ItemsView :query="gql => ([gql`
  query Messages($page: Page!, $filter: MessageFilter!) {
    global {
        id
        messages(page: $page, filter: $filter) {
            count
            items {
                id
                message
                sender {
                    id
                    name
                    username
                }
                created_at
                is_deleted
            }
        }
    }
 }
 `, {}])" :per_pages="[10, 20, 50, 100]" :getter="result => result.order.messages">
      <template #filter="{filter}">
        <b-form-group label="Текст" class="mr-2">
          <b-form-input
            v-model="filter.message"
          ></b-form-input>
        </b-form-group>
        <b-form-group label="">
          <b-form-checkbox
            class="mt-4"
            v-model="filter.show_deleted"
          >
            <b-icon class="mt-1" icon="trash"/>
          </b-form-checkbox>
        </b-form-group>
      </template>
      <template #default="{count, items}">
        <MessagesView :messages="items" :delete_query="gql => (gql`
mutation Delete($id: ItemId!) {
    message(id: $id) {
        delete
    }
}
`)
        "/>
        <p class="text-center">
          <i>
            Сообщений: {{ count }}
          </i>
        </p>
      </template>
      <template #bottom>
        <MessageForm :query="gql => ([gql`
mutation Send($data: MessageInput!) {
    global {
        createMessage(data: $data)
    }
}
        `, {order_id}])"/>
      </template>
    </ItemsView>
  </div>
</template>

<script>

import gql from "graphql-tag";
import ItemsView from "@/components/common/view/ItemsView";
import MessageForm from "@/components/messages/MessageForm";
import MessagesView from "@/components/messages/MessagesView";

export default {
  name: "Dashboard",
  components: {
    ItemsView,
    MessageForm,
    MessagesView,
  },
}
</script>

<style scoped>

</style>
