<template>
  <div>
    <b-modal :visible="show" @change="v => $emit('setShow', v)" v-if="edit">
      <template #modal-title>
        <div>
          Изменить операции
        </div>
      </template>
      <p>Добавить операцию:</p>
      <b-overlay :show="!items">
        <b-row>
          <b-col>
            <b-form-group>
              <b-form-select
                v-model="edit_operation_type"
                :options="operations_options"
                required
              ></b-form-select>
            </b-form-group>
          </b-col>
          <b-col>
            <b-button variant="success" class="float-right"
                      @click="edit.push({type: edit_operation_type, working_count: 0, done_count: 0})">
              <b-icon icon="plus"></b-icon>
              Добавить
            </b-button>
          </b-col>
        </b-row>
        <b-table-simple hover small caption-top responsive>
          <b-thead>
            <b-tr>
              <b-th>
                Тип операции
              </b-th>
              <b-th>
                В работе
              </b-th>
              <b-th>
                Выполнено
              </b-th>
              <b-th>

              </b-th>
            </b-tr>
          </b-thead>
          <b-tbody>
            <b-tr v-for="(operation, index) in edit" :key="index">
              <b-td>
                {{ index + 1 }}. {{ items.filter(op => op.code === operation.type)[0].name }}
              </b-td>
              <b-td>
                  <b-form-input
                    v-model="operation.working_count"
                    required
                    type="number"
                    size="sm"
                  ></b-form-input>
              </b-td>
              <b-td>
                <b-form-input
                  v-model="operation.done_count"
                  required
                  type="number"
                  size="sm"
                ></b-form-input>
              </b-td>
              <b-td>
                <b-button variant="danger" class="float-right" size="sm"
                          @click="edit.splice(index, 1)">
                  <b-icon icon="x"></b-icon>
                </b-button>
              </b-td>
            </b-tr>
          </b-tbody>
        </b-table-simple>
      </b-overlay>
      <template #modal-footer>
        <b-button variant="secondary" class="float-right" @click="$emit('setShow', false)">
          <b-icon icon="x-circle"></b-icon>
          Отмена
        </b-button>
        <b-button variant="success" class="float-right" @click="save">
          <b-icon icon="file-earmark-arrow-down"></b-icon>
          Сохранить
        </b-button>
      </template>
    </b-modal>
  </div>
</template>

<script>
import _ from 'lodash';
import MaterialSelectorComponent from "@/components/materials/MaterialSelectorComponent";
import DetailSelectorComponent from "@/components/details/DetailSelectorComponent";
import ElementSelectorComponent from "@/components/elements/ElementSelectorComponent";

export default {
  name: "EditOperationsModalComponent",
  components: {
    DetailSelectorComponent,
    MaterialSelectorComponent,
    ElementSelectorComponent,
  },
  model: {
    prop: 'operations',
    event: 'input'
  },
  props: {
    show: Boolean,
    operations: Array,
  },
  data() {
    return {
      items: null,
      show_validation_errors: false,
      edit: null,
      edit_operation_type: null,
    }
  },
  async created() {
    await this.fetchOperations();
  },
  methods: {
    async fetchOperations() {
      let res = await this.$axios.$get("/operations", {params: {...this.filter}});
      this.items = res;
      this.total_rows = res.length;
    },
    async save() {
      for (let entry of this.edit) {
        entry.working_count = Number(entry.working_count ?? 0);
        entry.done_count = Number(entry.done_count ?? 0);
      }
      this.$emit('save', this.edit);
    },
  },
  watch: {
    operations() {
      this.edit = _.cloneDeep(this.operations) ?? [];
      for (let entry of this.edit) {
        if (!entry.working_count) {
          entry.working_count = 0;
        }
        if (!entry.done_count) {
          entry.done_count = 0;
        }
      }
    },
    edit() {
      this.$emit('input', this.edit);
    }
  },
  computed: {
    operations_options() {
      if (!this.items) {
        return null;
      }
      return this.items.map(({code, name}) => {
        return {
          text: name,
          value: code
        }
      });
    },
  }
}
</script>

<style scoped>

</style>
