<template>
  <div>
    <Selector :selected_id="selected_id_" @input="id => {$emit('input', id)}"
              title="Выбор операции" :fetch_query="gql => gql`
query Fetch($id: ItemId!) {
    operation(id: $id) {
        id
        code,
        name,
    }
}
  `"
              :selected_item_text="item => item.name">
      <template #default="{select}">
        <div class="d-flex">
          <b-button size="sm" class="ml-auto ml-2" @click="select(null)">
            Отменить выбор
          </b-button>
        </div>
        <ItemsView :query="gql => gql`
  query Operations($page: Page!, $filter: OperationsFilter!) {
    operations(page: $page, filter: $filter) {
        count
        items {
            id
            code
            name
        }
    }
 }
 `" :per_pages="[10, 20, 50, 100]" filter_style="select">
          <template #filter="{filter}">
            <div></div>
          </template>
          <template #default="{count, items}">
            <TableView
              :keys="['code', 'name', 'buttons']"
              :count="count"
              :items="items"
            >
              <template #title(code)>
                Код
              </template>
              <template #cell(code)="{item}">
                {{ item.code }}
              </template>
              <template #title(name)>
                Название
              </template>
              <template #cell(name)="{item}">
                {{ item.name }}
              </template>
              <template #cell(buttons)="{item}">
                <div class="d-flex">
                  <b-button size="sm" class="ml-auto ml-2" @click="select(item.id)">
                    Выбрать
                  </b-button>
                </div>
              </template>
            </TableView>
          </template>
        </ItemsView>
      </template>
    </Selector>
  </div>
</template>

<script>

import ItemsView from "~/components/common/view/ItemsView";
import TableView from "~/components/common/view/TableView";
import ItemEditQueries from "~/components/common/edit/ItemEditQueries";
import EditUser from "~/components/users/EditUser";
import gql from "graphql-tag";
import Selector from "@/components/common/selector/Selector";

export default {
  name: 'UserSelector',
  components: {
    ItemsView,
    TableView,
    ItemEditQueries,
    EditUser,
    Selector,
  },
  props: {
    selected_id: Number,
  },
  model: {
    prop: 'selected_id',
    event: 'input',
  },
  data() {
    return {
      show: false,
      selected_id_: null,
    }
  },
  watch: {
    selected_id: {
      immediate: true,
      handler() {
        this.selected_id_ = this.selected_id;
      }
    }
  },
  computed: {
    console: () => console,
  }
}
</script>
