<template>
  <div>
    <ItemEditQueries
      :fetch_query="gql => gql`query Fetch($id: ItemId!) {
    operation(id: $id) {
        code
        name
    }
}
`"
      :create_query="gql => gql`mutation Create($data: OperationInput!) {
    createOperation(data: $data)
}
`"
      :edit_query="gql => gql`mutation Edit($id: ItemId!, $data: OperationInput!) {
    operation(id: $id) {
        edit(data: $data)
    }
}
`"
      :delete_query="gql => gql`mutation Delete($id: ItemId!) {
    operation(id: $id) {
        delete
    }
}
`"
    >
      <template #default="{hooks}">
        <EditOperation :hooks="hooks" ref="edit"/>
      </template>
    </ItemEditQueries>
    <div class="clearfix">
      <h1 class="float-left">Операции</h1>
      <b-button variant="success" class="float-right" @click="$refs.edit ? $refs.edit.create() : null">
        <b-icon icon="plus-circle"></b-icon>
        Создать
      </b-button>
    </div>
    <ItemsView :query="gql => gql`
  query Operations($page: Page!, $filter: OperationsFilter!) {
    operations(page: $page, filter: $filter) {
        count
        items {
            id
            code
            name
        }
    }
 }
 `" :per_pages="[10, 20, 50, 100]">
      <template #filter="{filter}">
        <b-form-group label="Код" class="mr-2">
          <b-form-input
            v-model="filter.code"
          ></b-form-input>
        </b-form-group>
        <b-form-group label="Название" class="mr-2">
          <b-form-input
            v-model="filter.name"
          ></b-form-input>
        </b-form-group>
      </template>
      <template #default="{count, items}">
        <TableView
          :keys="['code', 'name', 'buttons']"
          :count="count"
          :items="items"
        >
          <template #title(code)>
            Код
          </template>
          <template #cell(code)="{item}">
            {{ item.code }}
          </template>
          <template #title(name)>
            Название
          </template>
          <template #cell(name)="{item}">
            {{ item.name }}
          </template>
          <template #cell(buttons)="{item}">
            <div class="d-flex">
              <b-button size="sm" variant="primary" class="ml-auto" @click="$refs.edit ? $refs.edit.edit(item.id) : null">
                <b-icon icon="pencil"></b-icon>
              </b-button>
              <b-button size="sm" variant="danger" class="ml-2" @click="$refs.edit ? $refs.edit.del(item.id) : null">
                <b-icon icon="x"></b-icon>
              </b-button>
            </div>
          </template>
        </TableView>
      </template>
    </ItemsView>
  </div>
</template>

<script>

import ItemsView from "~/components/common/view/ItemsView";
import TableView from "~/components/common/view/TableView";
import ItemEditQueries from "~/components/common/edit/ItemEditQueries";
import EditOperation from "~/components/operations/EditOperation";

export default {
  name: 'Operations',
  components: {
    ItemsView,
    TableView,
    ItemEditQueries,
    EditOperation
  },
}
</script>
