<template>
  <div>
    <b-modal v-model="show" v-if="edit" @change="v => $emit('setShow', v)">
      <template #modal-title>
        <div v-if="edit_id === -1">
          Добавить элемент
        </div>
        <div v-else>
          Изменить элемент
        </div>
      </template>
      <b-form-group label="Наименование">
        <b-form-input
          v-model="edit.name"
          placeholder="Крышка"
          required
          :state="show_validation_errors ? (!edit.name ? false : null) : null"
        ></b-form-input>
      </b-form-group>
      <b-form-group label="Номер">
        <b-form-input
          v-model="edit.number"
          placeholder="А 123.123.12.12"
          required
          :state="show_validation_errors ? (!edit.number ? false : null) : null"
        ></b-form-input>
      </b-form-group>
      <b-form-group label="Чертеж">
        <FileSelectorComponent v-model="edit.blueprint_file" :state="null"/>
      </b-form-group>
      <template v-if="false">

        <h4>Детали</h4>
        <p>Добавить деталь:</p>
        <b-row>
          <b-col>
            <DetailSelectorComponent
              :order_id="order_id"
              v-model="edit_detail"
              :state="show_validation_errors ? (edit.details.length === 0 ? false : null) : null"
            />
          </b-col>
          <b-col>
            <b-button variant="success" class="float-right"
                      :disabled="!edit_detail"
                      @click="edit.details.push({detail: edit_detail, amount: 1})">
              <b-icon icon="plus"></b-icon>
              Добавить
            </b-button>
          </b-col>
        </b-row>
        <b-table-simple hover small caption-top responsive class="mt-2">
          <b-thead>
            <b-tr>
              <b-th>
                Деталь
              </b-th>
              <b-th>
                Кол-во
              </b-th>
              <b-th>

              </b-th>
            </b-tr>
          </b-thead>
          <b-tbody>
            <b-tr v-for="({detail}, index) in edit.details" :key="index">
              <b-td>
                {{ detail.name }}
              </b-td>
              <b-td>
                <b-input-group>
                  <b-form-input
                    class="border-right-0 w-25"
                    v-model="edit.details[index].amount"
                    placeholder="3"
                    required
                  ></b-form-input>
                  <b-input-group-append>
                    <b-input-group-text class="bg-transparent font-weight-bold">
                      шт.
                    </b-input-group-text>
                  </b-input-group-append>
                </b-input-group>
              </b-td>
              <b-td>
                <b-button variant="danger" class="float-right" size="sm"
                          @click="edit.details.splice(index, 1)">
                  <b-icon icon="x"></b-icon>
                </b-button>
              </b-td>
            </b-tr>
          </b-tbody>
        </b-table-simple>
      </template>

      <template #modal-footer>
        <b-button variant="secondary" class="float-right" @click="$emit('setShow', false)">
          <b-icon icon="x-circle"></b-icon>
          Отмена
        </b-button>
        <b-button variant="success" class="float-right" @click="save">
          <b-icon icon="file-earmark-arrow-down"></b-icon>
          Сохранить
        </b-button>
      </template>
    </b-modal>
  </div>
</template>

<script>
import MaterialSelectorComponent from "@/components/materials/MaterialSelectorComponent";
import DetailSelectorComponent from "@/components/details/DetailSelectorComponent";
import FileSelectorComponent from "@/components/files/FileSelectorComponent";

export default {
  name: "EditDetailModalComponent",
  props: {
    show: Number,
    edit_id: Number,
    order_id: Number,
  },
  model: {
    prop: 'edit_id',
    event: 'input',
  },
  components: {
    DetailSelectorComponent,
    MaterialSelectorComponent,
    FileSelectorComponent,
  },
  data() {
    return {
      edit: null,
      edit_operation_type: null,
      edit_detail: null,
      show_validation_errors: false,
    };
  },
  methods: {
    async save() {
      if (!this.is_form_valid) {
        this.show_validation_errors = true;
        return;
      }
      this.show_edit_modal = false;
      this.elements = null;
      let edit = Object.assign({}, this.edit);

      edit.blueprint_file_id = edit.blueprint_file?.id ?? null;
      delete edit.blueprint_file;

      edit.details = this.edit.details.map(({detail, amount}) => {
        return {
          id: detail.id,
          amount,
        }
      })
      if (this.edit_id === -1) {
        await this.$axios.$post("/elements", edit);
      } else {
        await this.$axios.$patch("/elements", edit);
      }
      this.$emit("save");
      this.edit_detail_id = null;
    },
  },
  watch: {
    async edit_id(id) {
      if (id !== -1 && id !== null) {
        this.edit = await this.$axios.$get('/elements/by_id', {params: {id}})
      } else {
        this.edit = {
          order_id: this.order_id,
          name: null,
          number: null,
          details: [],
        }
      }
    }
  },
  computed: {
    operations_options() {
      return Object.entries(this.$getOperations()).map(([type, operation]) => {
        return {
          text: operation.name,
          value: type
        }
      });
    },
    is_form_valid() {
      return !!this.edit.name &&
        !!this.edit.number &&
        this.edit.details.length !== 0;
    }
  }
}
</script>

<style scoped>

</style>
