<template>
  <div>
    <Selector :selected_id="selected_id_" @input="id => {$emit('input', id)}"
              title="Выбор элемента" :fetch_query="gql => gql`
query Fetch($id: ItemId!) {
      element(id: $id) {
        name
        number
      }
}
  `"
              :selected_item_text="item => `${item.name} ${item.number ? `(${item.number})`: ''}`">
      <template #default="{select}">
        <div class="d-flex">
          <b-button size="sm" class="ml-auto ml-2" @click="select(null)">
            Отменить выбор
          </b-button>
        </div>
        <ItemsView :query="gql => [gql`
  query Items($order_id: ItemId!, $page: Page!, $filter: ElementFilter!) {
    order(id: $order_id) {
      id
      elements(page: $page, filter: $filter) {
          count
          items {
              id
              name
              number
              is_deleted
          }
      }
    }
 }
 `, {order_id}]" :per_pages="[10, 20, 50, 100]"
                   :getter="result => {return result.order.elements}"
                   filter_style="select"
        >
          <template #filter="{filter}">
            <div>
              <b-form-group label="Название" class="mr-2">
                <b-form-input
                  v-model="filter.name"
                ></b-form-input>
              </b-form-group>
            </div>
            <div>
              <b-form-group label="Номер" class="mr-2">
                <b-form-input
                  v-model="filter.number"
                ></b-form-input>
              </b-form-group>
            </div>
          </template>
          <template #default="{count, items}">
            <TableView
              :keys="['element', 'buttons']"
              :count="count"
              :items="items"
            >
              <template #title(element)>
                Элемент
              </template>
              <template #cell(element)="{item}">
                <ElementView :element="item"/>
              </template>
              <template #cell(buttons)="{item}">
                <div class="d-flex">
                  <b-button size="sm" class="ml-auto ml-2" @click="select(item.id)">
                    Выбрать
                  </b-button>
                </div>
              </template>
            </TableView>
          </template>
        </ItemsView>
      </template>
    </Selector>
  </div>
</template>

<script>

import ItemsView from "~/components/common/view/ItemsView";
import TableView from "~/components/common/view/TableView";
import ItemEditQueries from "~/components/common/edit/ItemEditQueries";
import EditUser from "~/components/users/EditUser";
import Selector from "@/components/common/selector/Selector";
import ElementView from "@/components/elements/ElementView";

export default {
  name: 'DetailSelector',
  components: {
    ItemsView,
    TableView,
    ItemEditQueries,
    EditUser,
    Selector,
    ElementView,
  },
  props: {
    selected_id: Number,
    order_id: Number,
  },
  model: {
    prop: 'selected_id',
    event: 'input',
  },
  data() {
    return {
      show: false,
      selected_id_: null,
    }
  },
  watch: {
    selected_id: {
      immediate: true,
      handler() {
        this.selected_id_ = this.selected_id;
      }
    }
  },
  computed: {
    console: () => console,
  }
}
</script>
