<template>
  <strong>
    {{ element.name }}
    <span v-if="element.number">
      <i>
        ({{element.number}})
      </i>
    </span>
  </strong>
</template>

<script>
export default {
  name: "DetailView",
  props: {
    element: Object,
  }
}
</script>

<style scoped>

</style>
