<template>
  <div>
    <EditElementModalComponent
      v-model="edit_element_id"
      :show="show_edit_modal"
      @setShow="v => show_edit_modal = v"
      @save="onSave"
      :order_id="order_id"
    />
    <div class="clearfix">
      <h1 class="float-left">Элементы</h1>
      <b-button variant="success" class="float-right" @click="editElement(-1)">
        <b-icon icon="plus-circle"></b-icon>
        Добавить
      </b-button>
    </div>
    <ElementsFilterComponent v-model="filter"/>
    <b-overlay :show="!items">
      <b-table-simple hover small caption-top responsive class="mt-4">
        <b-thead>
          <b-tr>
            <b-th>
              Наименование
            </b-th>
            <b-th>
              Номер элемента
            </b-th>
            <b-th v-if="false">
              Детали
            </b-th>
            <b-th>

            </b-th>
          </b-tr>
        </b-thead>
        <b-tbody>
          <b-tr v-for="element in items" :key="element.id" :class="{'text-muted': element.is_deleted}">
            <b-td>
              {{ element.name }}
            </b-td>
            <b-td>
              {{ element.number }}
            </b-td>
            <b-td v-if="false">
              <div v-for="{detail, amount} in element.details">
                <strong>{{ detail.name }}</strong>
                ({{ detail.number }})
                {{ amount }} шт.
              </div>
            </b-td>
            <b-td v-if="!element.is_deleted">
              <b-button size="sm" variant="danger" class="float-right" @click="deleteElement(element.id)">
                <b-icon icon="x"></b-icon>
              </b-button>
              <b-button size="sm" variant="primary" class="float-right mr-2" @click="editElement(element.id)">
                <b-icon icon="pencil"></b-icon>
              </b-button>
              <b-button size="sm" variant="warning" class="float-right mr-2" @click="createTasks(element.id)" v-if="false">
                Создать задачи
              </b-button>
              <FileViewerComponent
                :file="element.blueprint_file"
                :show="show_blueprint_modals[element.id]"
                @setShow="v => {$set(show_blueprint_modals, element.id, v), $forceUpdate()}"/>
              <b-button size="sm"
                        variant="info"
                        class="float-right mr-2"
                        @click="$set(show_blueprint_modals, element.id, true), $forceUpdate()"
                        v-if="element.blueprint_file"
              >
                <b-icon icon="fullscreen"></b-icon>
              </b-button>
            </b-td>
            <b-td v-else>

            </b-td>
          </b-tr>
          <b-tr v-if="items">
            <b-td colspan="4" class="text-center">
              <i>
                Найдено записей: {{ total_rows }}
              </i>
            </b-td>
          </b-tr>
        </b-tbody>
      </b-table-simple>
      <div class="d-flex align-items-center justify-content-center">
        <b-pagination
          v-model="filter.page"
          :total-rows="total_rows"
          :per-page="filter.per_page"
        ></b-pagination>
      </div>
    </b-overlay>
  </div>
</template>

<script>

import EditElementModalComponent from "@/components/elements/EditElementModalComponent";
import ElementsFilterComponent from "@/components/elements/ElementsFilterComponent";
import _ from 'lodash';
import FileViewerComponent from "@/components/files/FileViewerComponent";

export default {
  name: 'DetailsComponent',
  layout: 'panel',
  components: {
    EditElementModalComponent,
    ElementsFilterComponent,
    FileViewerComponent,
  },
  props: {
    order_id: Number,
  },
  data() {
    return {
      show_edit_modal: false,
      edit_element_id: null,
      items: null,
      total_rows: 0,
      filter: {
        per_page: 10,
        page: 1,
      },
      show_blueprint_modals: {},
    }
  },
  async created() {
    this.fetchItems = _.throttle(this.fetchItems, 300);
    await this.fetchItems();
  },
  methods: {
    async fetchItems() {
      let res = await this.$axios.$get("/elements", {
        params: {
          ...this.filter,
          order_id: this.order_id,
        }
      });
      this.items = res.items;
      this.total_rows = res.count;
      this.show_blueprint_modals = {};
      for (let item of this.items) {
        this.show_blueprint_modals[item.id] = false;
      }
    },
    async editElement(id) {
      this.edit_element_id = id;
      this.show_edit_modal = true;
    },
    async createTasks(element_id) {
      await this.$axios.$post("/tasks/create/for_element", {element_id});
      this.$bvToast.toast(`Задачи созданы`, {
        autoHideDelay: 5000,
        variant: 'success',
      })
    },
    async onSave() {
      this.show_edit_modal = false;
      this.items = null;
      await this.fetchItems();
    },
    async deleteElement(id) {
      this.items = null;
      await this.$axios.$delete("/elements", {params: {id}});
      await this.fetchItems();
    }
  },
  watch: {
    filter: {
      deep: true,
      async handler () {
        this.items = null;
        await this.fetchItems();
      },
    },
  },
}
</script>
