<template>
  <div>
    <OrderRouteProvider>
      <template #default="{order}">
        <b-breadcrumb :items="[
          {text: 'Заказы', href: '/orders'},
          {text: order.name, href: `/order/${order.id}`},
          {text: 'План', active: true},
          {text: 'Задачи', active: true},
        ]"></b-breadcrumb>
      </template>
    </OrderRouteProvider>
    <OrderPlan :order_id="Number($route.params.order_id)"/>
  </div>
</template>

<script>


import OrderRouteProvider from "@/components/orders/OrderRouteProvider";
import OrderPlan from "@/components/orders/plan/OrderPlan";

export default {
  name: 'OrderPlanEntriesPage',
  layout: 'panel',
  components: {
    OrderPlan,
    OrderRouteProvider,
  },
  head() {
    return {
      title: "Задачи"
    };
  },
}
</script>
