<template>
  <div>
    <OrderRouteProvider>
      <template #default="{order}">
        <b-breadcrumb :items="[
          {text: 'Заказы', href: '/orders'},
          {text: order.name, href: `/order/${order.id}`},
          {text: 'Сервис', active: true},
          {text: 'Импорт из лимитной карты', active: true},
        ]"></b-breadcrumb>
      </template>
    </OrderRouteProvider>
    <Import title="Импорт из лимитной карты" :columns="[
      {name: 'element_number', text: 'Номер элемента'},
      {name: 'element_name', text: 'Наименование элемента'},
      {name: 'detail_number', text: 'Номер детали'},
      {name: 'detail_name', text: 'Наименование детали'},
      {name: 'amount', text: 'Количество деталей'},
      {name: 'material_name', text: 'Наименование материала'},
      {name: 'material_s', text: 'S материала'},
      {name: 'material_grade', text: 'Марка материала'},
      {name: 'unit_size', text: 'Размер материала для детали'},
      {name: 'unit_mass', text: 'Масса детали'},
      {name: 'comment', text: 'Комметарий'},
      {name: 'operations', text: 'Операции'},
    ]">
      <template #default="{items}">
        <ImportPlan :items="items"/>
      </template>
    </Import>
  </div>
</template>

<script>


import OrderRouteProvider from "@/components/orders/OrderRouteProvider";
import Import from "@/components/import/Import";
import ImportPlan from "@/components/plan/ImportPlan";

export default {
  name: 'OrderPlanImportPage',
  layout: 'panel',
  components: {
    OrderRouteProvider,
    Import,
    ImportPlan,
  },
  head() {
    return {
      title: "Импорт лимитной карты"
    };
  },
}
</script>
