<template>
  <div>
    <b-modal v-model="show" v-if="edit" @change="v => $emit('setShow', v)">
      <template #modal-title>
        <div v-if="edit_id === -1">
          Добавить заказ
        </div>
        <div v-else>
          Изменить заказ
        </div>
      </template>
      <b-form-group label="Название заказа">
        <b-form-input
          v-model="edit.name"
          placeholder="напр. заказ для компании N"
          required
        ></b-form-input>
      </b-form-group>
      <template #modal-footer>
        <b-button variant="secondary" class="float-right" @click="$emit('setShow', false)">
          <b-icon icon="x-circle"></b-icon>
          Отмена
        </b-button>
        <b-button variant="success" class="float-right" @click="saveOrder">
          <b-icon icon="file-earmark-arrow-down"></b-icon>
          Сохранить
        </b-button>
      </template>
    </b-modal>
  </div>
</template>

<script>
import MaterialSelectorComponent from "@/components/materials/MaterialSelectorComponent";

export default {
  name: "EditMaterialModalComponent",
  props: {
    show: Boolean,
    edit_id: Number,
  },
  model: {
    prop: 'edit_id',
    event: 'input',
  },
  data() {
    return {
      edit: null,
    };
  },
  methods: {
    async saveOrder() {
      if (this.edit_id === -1) {
        await this.$axios.$post("/orders", this.edit);
      } else {
        await this.$axios.$patch("/orders", this.edit);
      }
      this.$emit("save");
    },
  },
  watch: {
    async edit_id(id) {
      if (id !== -1 && id !== null) {
        this.edit = await this.$axios.$get('/orders/by_id', {params: {id}})
      } else {
        this.edit = {
          name: "",
        }
      }
    }
  },
}
</script>

<style scoped>

</style>
