<template>
  <div>
    <slot :order="order">

    </slot>
  </div>
</template>

<script>
import gql from "graphql-tag";

export default {
  name: "OrderRouteProvider",
  data() {
    return {
      order: {},
    }
  },
  apollo: {
    order() {
      return {
        query: gql`query FetchOrderForRouteProvider($order_id: ItemId!) {
            order(id: $order_id) {
                id
                name
            }
        }`,
        /*update: (result) => {
          return result.order;
        },*/
        variables: {
          order_id: this.order_id
        }
      }
    },
  },
  computed: {
    order_id() {
      return Number(this.$route.params.order_id);
    }
  }
}
</script>

<style scoped>

</style>
