<template>
  <div>
    <ItemEditQueries
      :fetch_query="gql => gql`query Fetch($id: ItemId!) {
    order(id: $id) {
        name
        comment
    }
}
`"
      :create_query="gql => gql`mutation Create($data: OrderInput!) {
    createOrder(data: $data)
}
`"
      :edit_query="gql => gql`mutation Edit($id: ItemId!, $data: OrderInput!) {
    order(id: $id) {
        edit(data: $data)
    }
}
`"
      :delete_query="gql => gql`mutation Delete($id: ItemId!) {
    order(id: $id) {
        delete
    }
}
`"
    >
      <template #default="{hooks}">
        <EditOrder :hooks="hooks" ref="edit"/>
      </template>
    </ItemEditQueries>
    <div class="clearfix">
      <h1 class="float-left">Заказы</h1>
      <b-button variant="success" class="float-right" @click="$refs.edit ? $refs.edit.create() : null">
        <b-icon icon="plus-circle"></b-icon>
        Создать
      </b-button>
    </div>
    <ItemsView :query="gql => gql`
  query Users($page: Page!, $filter: OrderFilter!) {
    orders(page: $page, filter: $filter) {
        count
        items {
            id
            name
            comment
            is_deleted
        }
    }
 }
 `" :per_pages="[9, 27, 90]">
      <template #filter="{filter}">
        <b-form-group label="Наименование" class="mr-2">
          <b-form-input
            placeholder="123-45"
            v-model="filter.name"
          ></b-form-input>
        </b-form-group>
        <b-form-group label="">
          <b-form-checkbox
            class="mt-4"
            v-model="filter.show_deleted"
          >
            <b-icon class="mt-1" icon="trash"/>
          </b-form-checkbox>
        </b-form-group>
      </template>
      <template #default="{count, items}">
        <CardsView :count="count" :items="items">
          <template #header="{item}">
            <div class="d-flex">
              {{ item.name }}
              <span v-if="!item.is_deleted" class="ml-auto">
                <b-icon icon="pencil" class="mt-1" @click="$refs.edit ? $refs.edit.edit(item.id) : null"></b-icon>
                <b-icon

                  icon="trash" class="ml-2 mt-1" @click="$refs.edit ? $refs.edit.del(item.id) : null"></b-icon>
              </span>
            </div>
          </template>
          <template #default="{item}">
            <p>
              <span v-if="item.is_deleted">
                <span class="text-danger">
                  <b-icon icon="x-circle-fill"/>
                </span>
                Удален
              </span>
            </p>
            <p>
              {{ item.comment }}
            </p>
            <p>
              <a :href="`/order/${item.id}`">Открыть заказ</a>
            </p>
          </template>
        </CardsView>
      </template>
    </ItemsView>
  </div>
</template>

<script>

import ItemsView from "~/components/common/view/ItemsView";
import ItemEditQueries from "~/components/common/edit/ItemEditQueries";
import EditOrder from "~/components/orders/EditOrder";
import CardsView from "~/components/common/view/CardsView";

export default {
  name: 'Orders',
  components: {
    ItemsView,
    ItemEditQueries,
    EditOrder,
    CardsView,
  },
}
</script>
