<template>
  <div>
    <b-row>
      <b-col>
        <h2>
          <strong>
            Заказ
          </strong>
        </h2>
        <p>
          <strong>Наименование:</strong>
          {{ order.name }}
          <br/>
          <template v-if="order.comment">
            <strong>Комментарий:</strong>
            {{ order.comment }}
          </template>
        </p>
      </b-col>
      <b-col>
        <h3>
          План
        </h3>
        <p>
          <a :href="`/order/${order_id}/plan/entries`">Задачи</a>
          <br/>
          <a :href="`/order/${order_id}/plan/materials`">Материалы</a>
        </p>
      </b-col>
      <b-col>
        <h3>
          Реестр
        </h3>
        <p>
          <a :href="`/order/${order_id}/registry/materials`">Материалы</a>
          <br/>
          <a :href="`/order/${order_id}/registry/details`">Детали</a>
          <br/>
          <a :href="`/order/${order_id}/registry/elements`">Элементы</a>
        </p>
      </b-col>
      <b-col>
        <h3>
          Сервис
        </h3>
        <p>
          <a :href="`/order/${order_id}/plan/import`">Импорт из лимитной карты</a>
          <br/>
          <a :href="`/order/${order_id}/messages`">Дублирование заказа</a>
        </p>
      </b-col>
    </b-row>
    <h3>Участки</h3>
    <ApolloQuery
      :query="gql => gql`
    query Fetch {
      operations(page: {page: 1, per_page: 1000}, filter: {}) {
        count
        items {
          code
          name
        }
      }
    }
  `"
    >
      <template v-slot="{ result: { error, data }, isLoading }">
        <div v-if="data">
          <CardsView :items="data.operations.items.filter(item => item.code !== 'PILA' && item.code !== 'PLASMA')" :items_per_row="4" :hide_header="true">
            <template #default="{item}">
              <strong>{{ item.code }}</strong>
              <br/>
              {{ item.name }}
            </template>
          </CardsView>
        </div>
      </template>
    </ApolloQuery>
    <h3 class="mt-4">Сообщения</h3>
    <ItemsView :query="gql => ([gql`
  query Messages($order_id: ItemId!, $page: Page!, $filter: MessageFilter!) {
    order(id: $order_id) {
        id
        messages(page: $page, filter: $filter) {
            count
            items {
                id
                message
                sender {
                    id
                    name
                    username
                }
                created_at
                is_deleted
            }
        }
    }
 }
 `, {order_id}])" :per_pages="[10, 20, 50, 100]" :getter="result => result.order.messages">
      <template #filter="{filter}">
        <b-form-group label="Текст" class="mr-2">
          <b-form-input
            v-model="filter.message"
          ></b-form-input>
        </b-form-group>
        <b-form-group label="Пользователь" class="mr-2">
          <UserSelector v-model="filter.sender_id"/>
        </b-form-group>
        <b-form-group label="">
          <b-form-checkbox
            class="mt-4"
            v-model="filter.show_deleted"
          >
            <b-icon class="mt-1" icon="trash"/>
          </b-form-checkbox>
        </b-form-group>
      </template>
      <template #default="{count, items}">
        <MessagesView :messages="items" :delete_query="gql => (gql`
mutation Delete($id: ItemId!) {
    message(id: $id) {
        delete
    }
}
`)
        "/>
        <p class="text-center">
          <i>
            Сообщений: {{ count }}
          </i>
        </p>
      </template>
      <template #bottom>
        <MessageForm :query="gql => ([gql`
mutation Send($order_id: ItemId!, $data: MessageInput!) {
    order(id: $order_id) {
        id
        createMessage(data: $data)
    }
}
        `, {order_id}])"/>
      </template>
    </ItemsView>
  </div>
</template>

<script>

import gql from "graphql-tag";
import ItemsView from "@/components/common/view/ItemsView";
import MessageForm from "@/components/messages/MessageForm";
import MessagesView from "@/components/messages/MessagesView";
import CardsView from "@/components/common/view/CardsView";
import UserSelector from "@/components/users/UserSelector";

export default {
  name: "Order",
  components: {
    ItemsView,
    MessageForm,
    MessagesView,
    CardsView,
    UserSelector,
  },
  props: {
    order_id: Number,
  },
  data() {
    return {
      order: {},
    }
  },
  apollo: {
    order() {
      return {
        query: gql`query Fetch($order_id: ItemId!) {
            order(id: $order_id) {
                id
                name
                comment
            }
        }`,
        update: (result) => {
          return result.order;
        },
        variables: {
          order_id: this.order_id
        }
      }
    },
  },
}
</script>

<style scoped>

</style>
