<template>
  <div>
    <div class="clearfix">
      <slot name="title">
        <h1>Заказы</h1>
      </slot>
      <b-button variant="success" class="float-right" @click="editItem(-1)">
        <b-icon icon="plus-circle"></b-icon>
        Создать заказ
      </b-button>
    </div>
    <EditOrderModalComponent
      v-model="edit_order_id"
      :show="show_edit_modal"
      @save="onSave"
      @setShow="v => show_edit_modal = v"
    />
    <OrdersFilterComponent v-model="filter"/>
    <b-overlay :show="!items">
      <template v-if="items">
        <b-row class="mt-4" v-for="i in Math.ceil(items.length / 3)" :key="i">
          <b-col md="4" v-for="(order, index) in items.slice((i - 1) * 3, i * 3)" :key="index">
            <b-card>
              <template #header>
                <div class="d-flex">
                  Заказ
                  <span v-if="!order.is_deleted" class="ml-auto">
                    <b-icon icon="pencil" class="mt-1" @click="editItem(order.id)"></b-icon>
                    <b-icon

                      icon="trash" class="ml-2 mt-1" @click="deleteItem(order.id)"></b-icon>
                  </span>
                </div>
              </template>
              <b-card-text>
                <p>
                  <span :class="{'text-muted': order.is_deleted}">
                    {{ order.name }}
                  </span>
                  <span v-if="order.is_deleted">
                    <span class="text-danger">
                      <b-icon icon="x-circle-fill"/>
                    </span>
                    Удален
                  </span>
                </p>
                <p>
                  <a href="#" @click.prevent="openOrder(order)">Открыть заказ</a>
                </p>
              </b-card-text>
            </b-card>
          </b-col>
        </b-row>
      </template>
      <p class="text-center" v-if="items">
        Найдено заказов: {{ total_rows }}
      </p>
      <div class="d-flex align-items-center justify-content-center">
        <b-pagination
          v-model="filter.page"
          :total-rows="total_rows"
          :per-page="filter.per_page"
        ></b-pagination>
      </div>
    </b-overlay>
  </div>
</template>

<script>

import moment from 'moment'
import OrdersFilterComponent from "@/components/orders/OrdersFilterComponent";
import EditOrderModalComponent from "@/components/orders/EditOrderModalComponent";

export default {
  name: 'OrdersComponent',
  components: {
    EditOrderModalComponent,
    OrdersFilterComponent,
  },
  data() {
    return {
      show_edit_modal: false,
      edit_order_id: null,
      items: null,
      total_rows: 0,
      filter: {
        per_page: 30,
        page: 1,
      },
    }
  },
  async created() {
    await this.fetchItems();
  },
  methods: {
    async fetchItems() {
      let res = await this.$axios.$get("/orders", {params: {...this.filter}});
      this.items = res.items;
      this.total_rows = res.count;
    },
    async update() {
      this.requests = null;
      await this.fetchRequests();
    },
    async editItem(id) {
      this.edit_order_id = id;
      this.show_edit_modal = true;
    },
    async onSave() {
      this.show_edit_modal = false;
      this.items = null;
      await this.fetchItems();
    },
    async openOrder(order) {
      this.$emit("openOrder", order);
    },
    async deleteItem(id) {
      this.items = null;
      await this.$axios.$delete("/orders", {params: {id}});
      await this.fetchItems();
    },
  },
  watch: {
    filter: {
      deep: true,
      async handler() {
        this.requests = null;
        await this.fetchItems();
      },
    },
  },
  computed: {
    moment: () => moment,
  }
}
</script>
