<template>
  <div>
    <b-tabs content-class="mt-3" align="left">
      <b-tab title="План" active lazy>
        <PlanComponent :order_id="Number(this.$route.params.order_id)"/>
      </b-tab>
      <b-tab title="Материалы" lazy>
        <PlanMaterialsComponent :order_id="Number(this.$route.params.order_id)"/>
      </b-tab>
      <b-tab title="Импорт" lazy>
        <PlanImportComponent :order_id="Number(this.$route.params.order_id)"/>
      </b-tab>
      <b-tab title="Сообщения" lazy>
        <MessagesComponent chat_type="order" :chat_id1="order.id" :chat_id2="null"/>
      </b-tab>
    </b-tabs>
  </div>
</template>

<script>

import MessagesComponent from "@/components/messages/MessagesComponent";
import PlanImportComponent from "@/components/orders/plan/PlanImportComponent";
import PlanComponent from "@/components/orders/plan/PlanComponent";
import PlanMaterialsComponent from "@/components/orders/plan/PlanMaterialsComponent";

export default {
  name: "OrderComponent",
  components: {
    MessagesComponent,
    PlanImportComponent,
    PlanComponent,
    PlanMaterialsComponent,
  },
  props: {
    order: Object,
  },
  data() {
    return {
      edit: null,
    };
  },
  methods: {
    async saveOrder() {
      if (this.order.id === -1) {
        await this.$axios.$post("/orders", this.order);
      } else {
        await this.$axios.$patch("/orders", this.order);
      }
      this.$emit("save");
    },
  },
}
</script>

<style scoped>

</style>
