<template>
  <div>
    <b-modal :visible="show" v-if="edit" @change="v => $emit('setShow', v)">
      <template #modal-title>
        <div v-if="edit_id === -1">
          Добавить на склад
        </div>
        <div v-else>
          Изменить позицию на складе
        </div>
      </template>
      <b-form-group label="Материал">
        <MaterialSelectorComponent
          v-model="edit.material"
          :state="show_validation_errors ? (!edit.material ? false : null) : null"
          @input="setRemainingLength"
        />
      </b-form-group>
      <b-row>
        <b-col>
          <b-form-group label="Номер плавки">
            <b-input-group>
              <b-form-input
                class=""
                v-model="edit.melting_number"
                placeholder="100"
                required
                :state="show_validation_errors ? (!edit.melting_number ? false : null) : null"
              ></b-form-input>
            </b-input-group>
          </b-form-group>
        </b-col>
        <b-col>
          <b-form-group label="Количетсво">
            <b-input-group>
              <b-form-input
                :disabled="is_without_amount"
                class="border-right-0"
                v-model="edit.amount"
                placeholder="5"
                required
                :state="show_validation_errors ? (!edit.amount ? false : null) : null"
              ></b-form-input>
              <b-input-group-append>
                <b-input-group-text class="bg-transparent font-weight-bold">
                  шт
                </b-input-group-text>
              </b-input-group-append>
            </b-input-group>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <b-form-checkbox
            v-model="edit.has_length"
            @input="updateEditAmount"
          >
            Есть длина (материал можно распилить)
          </b-form-checkbox>
        </b-col>
      </b-row>
      <b-row v-if="edit.has_length">
        <b-col>
          <b-form-group label="Длина детали">
            <b-input-group>
              <b-form-input
                class="border-right-0"
                v-model="edit.remaining_length"
                placeholder="100"
                required
                :state="show_validation_errors ? (!edit.remaining_length ? false : null) : null"
                @input="updateEditAmount"
              ></b-form-input>
              <b-input-group-append>
                <b-input-group-text class="bg-transparent font-weight-bold">
                  мм
                </b-input-group-text>
              </b-input-group-append>
            </b-input-group>
          </b-form-group>
        </b-col>
      </b-row>
      <template #modal-footer>
        <b-button variant="secondary" class="float-right" @click="show_edit_modal = false">
          <b-icon icon="x-circle"></b-icon>
          Отмена
        </b-button>
        <b-button variant="success" class="float-right" @click="save">
          <b-icon icon="file-earmark-arrow-down"></b-icon>
          Сохранить
        </b-button>
      </template>
    </b-modal>
  </div>
</template>

<script>
import MaterialSelectorComponent from "@/components/materials/MaterialSelectorComponent";

export default {
  name: "EditItemComponent",
  props: {
    show: Number,
    edit_id: Number,
    location: String,
  },
  model: {
    prop: 'edit_id',
    event: 'input',
  },
  components: {
    MaterialSelectorComponent,
  },
  data() {
    return {
      edit: null,
      edit_operation_type: null,
      edit_detail: null,
      show_validation_errors: false,
    };
  },
  methods: {
    async save() {
      if (!this.is_form_valid) {
        this.show_validation_errors = true;
        return;
      }
      this.show_edit_modal = false;
      this.items = null;
      let edit = this.edit;
      if (!edit.has_length) {
        edit.remaining_length = null;
      }
      edit.location = this.location;
      edit.material_id = edit.material.id;
      delete edit.material;
      if (this.edit_id === -1) {
        await this.$axios.$post("/stock/items", edit);
      } else {
        await this.$axios.$patch("/stock/items", edit);
      }
      this.$emit("save");
      this.edit_id = null;
    },
    setRemainingLength() {
      this.edit.remaining_length = this.getEditItemMaterialLength();
    },
    updateEditAmount() {
      if (this.is_without_amount) {
        this.edit.amount = 1;
      }
    },
    getEditItemMaterialLength() {
      let material = this.edit.material;
      return material?.features?.size?.length;
    },
  },
  watch: {
    async edit_id(id) {
      if (id !== -1 && id !== null) {
        this.edit = await this.$axios.$get('/stock/items/by_id', {params: {id}})
      } else {
        this.edit = {
          material_id: null,
          melting_number: null,
          amount: null,
          has_length: false,
          remaining_length: null,
        }
      }
    }
  },
  computed: {
    is_form_valid() {
      return !!this.edit.material &&
        !!this.edit.melting_number &&
        !!this.edit.amount;
    },
    is_without_amount() {
      let material_length = this.getEditItemMaterialLength();
      if (!material_length) {
        return false;
      }
      return Number(this.edit.remaining_length) !== material_length;
    },
  }
}
</script>

<style scoped>

</style>
