<template>
  <div>
    <b-modal :visible="show" v-if="move_item" @change="v => $emit('setShow', v)">
      <template #modal-title>
        <div>
          Переместить материал
        </div>
      </template>
      <div>
        <strong>Остаток:</strong>
        {{ move_item.amount }}
      </div>
      <p>Количество для перемещения</p>
      <b-row class="mt-2">
        <b-col>
          <b-form-group>
            <b-input-group>
              <b-form-input
                class="border-right-0"
                v-model="move.amount"
                placeholder="5"
                required
              ></b-form-input>
              <b-input-group-append>
                <b-input-group-text class="bg-transparent font-weight-bold">
                  шт
                </b-input-group-text>
              </b-input-group-append>
            </b-input-group>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <b-form-group label="Конечный пункт">
            <b-form-select
              v-model="move.to_location"
              :options="move_to_location_options"
              required
            ></b-form-select>
          </b-form-group>
        </b-col>
      </b-row>
      <template #modal-footer>
        <b-button variant="secondary" class="float-right" @click="show_move_modal = false">
          <b-icon icon="x-circle"></b-icon>
          Отмена
        </b-button>
        <b-button variant="primary" class="float-right" :disabled="move.amount > move_item.amount" @click="moveItem()">
          <b-icon icon="arrows-move"></b-icon>
          Переместить
        </b-button>
      </template>
    </b-modal>
  </div>
</template>

<script>
export const ERROR_NOT_ENOUGH_ITEMS_TO_MOVE = 8;

export default {
  name: "MoveItemModalComponent",
  props: {
    show: Boolean,
    move_id: Number,
    location: String,
  },
  model: {
    prop: 'move_id',
    event: 'input',
  },
  data() {
    return {
      edit: null,
      edit_operation_type: null,
      edit_detail: null,
      show_validation_errors: false,
      move_item: null,
      move: {
        amount: null,
        to_location: null,
      },
    };
  },
  methods: {
    async saveItem() {
      if (!this.is_form_valid) {
        this.show_validation_errors = true;
        return;
      }
      this.show_edit_modal = false;
      this.items = null;
      let edit = this.edit;
      if (!edit.has_length) {
        edit.remaining_length = null;
      }
      edit.location = this.location;
      edit.material_id = edit.material.id;
      delete edit.material;
      if (this.edit_id === -1) {
        await this.$axios.$post("/stock/items", edit);
      } else {
        await this.$axios.$patch("/stock/items", edit);
      }
      this.$emit("save");
      this.edit_id = null;
    },
    setRemainingLength() {
      this.edit.remaining_length = this.getEditItemMaterialLength();
    },
    updateEditAmount() {
      if (this.is_without_amount) {
        this.edit.amount = 1;
      }
    },
    getEditItemMaterialLength() {
      let material = this.edit.material;
      return material?.features?.size?.length;
    },
    async moveItem() {
      try {
        await this.$axios.$post("/stock/move", {
          item_id: this.move_id,
          ...this.move,
        });
        this.$bvToast.toast(`Материалы успешно перемещены!`, {
          autoHideDelay: 5000,
          variant: 'success',
        })
        this.show_move_modal = false;
        this.move_id = null;
        this.$emit('update');
      } catch (e) {
        if (e.response && e.response.status === 400) {
          if (e.response.data['error_code'] === ERROR_NOT_ENOUGH_ITEMS_TO_MOVE) {
            this.$bvToast.toast(`Недостаточно материала`, {
              title: 'Ошибка',
              autoHideDelay: 5000,
              variant: 'danger',
            })
          }
        } else {
          throw e;
        }
      }
    },
  },
  watch: {
    async move_id(id) {
      this.move_item = null;
      if (id !== -1 && id !== null) {
        this.move_item = await this.$axios.$get('/stock/items/by_id', {params: {id}})
      }
    }
  },
  computed: {
    is_form_valid() {
      return !!this.edit.material &&
        !!this.edit.melting_number &&
        !!this.edit.amount;
    },
    is_without_amount() {
      let material_length = this.getEditItemMaterialLength();
      if (!material_length) {
        return false;
      }
      return Number(this.edit.remaining_length) !== material_length;
    },
    move_to_location_options() {
      return Object.entries(this.$getStockItemLocations())
        .filter(([id, location]) => id !== this.location)
        .map(([id, location]) => {
          return {
            text: location.name,
            value: id,
          }
        })
    }
  }
}
</script>

<style scoped>

</style>
