<template>
  <div>
    <EditItemModalComponent
      v-model="edit_item_id"
      :show="show_edit_modal"
      :location="location"
      @save="onSave"
      @setShow="v => show_edit_modal = v"
    />
    <MoveItemModalComponent
      :location="location"
      v-model="move_id"
      :show="show_move_modal"
      @update="onMoveUpdate"
      @setShow="v => show_move_modal = v"
    />
    <b-overlay :show="!items">
      <div>
        <slot name="title">

        </slot>
        <b-button variant="success" class="float-right" @click="editItem(-1)" v-if="location === 'warehouse'">
          <b-icon icon="plus-circle"></b-icon>
          Добавить на склад
        </b-button>
      </div>
      <b-table-simple hover small caption-top responsive>
        <b-thead>
          <b-tr>
            <b-th>
              Материал
            </b-th>
            <b-th>
              Свойства
            </b-th>
            <b-th>
              Количество
            </b-th>
            <b-th>

            </b-th>
          </b-tr>
        </b-thead>
        <b-tbody>
          <b-tr v-for="item in items" :key="item.id">
            <b-td>
              <strong>{{ item.material.name }}</strong>
              <br>
              {{ $getMaterialFeaturesStrings(item.material.features).join(", ") }}
            </b-td>
            <b-td>
              <span v-for="(s, index) in $getStockItemStrings(item)">
                <br v-if="index !== 0"/>
                {{ s }}
              </span>
              <br/>
            </b-td>
            <b-td>
              {{ item.amount }}
            </b-td>
            <b-td>
              <b-button size="sm" variant="outline-primary" class="float-right" @click="showMoveModal(item.id)">
                <b-icon icon="arrows-move"></b-icon>
                Переместить
              </b-button>
            </b-td>
          </b-tr>
        </b-tbody>
      </b-table-simple>
    </b-overlay>
  </div>
</template>

<script>

import EditItemModalComponent from "@/components/stock/EditItemModalComponent";
import MoveItemModalComponent from "@/components/stock/MoveItemModalComponent";
import _ from "lodash";


export default {
  name: 'StockComponent',
  components: {
    EditItemModalComponent,
    MoveItemModalComponent,
  },
  props: {
    location: String,
  },
  data() {
    return {
      materials: null,
      items: null,
      edit_item_id: null,
      show_edit_modal: false,
      edit_item: null,

      show_move_modal: false,
      move_id: null,

      total_rows: 0,
      filter: {
        per_page: 10,
        page: 1,
      },
    }
  },
  async created() {
    this.fetchItems = _.throttle(this.fetchItems, 300);
    await this.fetchItems();
  },
  methods: {
    async fetchItems() {
      let res = await this.$axios.$get("/stock/items/by_location", {params: {location: this.location}});
      this.items = res.items;
      this.total_rows = res.count;
    },
    async editItem(id) {
      this.edit_item_id = id;
      this.show_edit_modal = true;
    },
    showMoveModal(id) {
      console.log("SHOW", id)
      this.move_id = id;
      this.show_move_modal = true;
    },
    getMoveItem() {
      return this.items.filter(item => item.id === this.move_id)[0];
    },
    async onSave() {
      this.show_edit_modal = false;
      this.items = null;
      await this.fetchItems();
    },
    async onMoveUpdate() {
      this.show_move_modal = false;
      this.items = null;
      await this.fetchItems();
    },
  },
  computed: {
    materials_options() {
      return this.materials.map((material) => {
        return {
          text: `${material.name} ${this.$getMaterialFeaturesStrings(material.features).join(", ")}`,
          value: material.id,
        }
      })
    },
  }
}
</script>
