<template>
  <div v-if="!replaces">
    Загрузка...
  </div>
  <div v-else contenteditable="true">
    <div v-for="(chunk, index) of data">
      <table>
        <tbody>
        <tr>
          <td></td>
          <td colspan="4">
            Карта разрешения на отступление №
            &lt;данные&gt;
          </td>
          <td colspan="2"></td>
        </tr>
        <tr>
          <td rowspan="2">
            A/S Rikon
          </td>
          <td>
            Извещение
          </td>
          <td>
            Номера заказов
          </td>
          <td>
            Причина изменений
          </td>
          <td>
            Лист
          </td>
          <td>
            Листов
          </td>
          <td>
            Шифр
          </td>
        </tr>
        <tr>
          <td>

          </td>
          <td>
            &lt;данные&gt;
          </td>
          <td rowspan="2">
            &lt;данные&gt;
          </td>
          <td>
            {{ index + 1 }}
          </td>
          <td>
            {{ data.length }}
          </td>
          <td>
            &lt;данные&gt;
          </td>
        </tr>
        <tr>
          <td rowspan="3">
            Отдел производства
          </td>
          <td></td>
          <td>
            &lt;данные&gt;
          </td>
          <td colspan="3">
            указания о внедрении
          </td>
        </tr>
        <tr>
          <td rowspan="2">
            Дата выпуска
            <br>
            &lt;данные&gt;
          </td>
          <td rowspan="2">
            Срок изменения
            <br>
            &lt;данные&gt;
          </td>
          <td rowspan="2">

          </td>
          <td rowspan="4" colspan="3">

          </td>
        </tr>
        <tr>

        </tr>
        <tr>
          <td rowspan="2">
            Указания о заделе
          </td>
          <td rowspan="2" colspan="3">
            задел использовать
          </td>
        </tr>
        <tr>

        </tr>
        <tr>
          <td>
            изм.
          </td>
          <td colspan="3">
            содержание изменения
          </td>
          <td colspan="3">
            применяемость
          </td>
        </tr>
        <tr>
          <td rowspan="2">
            см. ниже
          </td>
          <td rowspan="2" colspan="3">

          </td>
          <td colspan="3" rowspan="14">
            &lt;данные&gt;
          </td>
        </tr>
        <tr>
        </tr>
        <tr>
          <td rowspan="20" colspan="4">
            <div v-for="s of chunk">
              {{ s }}
            </div>
          </td>
        </tr>
        <tr v-for="i in 11">
        </tr>
        <tr>
          <td colspan="3">
            Разослать
          </td>
        </tr>
        <tr>
          <td rowspan="7" colspan="3">
            &lt;данные&gt;
          </td>
        </tr>
        <tr v-for="i in 6">
        </tr>
        <tr>
          <td>
            Составил:
          </td>
          <td>
            &lt;данные&gt;
          </td>
          <td>
            Пров:
          </td>
          <td>
            ОТК:
            &lt;данные&gt;
          </td>
          <td colspan="3">
            Утвердил
          </td>
        </tr>
        <tr>
          <td>
            подпись
          </td>
          <td>
          </td>
          <td>
            подпись
          </td>
          <td>
            подпись
          </td>
          <td colspan="3">
            подпись
          </td>
        </tr>
        <tr>
          <td>
            дата
          </td>
          <td>

          </td>
          <td>
            дата
          </td>
          <td>
            дата
          </td>
          <td colspan="3">
            дата
          </td>
        </tr>
        </tbody>
      </table>
      <div class="pagebreak"></div>
    </div>
  </div>
</template>

<script>

import _ from "lodash";

export default {
  name: "replace_card",
  template: "template",
  data() {
    return {
      card: null,
    }
  },
  async created() {
    let id = Number(this.$route.query.id);
    this.card = await this.$axios.$get("/replace_card", {params: {id}});
  },
  computed: {
    replaces() {
      if (!this.card) {
        return null;
      }
      let replaces = [];
      for (let entry of this.card.entries) {
        replaces.push({
          from: entry.from_material,
          to: entry.to_material,
        })
      }
      return replaces;
    },
    data() {
      if (!this.card) {
        return null;
      }
      let from = [];
      let to = [];

      for (let entry of this.card.entries) {
        from.push({
          detail: entry.plan?.detail ?? null,
          material: entry.from_material,
        });
        to.push({
          detail: entry.plan?.detail ?? null,
          material: entry.to_material,
        });
      }

      let strings = [];

      for (let f of from) {
        let s = '';
        if (f.detail) {
          s += `Дет. черт.: ${f.detail.number} `;
        }
        s += `${f.material.name}`;
        strings.push(s)
      }

      strings.push("Предлагаемое изменение:")

      for (let t of to) {
        let s = '';
        if (t.detail) {
          s += `Дет. черт.: ${t.detail.number} `;
        }
        s += `${t.material.name}`;
        strings.push(s)
      }

      return _.chunk(strings, 12);
    }
  }
}
</script>

<style scoped>
@page {
  size: A4 landscape;
  margin: 10mm;
}

table, th, td {
  border: 2px solid black;
}

@media print {
  .pagebreak {
    page-break-before: always;
  }
}
</style>
