<template>
  <div>
    <div class="d-flex">
      <h1>Выбор колонок</h1>
      <div class="ml-auto">
        <b-button variant="success" @click="next">
          Продолжить
          <b-icon icon="arrow-right"></b-icon>
        </b-button>
      </div>
    </div>
    <div v-for="(column, index) in items_columns">
      <hr v-if="index !== 0"/>
      <div class="d-flex">
        <strong>
          {{ column[0] }}
        </strong>
        <b-form-select v-model="chosen_columns[index]" :options="columns_options" size="sm" class="ml-2"/>
      </div>
      <div>
        <template v-for="(item, item_index) in column">
          <b-badge pill variant="light" v-if="item_index !== 0 && item">
            {{ item }}
          </b-badge>
        </template>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "ImportColumnsSelect",
  props: {
    items: Array,
    columns: Array,
  },
  data() {
    return {
      chosen_columns: [],
    }
  },
  methods: {
    next() {
      this.$emit('next', {columns: this.chosen_columns})
    }
  },
  watch: {
    items: {
      immediate: true,
      handler() {
        let items_columns = this.items_columns;
        for (let i = 0; i < items_columns.length; i++) {
          let col = items_columns[i][0];
          let opts = this.columns_options.filter(({value}) => value === col);
          if (opts.length === 1) {
            this.chosen_columns[i] = col;
          }
        }
      }
    }
  },
  computed: {
    items_columns() {
      let columns_count = this.items[0].length;
      let columns = [];
      for (let i = 0; i < columns_count; i++) {
        columns.push([]);
      }
      for (let i = 0; i < this.items.length; i++) {
        let row = this.items[i];
        for (let k = 0; k < row.length; k++) {
          columns[k].push(row[k]);
        }
      }
      return columns;
    },
    columns_options() {
      return this.columns.map(column => {
        return {
          text: column.text,
          value: column.name,
        }
      })
    }
  }
}
</script>

<style scoped>

</style>
