<template>
  <b-overlay :show="loading">
    <div v-if="step === 'upload'" class="d-flex align-items-center justify-content-center" style="min-height: 75vh">
      <div class="text-center d-flex flex-column align-items-center">
        <h1>{{ title }}</h1>
        <UploadFileBig accept="text/csv" @load="load"/>
      </div>
    </div>
    <div v-if="step === 'columns'">
      <a href="#" @click.prevent="step = 'upload'">
        <b-icon icon="arrow-clockwise"/>
        Сброс
      </a>
      <ImportColumnsSelect v-if="raw_items"
                           :items="raw_items.slice(0, 50)"
                           :columns="columns"
                           @next="c => prepare(c)"
      />
    </div>
    <div v-if="step === 'process'">
      <div>
        <a href="#" @click.prevent="step = 'upload'">
          <b-icon icon="arrow-clockwise"/>
          Сброс
        </a>
      </div>
      <slot :items="items">

      </slot>
    </div>
  </b-overlay>
</template>

<script>

import { parse } from 'csv-parse';
import UploadFileBig from "@/components/files/UploadFileBig";
import ImportColumnsSelect from "@/components/import/ImportColumnsSelect";

export default {
  name: "Import",
  components: {
    UploadFileBig,
    ImportColumnsSelect,
  },
  props: {
    title: String,
    columns: Array,
  },
  data() {
    return {
      loading: false,
      step: 'upload',
      raw_items: null,
      items: null,
    }
  },
  methods: {
    load(text) {
      let error = () => {
        this.step = 'upload';
        this.loading = false;
        this.$bvToast.toast(`Ошибка парсинга файла`, {
          title: 'Ошибка',
          autoHideDelay: 5000,
          variant: 'danger',
        })
      }
      this.loading = true;
      let items = [];
      const parser = parse({
        delimiter: ','
      });
      parser.on('readable', () => {
        let item;
        while ((item = parser.read()) !== null) {
          items.push(item);
        }
      })
      parser.on('error', (err) => {
        console.error(err.message);
        error();
      });
      parser.on('end', () => {
        if (items.length === 0) {
          error();
        } else {
          this.raw_items = items;
          this.step = 'columns';
          this.loading = false;
          this.$forceUpdate();
        }
      });
      parser.write(text);
      parser.end();
    },
    prepare({columns}) {
      let items = [];
      for (let j = 1; j < this.raw_items.length; j++) {
        let item = this.raw_items[j];
        let i = {};
        for (let k = 0; k < item.length; k++) {
          i[columns[k]] = item[k];
        }
        items.push(i);
      }
      this.items = items;
      this.step = 'process';
    },
  }
}
</script>

<style scoped>

</style>
