<template>
  <div>
    <NavbarComponent/>
    <ClipboardComponent v-if="false"/>
    <Clipboard/>
    <MessagesWidget/>
    <div class="app">
      <Nuxt/>
    </div>
  </div>
</template>

<script>
import NavbarComponent from "~/components/NavbarComponent";
import ClipboardComponent from "@/components/clipboard/ClipboardComponent";
import MessagesWidget from "@/components/messages/MessagesWidget";
import Clipboard from "@/components/clipboard/Clipboard";

export default {
  name: "PanelLayout",
  components: {
    NavbarComponent,
    ClipboardComponent,
    MessagesWidget,
    Clipboard,
  }
}
</script>

<style scoped>
.app {
  margin: 20px auto;
  max-width: 1000px;
}
</style>
