<template>
  <b-row>
    <b-col>
      <b-form-group label="S">
        <b-input-group>
          <b-form-input
            class=""
            :value="value_.s"
            @input="v => value_.s = v ? Number(v) : null"
            placeholder="6"
            type="number"
            required
          ></b-form-input>
        </b-input-group>
      </b-form-group>
    </b-col>
    <b-col>
      <b-form-group label="Марка">
        <b-input-group>
          <b-form-input
            class=""
            v-model="value_.grade"
            placeholder="S355J2 EN 10025"
            required
          ></b-form-input>
        </b-input-group>
      </b-form-group>
    </b-col>
  </b-row>
</template>

<script>

import _ from 'lodash';

export default {
  name: "MaterialFeaturesForm",
  model: {
    prop: 'value',
    event: 'input'
  },
  props: {
    value: Object,
  },
  data() {
    return {
      lock: false,
      value_: null,
    }
  },
  created() {
    this.value_ = this.value ?? {};
  },
  watch: {
    value_: {
      deep: true,
      async handler() {
        await this.$emit('input', this.value_);
      }
    },
  },
}
</script>

<style scoped>

</style>
