<template>
  <div>
    <b-input-group>
      <b-form-input :disabled="true" :value="selected_id_ ? selected_item_text(item) : 'Не выбрано'"></b-form-input>

      <b-input-group-append>
        <b-button @click="show = true">
          Выбрать
        </b-button>
      </b-input-group-append>
    </b-input-group>
    <b-modal :visible="show" @change="v => show = v" hide-footer>
      <template #modal-header>
        {{ title }}
      </template>
      <slot :select="(id) => select(id)">

      </slot>
    </b-modal>
  </div>
</template>

<script>

import ItemsView from "~/components/common/view/ItemsView";
import TableView from "~/components/common/view/TableView";
import ItemEditQueries from "~/components/common/edit/ItemEditQueries";
import EditUser from "~/components/users/EditUser";
import gql from "graphql-tag";

export default {
  name: 'Selector',
  components: {
    ItemsView,
    TableView,
    ItemEditQueries,
    EditUser,
  },
  props: {
    title: String,
    selected_id: Number,
    fetch_query: Function,
    selected_item_text: Function,
  },
  model: {
    prop: 'selected_id',
    event: 'input',
  },
  data() {
    return {
      item: {},
      show: false,
      selected_id_: null,
    }
  },
  methods: {
    async select(id) {
      this.show = false;
      this.$emit('input', id);
      await this.$apollo.queries.item.refetch();
    }
  },
  watch: {
    selected_id: {
      immediate: true,
      handler() {
        this.selected_id_ = this.selected_id;
      }
    }
  },
  apollo: {
    item() {
      let query = this.fetch_query(gql);
      let vars = {};
      if (Array.isArray(query)) {
        vars = query[1];
        query = query[0];
      }
      return {
        query,
        update: (result) => {
          if (this.fetch_getter) {
            return this.fetch_getter(result);
          }
          let keys = Object.entries(result)
          if (keys.length !== 1) {
            return result;
          } else {
            return result[keys[0][0]];
          }
        },
        skip() {
          return !this.selected_id_;
        },
        deep: true,
        variables: () => {
          return {
            ...vars,
            id: this.selected_id_,
          }
        }
      }
    },
  },
  computed: {
    console: () => console,
  }
}
</script>
