<template>
  <div>
    <b-modal :visible="show" @change="v => $emit('setShow', v)" v-if="edit">
      <template #modal-title>
        <div v-if="edit_id === -1">
          Добавить план
        </div>
        <div v-else>
          Изменить план
        </div>
      </template>
      <div>
        <p>Материал:</p>
        <MaterialSelectorComponent
          :order_id="order_id"
          :created_item_id="edit.material ? edit.material.id : null"
          v-model="edit.material"
          :state="show_validation_errors ? (!edit.material ? false : null) : null"
        />
        <p>Детали:</p>
        <DetailSelectorComponent
          :order_id="order_id"
          :created_item_id="edit.detail ? edit.detail.id : null"
          v-model="edit.detail"
          :state="show_validation_errors ? (!edit.detail ? false : null) : null"
        />
        <p>Элемент:</p>
        <ElementSelectorComponent
          :order_id="order_id"
          :created_item_id="edit.element ? edit.element.id : null"
          v-model="edit.element"
          :state="show_validation_errors ? (!edit.element ? false : null) : null"
        />
        <b-form-group label="Масса штуки">
          <b-input-group>
            <b-form-input
              class="border-right-0"
              v-model="edit.mass"
              placeholder="262"
              :state="show_validation_errors ? (!edit.mass ? false : null) : null"
              required
            ></b-form-input>
            <b-input-group-append>
              <b-input-group-text class="bg-transparent font-weight-bold">
                кг.
              </b-input-group-text>
            </b-input-group-append>
          </b-input-group>
        </b-form-group>
        <b-form-group label="Количество">
          <b-form-input
            v-model="edit.amount"
            placeholder="12"
            type="number"
            required
            :state="show_validation_errors ? (!edit.amount ? false : null) : null"
          ></b-form-input>
        </b-form-group>
        <b-form-group label="Размер детали">
          <b-form-input
            v-model="edit.size"
            placeholder="123x456"
            required
            :state="show_validation_errors ? (!edit.size ? false : null) : null"
          ></b-form-input>
        </b-form-group>
        <p>Комментарий</p>
        <b-form-textarea
          id="textarea"
          v-model="edit.comment"
          placeholder="Введите комментарий"
          rows="3"
          max-rows="6"
          :state="show_validation_errors ? (!edit.comment ? false : null) : null"
        ></b-form-textarea>
      </div>
      <template #modal-footer>
        <b-button variant="secondary" class="float-right" @click="$emit('setShow', false)">
          <b-icon icon="x-circle"></b-icon>
          Отмена
        </b-button>
        <b-button variant="success" class="float-right" @click="save">
          <b-icon icon="file-earmark-arrow-down"></b-icon>
          Сохранить
        </b-button>
      </template>
    </b-modal>
  </div>
</template>

<script>
import MaterialSelectorComponent from "@/components/materials/MaterialSelectorComponent";
import DetailSelectorComponent from "@/components/details/DetailSelectorComponent";
import ElementSelectorComponent from "@/components/elements/ElementSelectorComponent";

export default {
  name: "EditPlanEntryModalComponent",
  components: {
    DetailSelectorComponent,
    MaterialSelectorComponent,
    ElementSelectorComponent,
  },
  props: {
    show: Boolean,
    edit_id: Number,
    order_id: Number,
  },
  data() {
    return {
      show_validation_errors: false,
      edit: {},
    }
  },
  created() {

  },
  methods: {
    async save() {
      if (!this.is_form_valid) {
        this.show_validation_errors = true;
        return;
      }
      try {
        this.edit.material_id = this.edit.material.id;
        delete this.edit.material;
        this.edit.detail_id = this.edit.detail.id;
        delete this.edit.detail;
        this.edit.element_id = this.edit.element.id;
        delete this.edit.element;
        let verb;
        if (this.edit_id === -1) {
          verb = 'создан';
          await this.$axios.$post("/plan", this.edit);
        } else {
          verb = 'изменен';
          await this.$axios.$patch("/plan", this.edit);
        }
        this.$bvToast.toast(`План успешно ${verb}`, {
          title: 'Успех',
          autoHideDelay: 5000,
          variant: 'success',
        })
        this.$emit('setShow', false);
        this.$emit('update');
      } catch (e) {
        throw e;
      }
    },
  },
  watch: {
    async edit_id(id) {
      if (id !== -1 && id !== null) {
        this.edit = await this.$axios.$get('/plan/by_id', {params: {id}})
        console.log(this.edit);
        this.edit.size = this.$getMaterialSizeString(this.edit.size);
      } else {
        this.edit = {
          order_id: this.order_id,
          material: null,
          detail: null,
          element: null,
          mass: 0,
          amount: 0,
          size: "",
          comment: "",
        }
      }
    }
  },
  computed: {
    is_form_valid() {
      return !!this.edit.material
        && !!this.edit.detail
        && !!this.edit.element
        && !!this.edit.mass
        && !!this.edit.amount
        //&& !!this.edit.size
        ;
    }
  }
}
</script>

<style scoped>

</style>
