<template>
  <div>
    <b-modal :visible="show" @change="v => $emit('setShow', v)" v-if="data">
      <template #modal-title>
        <div>
          Создать закупку
        </div>
      </template>
      <div v-for="(entry, index) of data">
        <div>
          <i>Материал:</i>
        </div>
        <strong>{{ entry.material.name }}</strong>
        ({{ entry.material.number }})
        <br>
        {{ $getMaterialFeaturesStrings(entry.material.features).join(", ") }}
        <br>
        <b-form-group label="Масса">
          <b-input-group>
            <b-form-input
              class="border-right-0"
              v-model="purchases[getKey(entry)].mass"
              placeholder="100"
              required
            ></b-form-input>
            <b-input-group-append>
              <b-input-group-text class="bg-transparent font-weight-bold">
                кг.
              </b-input-group-text>
            </b-input-group-append>
          </b-input-group>
        </b-form-group>
        <b-form-group label="Длина">
          <b-input-group>
            <b-form-input
              class="border-right-0"
              v-model="purchases[getKey(entry)].length"
              placeholder="100"
              required
            ></b-form-input>
            <b-input-group-append>
              <b-input-group-text class="bg-transparent font-weight-bold">
                мм
              </b-input-group-text>
            </b-input-group-append>
          </b-input-group>
        </b-form-group>
      </div>
      <template #modal-footer>
        <b-button variant="secondary" class="float-right" @click="$emit('setShow', false)">
          <b-icon icon="x-circle"></b-icon>
          Отмена
        </b-button>
        <b-button variant="success" class="float-right" @click="save">
          <b-icon icon="file-earmark-arrow-down"></b-icon>
          Сохранить
        </b-button>
      </template>
    </b-modal>
  </div>
</template>

<script>
import MaterialSelectorComponent from "@/components/materials/MaterialSelectorComponent";

export default {
  name: "EditReplaceCardModalComponent",
  components: {
    MaterialSelectorComponent,
  },
  props: {
    show: Boolean,
    data: Array,
    order_id: Number,
  },
  data() {
    return {
      purchases: {},
    }
  },
  created() {

  },
  methods: {
    getKey(entry) {
      return `m_${entry.material.id}`;
    },
    async save() {
      await this.$axios.$post('/purchase_entries', {
        purchases: Object.entries(this.purchases).map(([_, p]) => {
          return p;
        }),
        order_id: this.order_id,
      });
      this.$emit('setShow', false);
      this.$bvToast.toast(`Закупка создана`, {
        title: 'Успех',
        autoHideDelay: 5000,
        variant: 'success'
      })
    },
  },
  watch: {
    data() {
      this.purchases = {};
      for (let entry of this.data) {
        this.$set(this.purchases, this.getKey(entry), {
          material_id: entry.material.id,
          mass: entry.mass,
          length: entry.length,
        })
      }
    }
  }
}
</script>

<style scoped>

</style>
