<template>
  <div>
    <b-modal :visible="show" @change="v => $emit('setShow', v)" v-if="data">
      <template #modal-title>
        <div>
          Создать карту разрешения на изменения
        </div>
      </template>
      <div v-for="(entry, index) of data">
        <hr v-if="index !== 0">
        <template v-if="entry.plan">
          <div>
            <i>Деталь:</i>
          </div>
          <div>
            <strong>{{ entry.plan.detail.name }}</strong>
            ({{ entry.plan.detail.number }})
            {{ entry.plan.amount }} шт.
          </div>
          <div>
            <i>Материал:</i>
          </div>
        </template>
        <strong>{{ entry.material.name }}</strong>
        ({{ entry.material.number }})
        <br>
        {{ $getMaterialFeaturesStrings(entry.material.features).join(", ") }}
        <br>
        <i>Заменить на:</i>
        <MaterialSelectorComponent
          v-if="replaces[getKey(entry)]"
          v-model="replaces[getKey(entry)].to_material"
          :state="null"
          :order_id="Number($route.params.order_id)"
        />
      </div>
      <template #modal-footer>
        <b-button variant="secondary" class="float-right" @click="$emit('setShow', false)">
          <b-icon icon="x-circle"></b-icon>
          Отмена
        </b-button>
        <b-button variant="success" class="float-right" @click="save">
          <b-icon icon="file-earmark-arrow-down"></b-icon>
          Сохранить
        </b-button>
      </template>
    </b-modal>
  </div>
</template>

<script>
import MaterialSelectorComponent from "@/components/materials/MaterialSelectorComponent";

export default {
  name: "EditReplaceCardModalComponent",
  components: {
    MaterialSelectorComponent,
  },
  props: {
    show: Boolean,
    data: Array,
    order_id: Number,
  },
  data() {
    return {
      replaces: {},
    }
  },
  created() {

  },
  methods: {
    getKey(entry) {
      return `${entry.type}_${entry.plan ? entry.plan.id : entry.material.id}`;
    },
    async save() {
      let replaces = [];
      for (let key of Object.keys(this.replaces)) {
        let replace = this.replaces[key];
        let r = {
          ...(replace.plan ? {plan_id: replace.plan.id} : {}),
          from_material_id: replace.from_material.id,
          to_material_id: replace.to_material.id,
        }
        replaces.push(r);
      }
      await this.$axios.$post('/replace_card', {
        replaces,
        order_id: this.order_id,
      });
      this.$emit('setShow', false);
      this.$bvToast.toast(`Карта разрешения на изменения создана`, {
        title: 'Успех',
        autoHideDelay: 5000,
        variant: 'success'
      })
    }
  },
  watch: {
    data() {
      this.replaces = {};
      for (let entry of this.data) {
        this.$set(this.replaces, this.getKey(entry), {
          from_material: entry.material,
          to_material: null,
          plan: entry.plan,
        })
      }
    }
  }
}
</script>

<style scoped>

</style>
