<template>
  <div>
    <ItemEditQueries
      :fetch_query="gql => gql`query Fetch($id: ItemId!) {
      plan(id: $id) {
        order {
          id
        }
        material {
          id
        }
        detail {
          id
        }
        element {
          id
        }
        comment
        amount
        unit_mass
        unit_size {
            length
            width
            d_outer
            d_inner
        }
      }
}
`"
      :fetch_getter="result => {
        result = result.plan;
        return {
          ...result,
           material_id: result.material.id,
           material: undefined,
           detail_id: result.detail.id,
           detail: undefined,
           element_id: result.element.id,
           element: undefined,
           order_id: result.order.id,
           order: undefined,
           unit_size: $getMaterialSizeString(result.unit_size),
        }
      }"
      :create_query="gql => [gql`mutation Create($order_id: ItemId!, $data: PlanInput!) {
    order(id: $order_id) {
      id
      createPlan(data: $data)
    }
}
`, {order_id}]"
      :edit_query="gql => gql`mutation Edit($id: ItemId!, $data: PlanInput!) {
    plan(id: $id) {
        edit(data: $data)
    }
}
`"
      :delete_query="gql => gql`mutation Delete($id: ItemId!) {
    plan(id: $id) {
        delete
    }
}
`"
    >
      <template #default="{hooks}">
        <EditPlan :hooks="hooks" ref="edit" :order_id="order_id"/>
      </template>
    </ItemEditQueries>
    <div class="clearfix">
      <h1 class="float-left">Задачи</h1>
      <b-button variant="success" class="float-right" @click="$refs.edit ? $refs.edit.create() : null">
        <b-icon icon="plus-circle"></b-icon>
        Создать
      </b-button>
    </div>
    <ItemsView :query="gql => ([gql`
  query Items($order_id: ItemId!, $page: Page!, $filter: PlanFilter!) {
    order(id: $order_id) {
        id
        plan(page: $page, filter: $filter) {
            count
            items {
                id
                material {
                    name
                    features {
                        s
                        grade
                    }
                }
                detail {
                    name
                    number
                }
                element {
                    name
                    number
                }
                comment
                amount
                unit_mass
                unit_size {
                    length
                    width
                    d_outer
                    d_inner
                }
                is_deleted
            }
        }
    }
 }
 `, {order_id}])" :per_pages="[10, 20, 50, 100]" :getter="result => result.order.plan">
      <template #filter="{filter}">
        <PlanFilter v-model="filter"/>
      </template>
      <template #default="{count, items}">
        <PlanView :count="count" :items="items" :edit="id => $refs.edit ? $refs.edit.edit(id) : null"
                  :del="id => $refs.edit ? $refs.edit.del(id) : null"/>
      </template>
    </ItemsView>
  </div>
</template>

<script>
import ItemsView from "@/components/common/view/ItemsView";
import PlanFilter from "@/components/plan/PlanFilter";
import PlanView from "@/components/plan/PlanView";
import ItemEditQueries from "@/components/common/edit/ItemEditQueries";
import EditPlan from "@/components/plan/EditPlan";

export default {
  name: "OrderPlan",
  components: {
    ItemsView,
    PlanFilter,
    PlanView,
    ItemEditQueries,
    EditPlan,
  },
  props: {
    order_id: Number,
  }
}
</script>

<style scoped>

</style>
