<template>
  <div>
    <EditMaterialModalComponent
      v-model="edit_material_id"
      :show="show_edit_material_modal"
      @save="onMaterialSave"
      @setShow="v => show_edit_material_modal = v"
      :order_id="order_id"
    />

    <EditReplaceCardModalComponent
      :data="replace_data"
      :show="show_edit_replace_card_modal"
      @setShow="v => show_edit_replace_card_modal = v"
      :order_id="order_id"
    />

    <EditPlanEntryModalComponent
      :edit_id="edit_plan_entry_id"
      :show="show_edit_plan_entry_modal"
      @setShow="v => show_edit_plan_entry_modal = v"
      @update="update"
      :order_id="order_id"
    />

    <EditOperationsModalComponent
      :show="show_edit_operations_modal"
      @setShow="v => show_edit_operations_modal = v"
      :operations="edit_operations_operations"
      @save="ops => saveOperationsForPlanEntry(edit_operations_plan_entry_id, ops)"
    />

    <div class="clearfix d-flex">
      <p class="ml-auto">
        Выбрано задач: {{ selected_items.length }}
      </p>
    </div>
    <div class="clearfix d-flex">
      <div>
        <b-button variant="primary" size="sm" @click="selectAllOnPage">
          <b-icon icon="check2-square"></b-icon>
          Страница
        </b-button>
      </div>
      <div class="ml-auto">
        <b-button variant="warning" class="" @click="addToLayout(selected_items)"
                  :disabled="selected_items.length === 0"
                  v-if="!operation || operation === 'PLASMA'"
        >
          <b-icon icon="layout-wtf"></b-icon>
          В раскладку
        </b-button>
        <b-button variant="warning" class="" @click="addToRequest(selected_items)"
                  :disabled="selected_items.length === 0"
                  v-if="operation === 'PILA'"
        >
          <b-icon icon="file-arrow-up"></b-icon>
          В заявку
        </b-button>
        <b-button variant="secondary" class="" @click="setInWork(selected_items)"
                  :disabled="selected_items.length === 0"
                  v-if="!operation"
        >
          <b-icon icon="clipboard-plus"></b-icon>
          Создать задачи
        </b-button>
        <b-button variant="success" class="" @click="editPlanEntry(-1)"
                  v-if="!operation"
                  >
          <b-icon icon="plus"></b-icon>
          Создать план
        </b-button>
        <b-button variant="primary" class="" @click="openEditReplaceCardModal" v-if="false"
                  :disabled="selected_items.length === 0">
          <b-icon icon="list-task"></b-icon>
          Создать карту изменений
        </b-button>
      </div>
    </div>
    <PlanFilterComponent v-model="filter" :show_operations_filter="!operation"/>
    <b-overlay :show="!items">
      <b-table-simple hover small caption-top responsive class="mt-4">
        <b-thead>
          <b-tr>
            <b-th>

            </b-th>
            <b-th>
              <div v-if="operation === 'PLASMA' || operation === 'PILA'">Заказ</div>
              <div>Элемент</div>
              <div>Деталь</div>
              <div>Материал</div>
            </b-th>
            <b-th>
              <div>
                Кол-во
              </div>
              <div>
                Масса штуки
              </div>
              <div>
                Размер
              </div>
            </b-th>
            <b-th v-if="!operation">
              В работе?
            </b-th>
            <b-th>
              Операции
            </b-th>
            <b-th v-if="!!operation">
            </b-th>
            <b-th v-if="operation === 'PLASMA'">
              Раскладки
            </b-th>
            <b-th>

            </b-th>
          </b-tr>
        </b-thead>
        <b-tbody>
          <b-tr v-for="entry in items" :key="entry.id">
            <b-th>
              <b-form-checkbox
                v-model="checked_items[entry.id]"
              >
              </b-form-checkbox>
            </b-th>
            <b-td>
              <div v-if="operation === 'PLASMA' || operation === 'PILA'">
                {{ entry.order.name }}
              </div>
              <div>
                <strong>
                  {{ entry.element.name }}
                </strong>
                <template v-if="entry.element.number">
                  ({{ entry.element.number }})
                </template>
              </div>
              <div>
                <strong>
                  {{ entry.detail.name }}
                </strong>
                <template v-if="entry.detail.number">
                  ({{ entry.detail.number }})
                </template>
              </div>
              <div>
                <div>
                  <strong>
                    {{ entry.material.name }}
                    <span v-if="entry.material.features.s">
                      S: {{ entry.material.features.s }}
                    </span>
                  </strong>
                </div>
                <div>
                  {{ $getMaterialFeaturesStrings(entry.material.features).join(", ") }}
                </div>
              </div>
              <div>
                {{ $getMaterialFeaturesStrings(entry.material.features).join(", ") }}
              </div>
            </b-td>
            <b-td>
              <div>
                {{ entry.amount }} шт.
              </div>
              <div>
                {{ entry.mass }} кг.
              </div>
              <div>
                {{ $getMaterialSizeString(entry.size) }}
              </div>
            </b-td>
            <b-td class="text-center" v-if="!operation">
              <p v-if="entry.is_in_work" class="text-success">
                <b-icon icon="check-circle-fill"/>
              </p>
              <p v-else class="text-danger">
                <b-icon icon="x-circle-fill"/>
              </p>
            </b-td>
            <b-td>
              <OperationsViewComponent :operations="entry.operations" :all_count="entry.amount"/>
            </b-td>
            <b-td v-if="!!operation">
              <b-button
                v-if="getOperationStateForPlanEntry(entry) === 'not_started'"
                size="sm" variant="success" class="float-right mr-2" @click="startPlanEntry(entry.id)">
                <b-icon icon="play-fill"></b-icon>
              </b-button>
              <b-button
                v-if="getOperationStateForPlanEntry(entry) === 'working'"
                size="sm" variant="danger" class="float-right mr-2" @click="stopPlanEntry(entry.id)">
                <b-icon icon="stop-fill"></b-icon>
              </b-button>
              <i v-if="false">
                <template v-if="getOperationStateForPlanEntry(entry) === 'not_reached'">
                  Ожидание<br/>
                  предыдущих<br/>
                  задач<br/>
                </template>
                <template v-if="getOperationStateForPlanEntry(entry) === 'done'">
                  На этом<br/>
                  этапе<br/>
                  готово<br/>
                </template>
              </i>
            </b-td>
            <b-td v-if="operation === 'PLASMA'">
              <template v-if="entry.layouts">
                <div
                  v-for="layout of entry.layouts"
                  :key="layout.id">
                  <a href="#"
                     @click.prevent="$router.push(`/areas/plasma?layout_id=${layout.id}`)">
                    {{ layout.name ? layout.name : 'Без имени' }}
                    #{{ layout.id }}
                  </a>
                </div>
              </template>
              <template v-else>
                Нет раскладки
              </template>
            </b-td>
            <b-td>
              <div class="ml-auto">
                <div>
                  <b-button variant="primary" class="mr-2" @click="editPlanEntry(entry.id)">
                    <b-icon icon="pencil"></b-icon>
                  </b-button>
                  <b-button variant="danger" @click="deletePlanEntry(entry.id)" v-if="false">
                    <b-icon icon="x"></b-icon>
                  </b-button>
                </div>
                <div class="mt-2">
                  <b-button variant="warning" class="mr-2" @click="editPlanEntryOperations(entry.id)">
                    <b-icon icon="gear"></b-icon>
                  </b-button>
                </div>
              </div>
            </b-td>
          </b-tr>
          <b-tr v-if="items">
            <b-td colspan="8" class="text-center">
              <i>
                Найдено записей: {{ total_rows }}
              </i>
            </b-td>
          </b-tr>
        </b-tbody>
      </b-table-simple>
      <div class="d-flex align-items-center justify-content-center">
        <b-pagination
          v-model="filter.page"
          :total-rows="total_rows"
          :per-page="filter.per_page"
        ></b-pagination>
      </div>
    </b-overlay>
  </div>
</template>

<script>

import EditMaterialModalComponent from "@/components/materials/EditMaterialModalComponent";
import MaterialsFilterComponent from "@/components/materials/MaterialsFilterComponent";
import _ from "lodash";
import PlanFilterComponent from "@/components/orders/plan/PlanFilterComponent";
import EditReplaceCardModalComponent from "@/components/orders/plan/EditReplaceCardModalComponent";
import EditPlanEntryModalComponent from "@/components/orders/plan/EditPlanEntryModalComponent";
import EditOperationsModalComponent from "@/components/operations/EditOperationsModalComponent";
//import OperationsViewComponent from "@/components/operations/OperationsViewComponent";

export default {
  name: 'PlanComponent',
  layout: 'panel',
  components: {
    EditMaterialModalComponent,
    MaterialsFilterComponent,
    PlanFilterComponent,
    EditReplaceCardModalComponent,
    EditPlanEntryModalComponent,
    EditOperationsModalComponent,
    //OperationsViewComponent,
  },
  props: {
    order_id: Number,
    operation: String,
  },
  data() {
    return {
      checked_items: {},
      show_edit_material_modal: false,
      edit_material_id: null,
      items: null,
      total_rows: 0,
      filter: {
        per_page: 10,
        page: 1,
      },
      replace_data: null,
      show_edit_replace_card_modal: false,
      show_edit_plan_entry_modal: false,
      edit_plan_entry_id: null,
      show_edit_operations_modal: false,
      edit_operations_plan_entry_id: null,
      edit_operations_operations: null,
    }
  },
  async created() {
    this.fetchItems = _.throttle(this.fetchItems, 300);
    await this.fetchItems();
  },
  methods: {
    async fetchItems() {
      let operations_values = {};
      if (this.operation) {
        operations_values = {
          operations: [
            {
              type: this.operation,
            }
          ],
          is_in_work: true,
        }
      }
      let res = await this.$axios.$get("/plan", {
        params: {
          ...this.filter,
          order_id: this.order_id,
          ...operations_values,
        }
      });
      this.items = res.items;
      this.total_rows = res.count;
    },
    async update() {
      this.items = null;
      await this.fetchItems();
    },
    async editMaterial(id) {
      this.edit_material_id = id;
      this.show_edit_material_modal = true;
    },
    async onMaterialSave() {
      this.show_edit_material_modal = false;
      this.items = null;
      await this.fetchItems();
    },
    async openEditReplaceCardModal() {
      let {entries} = await this.$axios.$post("/plan/get_many_by_id", {ids: this.selected_items});
      this.replace_data = entries.map((e) => {
        return {
          type: 'plan',
          material: e.material,
          plan: e,
        }
      })
      this.show_edit_replace_card_modal = true;
    },
    async createTasksForPlan() {
      //await this.$axios.$post("/plan/create_tasks", {ids: this.selected_items});
    },
    async setInWork(ids) {
      await this.$axios.$post("/plan/set_in_work", {ids});
      await this.update();
      this.checked_items = {};
    },
    async editPlanEntry(id) {
      this.edit_plan_entry_id = id;
      this.show_edit_plan_entry_modal = true;
    },
    async deletePlanEntry(id) {
      this.items = null;
      await this.$axios.$delete("/plan", {params: {id}});
      await this.fetchItems();
    },
    async editPlanEntryOperations(id) {
      this.edit_operations_plan_entry_id = id;
      let plan_entry = this.items.filter(item => item.id === id)[0];
      this.edit_operations_operations = [...plan_entry.operations];
      this.show_edit_operations_modal = true;
    },
    async saveOperationsForPlanEntry(id, operations) {
      let plan_entry = this.items.filter(item => item.id === id)[0];
      plan_entry.operations = operations;
      await this.$axios.$post("/plan/update_operations", {id, operations});
      this.show_edit_operations_modal = false;
    },
    async addToLayout() {
      await this.$axios.$post("/clipboard/layout/add", {
        order_id: this.order_id,
        plan_ids: this.selected_items,
      });
      this.$nuxt.$emit("updateClipboardLayout");
      this.$bvToast.toast(`Задачи добавлены в раскладку`, {
        autoHideDelay: 5000,
        variant: 'success',
      })
    },
    async addToRequest() {
      let entries = this.selected_items.map((item_id) => {
        let item = this.items.filter(i => i.id === item_id)[0];
        return {
          "plan_id": item_id,
          "amount": item.amount,
        }
      })
      await this.$axios.$post("/clipboard/request/add", {
        entries
      });
      this.$nuxt.$emit("updateClipboardRequest");
      this.$bvToast.toast(`Задачи добавлены в заявку`, {
        autoHideDelay: 5000,
        variant: 'success',
      })
    },
    selectAllOnPage() {
      let value = true;
      for (let entry of this.items) {
        if (this.checked_items[entry.id]) {
          value = false;
        }
      }
      console.log(value);
      for (let entry of this.items) {
        this.$set(this.checked_items, entry.id, value);
      }
    },
    getOperationStateForPlanEntry(plan) {
      let operation = plan.operations;
      if (operation.working_count === 0) {
        return 'not_reached';
      }
      if (this.all_count === operation.done_count) {
        return 'done';
      } else if (this.all_count < operation.done_count) {
        return 'invalid';
      }
      return 'working';
    },
    /*
    getOperationStateForPlanEntry(plan) {
      let op = null;
      for (let operation of plan.operations) {
        if (operation.type === this.operation) {
          op = operation;
          break;
        }
        if (!operation.done) {
          return "not_reached";
        }
      }
      if (!op) {
        return "invalid";
      }
      if (op?.done) {
        return "done";
      } else {
        if (op?.working) {
          return "working";
        } else {
          return "not_started";
        }
      }
    }
    */
  },
  watch: {
    filter: {
      deep: true,
      async handler() {
        this.items = null;
        await this.fetchItems();
      },
    },
  },
  computed: {
    selected_items() {
      return Object.entries(this.checked_items).filter(([_, checked]) => checked).map(([id, _]) => Number(id));
    },
  }
}
</script>
