<template>
  <div>

    <EditReplaceCardModalComponent
      :data="replace_data"
      :show="show_edit_replace_card_modal"
      @setShow="v => show_edit_replace_card_modal = v"
      :order_id="order_id"
    />

    <EditPurchasesModalComponent
      :data="purchases_data"
      :show="show_edit_purchases_modal"
      @setShow="v => show_edit_purchases_modal = v"
      :order_id="order_id"
    />


    <div class="clearfix d-flex">
      <p class="ml-auto">
        Выбрано материала: {{ selected_items.length }}
      </p>
    </div>
    <div class="clearfix d-flex" v-if="true">
      <div>
        <b-button variant="primary" size="sm" @click="selectAllOnPage">
          <b-icon icon="check2-square"></b-icon>
          Страница
        </b-button>
      </div>
      <div class="ml-auto">
        <b-button variant="secondary" @click="addToPurchasesClipboard"
                  :disabled="selected_items.length === 0">
          <b-icon icon="cart-plus"></b-icon>
          В закупку
        </b-button>
        <b-button variant="primary" @click="addToReplaceCardClipboard"
                  :disabled="selected_items.length === 0 && selected_plan_entries.length === 0">
          <b-icon icon="list-task"></b-icon>
          В карту изменений
        </b-button>
      </div>
    </div>
    <MaterialsFilterComponent v-model="filter"/>
    <b-overlay :show="!items">
      <b-table-simple hover small caption-top responsive class="mt-4">
        <b-thead>
          <b-tr>
            <b-th>

            </b-th>
            <b-th>
              Наименование
            </b-th>
            <b-th>
              Номер
            </b-th>
            <b-th>
              Кол-во
            </b-th>
            <b-th>
              Общая масса
            </b-th>
            <b-th>
              Общая длина
            </b-th>
          </b-tr>
        </b-thead>
        <b-tbody>
          <template v-for="{material, amount_sum, mass_sum, length_sum} in items">
            <b-tr :key="`row_${material.id}`">
              <b-th>
                <b-icon
                  :icon="show_plan[material.id] ? 'arrow-up-short' : 'arrow-down-short'"
                  @click="togglePlanEntriesForMaterial(material.id)"
                >

                </b-icon>
                <b-form-checkbox
                  v-model="checked_items[material.id]"
                  @input="value => onCheckedMaterial(material.id, value)"
                >
                </b-form-checkbox>
              </b-th>
              <b-td>
                <div>
                  <strong>
                    {{ material.name }}
                    <span v-if="material.features.s">
                      S: {{ material.features.s }}
                    </span>
                  </strong>
                </div>
                <div>
                  {{ $getMaterialFeaturesStrings(material.features).join(", ") }}
                </div>
              </b-td>
              <b-td>
                {{ material.number }}
              </b-td>
              <b-td>
                {{ amount_sum }}
              </b-td>
              <b-td>
                {{ mass_sum }}
              </b-td>
              <b-td>
                {{ length_sum }}
              </b-td>
            </b-tr>
            <b-tr :key="`plan_${material.id}`" v-if="show_plan[material.id]">
              <b-td colspan="7">
                <b-overlay :show="!plan_entries_for_material[material.id]">
                  <b-table-simple hover small caption-top responsive class="mt-0" v-if="!!plan_entries_for_material[material.id]">
                    <b-thead>
                      <b-tr>
                        <b-th>

                        </b-th>
                        <b-th>
                          Деталь
                        </b-th>
                        <b-th>
                          Элемент
                        </b-th>
                        <b-th>
                          Кол-во
                        </b-th>
                        <b-th>
                          Масса штуки
                        </b-th>
                        <b-th>

                        </b-th>
                      </b-tr>
                    </b-thead>
                    <b-tbody v-if="plan_entries_for_material[material.id]">
                      <b-tr v-for="entry in plan_entries_for_material[material.id].items" :key="entry.id">
                        <b-th v-if="!checked_items[material.id]">
                          <b-form-checkbox
                            v-model="checked_plan_entries[entry.id]"
                          >
                          </b-form-checkbox>
                        </b-th>
                        <b-th v-else>
                          <b-icon icon="check"></b-icon>
                        </b-th>
                        <b-td>
                          <div>
                            <strong>
                              {{ entry.detail.name }}
                            </strong>
                          </div>
                          <div v-if="entry.detail.number">
                            ({{ entry.detail.number }})
                          </div>
                        </b-td>
                        <b-td>
                          <strong>
                            {{ entry.element.name }}
                          </strong>
                          <template v-if="entry.element.number">
                            ({{ entry.element.number }})
                          </template>
                        </b-td>
                        <b-td>
                          {{ entry.amount }}
                        </b-td>
                        <b-td>
                          {{ entry.mass }}
                        </b-td>
                      </b-tr>
                      <b-tr v-if="items">
                        <b-td colspan="7" class="text-center">
                          <i>
                            Найдено записей: {{ plan_entries_for_material[material.id].count }}
                          </i>
                        </b-td>
                      </b-tr>
                    </b-tbody>
                  </b-table-simple>
                </b-overlay>
              </b-td>
            </b-tr>
          </template>
          <b-tr v-if="items">
            <b-td colspan="7" class="text-center">
              <i>
                Найдено записей: {{ total_rows }}
              </i>
            </b-td>
          </b-tr>
        </b-tbody>
      </b-table-simple>
      <div class="d-flex align-items-center justify-content-center">
        <b-pagination
          v-model="filter.page"
          :total-rows="total_rows"
          :per-page="filter.per_page"
        ></b-pagination>
      </div>
    </b-overlay>
  </div>
</template>

<script>

import _ from "lodash";
import EditMaterialModalComponent from "@/components/materials/EditMaterialModalComponent";
import MaterialsFilterComponent from "@/components/materials/MaterialsFilterComponent";
import EditReplaceCardModalComponent from "@/components/orders/plan/EditReplaceCardModalComponent";
import EditPurchasesModalComponent from "@/components/orders/plan/EditPurchasesModalComponent";

export default {
  name: 'MaterialsPage',
  layout: 'panel',
  components: {
    EditMaterialModalComponent,
    MaterialsFilterComponent,
    EditReplaceCardModalComponent,
    EditPurchasesModalComponent,
  },
  props: {
    order_id: Number,
  },
  data() {
    return {
      show_edit_modal: false,
      edit_material_id: null,
      items: null,
      total_rows: 0,
      filter: {
        per_page: 10,
        page: 1,
      },
      checked_items: {},
      checked_plan_entries: {},
      show_plan: {},
      replace_data: null,
      show_edit_replace_card_modal: false,
      purchases_data: null,
      show_edit_purchases_modal: false,
      plan_entries_for_material: {}
    }
  },
  async created() {
    this.fetchItems = _.throttle(this.fetchItems, 300);
    await this.fetchItems();
  },
  methods: {
    async fetchItems() {
      let res = await this.$axios.$get("/plan/materials", {
        params: {
          ...this.filter,
          order_id: this.order_id,
        }
      });
      this.items = res.items;
      this.total_rows = res.count;
    },
    async openEditReplaceCardModal() {
      /*
      let {materials} = await this.$axios.$post("/materials/get_many_by_id", {ids: this.selected_items});
      this.replace_data = materials.map((m) => {
        return {
          type: 'material',
          material: m,
        }
      })
      this.show_edit_replace_card_modal = true;
       */
    },
    async openEditPurchasesModal() {
      let plan_materials = await this.$axios.$post("/plan/get_materials_by_ids", {ids: this.selected_items});
      this.purchases_data = plan_materials.items.map((m) => {
        return {
          material: m.material,
          mass: Number(m.mass_sum),
          length: Number(m.length_sum),
        }
      })
      this.show_edit_purchases_modal = true;
    },
    async addToPurchasesClipboard() {
      /*
      let plan_materials = await this.$axios.$post("/plan/get_materials_by_ids", {ids: this.selected_items});
      let purchases = plan_materials.items.map((m) => {
        return {
          material_id: m.material.id,
          mass: Number(m.mass_sum),
          length: Number(m.length_sum),
        }
      })
      await this.$axios.$post("/purchase_entries", {
        order_id: this.order_id,
        purchases,
      });
      this.$bvToast.toast(`Материалы добавлены в закупки`, {
        autoHideDelay: 5000,
        variant: 'success',
      })
      */
      let plan_materials = await this.$axios.$post("/plan/get_materials_by_ids", {ids: this.selected_items});
      let purchases = plan_materials.items.map((m) => {
        return {
          material_id: m.material.id,
          mass: Number(m.mass_sum),
          length: Number(m.length_sum),
        }
      })
      await this.$axios.$post("/clipboard/purchases/add", {
        order_id: this.order_id,
        purchases,
      });
      this.$nuxt.$emit("updateClipboardPurchases");
      this.$bvToast.toast(`Материалы добавлены в буфер закупок`, {
        autoHideDelay: 5000,
        variant: 'success',
      })
    },
    async addToReplaceCardClipboard() {
      await this.$axios.$post("/clipboard/replace_card/add", {
        order_id: this.order_id,
        material_ids: this.selected_items,
        plan_ids: this.selected_plan_entries,
      });
      this.$nuxt.$emit("updateClipboardReplaceCard");
      this.$bvToast.toast(`Материалы добавлены в буфер карты материалов`, {
        autoHideDelay: 5000,
        variant: 'success',
      })
    },
    async togglePlanEntriesForMaterial(material_id) {
      let toggle = this.show_plan[material_id] = !this.show_plan[material_id]
      delete this.plan_entries_for_material[material_id];
      await this.$forceUpdate();
      if (toggle) {
        let res = await this.$axios.$get("/plan", {
          params: {
            per_page: 1000,
            material_id: material_id,
            order_id: this.order_id,
          }
        });
        this.$set(this.plan_entries_for_material, material_id, res);
      }
    },
    onCheckedMaterial(material_id, val) {
      if (val) {
        let plans = this.plan_entries_for_material[material_id];
        if (!!plans) {
          for (let plan of plans.items) {
            this.checked_plan_entries[plan.id] = false;
          }
        }
      }
    },
    selectAllOnPage() {
      let value = true;
      for (let entry of this.items) {
        if (this.checked_items[entry.material.id]) {
          value = false;
        }
      }
      console.log(value);
      for (let entry of this.items) {
        this.$set(this.checked_items, entry.material.id, value);
      }
    },
  },
  watch: {
    filter: {
      deep: true,
      async handler() {
        this.items = null;
        await this.fetchItems();
      },
    },
  },
  computed: {
    selected_items() {
      return Object.entries(this.checked_items).filter(([_, checked]) => checked).map(([id, _]) => Number(id));
    },
    selected_plan_entries() {
      return Object.entries(this.checked_plan_entries).filter(([_, checked]) => checked).map(([id, _]) => Number(id));
    },
  }
}
</script>
