<template>
  <b-overlay :show="is_loading">
    <div v-if="step === 1">
      <LoadFileImportPlanComponent @toNextStep="toStep2" @setIsLoading="v => is_loading = v"/>
    </div>
    <div v-if="step === 2">
      <ColumnsChooseImportPlanComponent :data="columns_choose_data" @toNextStep="toStep3" @setIsLoading="v => is_loading = v"/>
    </div>
    <div v-if="step === 3">
      <PlanDataImportPlanComponent :data="plan_data" @toNextStep="toStep4" @setIsLoading="v => is_loading = v"/>
    </div>
    <div v-if="step === 4">
      <div class="d-flex" style="align-items: end;">
        <div>
          <h4>Шаг 4. Готово</h4>
          Данные загружены
        </div>
      </div>
    </div>
  </b-overlay>
</template>

<script>
import FileSelectorComponent from "@/components/files/FileSelectorComponent";
import LoadFileImportPlanComponent from "@/components/orders/plan/import/LoadFileImportPlanComponent";
import ColumnsChooseImportPlanComponent from "@/components/orders/plan/import/ColumnsChooseImportPlanComponent";
import PlanDataImportPlanComponent from "@/components/orders/plan/import/PlanDataImportPlanComponent";

export default {
  name: "PlanImportComponent",
  components: {
    FileSelectorComponent,
    LoadFileImportPlanComponent,
    ColumnsChooseImportPlanComponent,
    PlanDataImportPlanComponent,
  },
  data() {
    return {
      is_loading: false,
      file: null,
      step: 1,
      columns_choose_data: null,
      plan_data: null,
    }
  },
  methods: {
    toStep2(columns_choose_data) {
      this.columns_choose_data = columns_choose_data;
      this.step = 2;
    },
    toStep3(plan_data) {
      this.plan_data = plan_data;
      this.step = 3;
    },
    toStep4() {
      this.step = 4;
    }
  },
}
</script>

<style scoped>

</style>
