<template>
  <div>
    <b-form inline>
      <b-form-group label="Наименование" class="mr-2">
        <b-form-input
          placeholder="напр. лист жести"
          @input="v => $emit('input', {...filter, all_name: v})"
        ></b-form-input>
      </b-form-group>
      <b-form-group label="Номер" class="mr-2">
        <b-form-input
          placeholder="напр. A 123.123.12.12"
          @input="v => $emit('input', {...filter, all_number: v})"
        ></b-form-input>
      </b-form-group>
      <b-popover
        style="width: 300px !important;"
        target="#operations_filter_button" placement="rightbottom" :show="show_operations_filter_popover">
        <OperationsFilterComponent
          :data="filter.operations ? filter.operations : []"
          @input="v => $emit('input', {...filter, operations: v})"
        />
      </b-popover>
      <div style="max-width: 75px">
        <b-form-group label="S" class="mr-2">
          <b-form-input
            style="width: 100%"
            placeholder=""
            @input="v => $emit('input', {...filter, ...((!!v ? {material: {features: {s: v}}} : {material: undefined}))})"
          ></b-form-input>
        </b-form-group>
      </div>
      <b-form-group class="ml-3 mr-4 mt-4" id="operations_filter_button" v-if="show_operations_filter">
        <b-icon class="mt-1" icon="gear" @click="show_operations_filter_popover = !show_operations_filter_popover"/>
      </b-form-group>
      <b-form-group label="">
        <b-form-checkbox
          class="mt-4"
          :checked="filter.show_deleted"
          @input="v => $emit('input', {...filter, show_deleted: v})"
        >
          <b-icon class="mt-1" icon="trash"/>
        </b-form-checkbox>
      </b-form-group>
      <b-form-group label="На стр." class="ml-auto">
        <b-form-select :options="per_page_options"
                       :value="filter.per_page"
                       @input="v => $emit('input', {...filter, per_page: v})">

        </b-form-select>
      </b-form-group>
    </b-form>
  </div>
</template>

<script>
//import OperationsFilterComponent from "@/components/operations/OperationsFilterComponent";

export default {
  name: "MaterialsFilterComponent",
  components: {
    //OperationsFilterComponent,
  },
  props: {
    filter: Object,
    show_operations_filter: Boolean,
  },
  model: {
    prop: 'filter',
    event: 'input',
  },
  data() {
    return {
      show_operations_filter_popover: false,
    }
  },
  computed: {
    per_page_options() {
      return [
        {
          text: '2',
          value: 2,
        },
        {
          text: '10',
          value: 10,
        },
        {
          text: '20',
          value: 20,
        },
        {
          text: '50',
          value: 50,
        },
        {
          text: '100',
          value: 100,
        },
      ];
    }
  }
}
</script>

<style scoped>

</style>
