<template>
  <div>
    <b-tabs content-class="mt-3" align="center" v-model="active">
      <b-tab title="Задачи" active>
        <PlanComponent operation="PLASMA"/>
      </b-tab>
      <b-tab title="Раскладки">
        <LayoutsComponent @show="active = 1"/>
      </b-tab>
      <b-tab title="Материалы в цеху">
        <StockComponent location="area_plasma">
          <template #title>
            <h1 class="float-left">
              Остатки в цеху
            </h1>
          </template>
        </StockComponent>
      </b-tab>
      <b-tab title="Заявки">
        <RequestsComponent :order_id="Number($route.params.order_id)"/>
      </b-tab>
    </b-tabs>
  </div>
</template>

<script>

import AreaTasksComponent from "@/components/areas/AreaTasksComponent";
import StockComponent from "@/components/stock/StockComponent";
import RequestsComponent from "@/components/requests/RequestsComponent";
import PlanComponent from "@/components/orders/plan/PlanComponent";
import LayoutsComponent from "@/components/layouts/LayoutsComponent";

export default {
  name: 'PilaAreaPage',
  layout: 'panel',
  components: {
    AreaTasksComponent,
    StockComponent,
    RequestsComponent,
    PlanComponent,
    LayoutsComponent,
  },
  data() {
    return {
      active: 0,
    }
  }
}
</script>
