<template>
  <div class="about">
    <h1>
      Rikon ERP
    </h1>
    <p>
      Информационная система для производственных процессов.
    </p>
    <p>
      Программа разработана Zennyo.<br>
      <a href="https://t.me/zennyo">t.me/zennyo</a><br>
      <a href="mailto:zennyo@pm.me">zennyo@pm.me</a>
    </p>
    <img src="/zennyo_logo.png"/>
  </div>
</template>

<script>
export default {
  name: 'AboutPage',
  layout: 'panel',
}
</script>

<style>
.about {
  text-align: center;
  margin: 100px auto 0;
  max-width: 400px;
}
</style>
