<template>
  <div class="auth-container">
    <div class="clearfix">
      <b-form-group label="Логин">
        <b-form-input
          v-model="username"
          placeholder="Введите логин"
          required
        ></b-form-input>
      </b-form-group>
      <b-form-group label="Пароль">
        <b-form-input
          v-model="password"
          placeholder="Введите пароль"
          type="password"
          required
        ></b-form-input>
      </b-form-group>

      <b-button variant="success" class="float-right" @click="auth">Войти</b-button>
    </div>
    <hr>
    <div v-if="roles_options.length > 0" class="clearfix">
      <b-alert variant="danger" show>Только для теста</b-alert>
      <b-form-group label="Войти как:">
        <b-form-select
          v-model="selected_role"
          :options="roles_options"
          required
        ></b-form-select>
      </b-form-group>

      <b-button variant="success" class="float-right" @click="debugAuth">Войти</b-button>
    </div>
  </div>
</template>

<script>
export default {
  name: 'AuthPage',
  data() {
    return {
      selected_role: null,
      roles: [],
      username: '',
      password: '',
    };
  },
  async created() {
    await this.fetchRoles();
  },
  methods: {
    async fetchRoles() {
      this.roles = await this.$axios.$get("/roles");
    },
    async auth() {
      try {
        let {role, token} = await this.$axios.$post("/auth", {
          username: this.username,
          password: this.password,
        });
        this.$store.commit("setUser", {username: this.username, token, role});
        await this.$router.replace("/");
        this.$bvToast.toast(`Вы успешно вошли`, {
          title: 'Успех',
          autoHideDelay: 5000,
          variant: 'success',
        })
      } catch (e) {
        if (e.response.status === 403) {
          this.$bvToast.toast(`Неверный вход!`, {
            title: 'Ошибка',
            autoHideDelay: 5000,
            variant: 'danger',
          })
        }
      }
    },
    async debugAuth() {
      try {
        let {role, token} = await this.$axios.$post("/auth/debug", {
          role: this.selected_role,
        });
        this.$store.commit("setUser", {username: `debug_${this.selected_role}`, token, role});
        await this.$router.replace("/");
        this.$bvToast.toast(`Вы успешно вошли`, {
          title: 'Успех',
          autoHideDelay: 5000,
          variant: 'success',
        })
      } catch (e) {
        if (e.response.status === 403) {
          this.$bvToast.toast(`Неверный вход!`, {
            title: 'Ошибка',
            autoHideDelay: 5000,
            variant: 'danger',
          })
        }
      }
    }
  },
  computed: {
    roles_options() {
      return Object.entries(this.roles).filter(([id, role]) => {
        return [
          'management_cto',
          'management_control',
          'area_pila',
          'management_supply'
        ].includes(id);
      }).map(([id, role]) => {
        return {
          text: role.name,
          value: id,
        }
      })
    }
  }
}
</script>

<style>
.auth-container {
  margin: 100px auto 0;
  max-width: 400px;
}
</style>
