<template>
  <div>
    <b-breadcrumb :items="[{text: 'Добро пожаловать в Rikon ERP', active: true}]"></b-breadcrumb>
    <Dashboard/>
  </div>
</template>

<script>

import Dashboard from "@/components/dashboard/Dashboard";

export default {
  name: 'IndexPage',
  layout: 'panel',
  components: {
    Dashboard,
  },
  head() {
    return {
      title: "Rikon ERP"
    };
  },
}
</script>
