<template>
  <div>
      <LayoutsComponent/>
  </div>
</template>

<script>

import LayoutsComponent from "@/components/layouts/LayoutsComponent";

export default {
  name: 'LayoutsPage',
  layout: 'panel',
  components: {
    LayoutsComponent,
  },
  data() {
    return {
    }
  },
  methods: {
  },
}
</script>
