<template>
  <div>
  </div>
</template>

<script>
export default {
  name: 'LogoutPage',
  data() {
    return {
    };
  },
  async mounted() {
    this.$store.commit("setToken", null);
    await this.$router.replace("/auth");
  },
}
</script>

<style>
.auth-container {
  margin: 100px auto 0;
  max-width: 400px;
}
</style>
