<template>
  <div>
    <b-breadcrumb :items="[{text: 'Операции', active: true}]"></b-breadcrumb>
    <Operations/>
  </div>
</template>

<script>

import Operations from "@/components/operations/Operations";

export default {
  name: 'OperationsPage',
  layout: 'panel',
  components: {
    Operations,
  }
}
</script>
