<template>
  <div>
    <b-breadcrumb :items="[{text: 'Заказы', active: true}]"></b-breadcrumb>
    <Orders/>
  </div>
</template>

<script>

import Orders from "~/components/orders/Orders";

export default {
  name: 'OrdersPage',
  layout: 'panel',
  components: {
    Orders,
  },
}
</script>
