<template>
  <div>
      <MessagesComponent chat_type="global_replace_cards"/>
  </div>
</template>

<script>

import OrdersComponent from "@/components/orders/OrdersComponent";
import OrderComponent from "@/components/orders/OrderComponent";
import MessagesComponent from "@/components/messages/MessagesComponent";

export default {
  name: 'ReplaceCardsPage',
  layout: 'panel',
  components: {
    MessagesComponent,
  },
  data() {
    return {
    }
  },
}
</script>
