<template>
    <b-tabs content-class="mt-3" align="center">
      <b-tab title="Остатки" active lazy>
        <StockComponent location="warehouse">
          <template #title>
            <h1 class="float-left">
              Остатки на складе
            </h1>
          </template>
        </StockComponent>
      </b-tab>
      <b-tab title="Поставщики">
        <SuppliersComponent/>
      </b-tab>
      <b-tab title="Заявки">
        <RequestsComponent/>
      </b-tab>
      <b-tab title="Закупки">
        <PurchasesComponent/>
      </b-tab>
    </b-tabs>
</template>

<script>

import StockComponent from "@/components/stock/StockComponent";
import RequestsComponent from "@/components/requests/RequestsComponent";
import MessagesComponent from "@/components/messages/MessagesComponent";
import PurchasesComponent from "@/components/purchases/PurchasesComponent";
import SuppliersComponent from "@/components/stock/suppliers/SuppliersComponent";

export default {
  name: 'StockPage',
  layout: 'panel',
  components: {
    StockComponent,
    RequestsComponent,
    MessagesComponent,
    PurchasesComponent,
    SuppliersComponent,
  }
}
</script>
