<template>
  <div>
    <b-breadcrumb :items="[{text: 'Пользователи', active: true}]"></b-breadcrumb>
    <Users/>
  </div>
</template>

<script>

import Users from "@/components/users/Users";

export default {
  name: 'UsersPage',
  layout: 'panel',
  components: {
    Users,
  }
}
</script>
