<template>
  <div>
    <b-form inline>
      <b-form-group label="Отправитель" class="mr-2">
        <UserSelectorComponent
          :selected_user="selected_user"
          :state="null"
          @input="v => updateUser(v)"
        />
      </b-form-group>
      <b-form-group label="">
        <b-form-checkbox
          class="mt-4"
          :checked="filter.show_deleted"
          @input="v => $emit('input', {...filter, show_deleted: v})"
        >
          <b-icon class="mt-1" icon="trash"/>
        </b-form-checkbox>
      </b-form-group>
      <b-form-group label="На стр." class="ml-auto">
        <b-form-select :options="per_page_options"
                       :value="filter.per_page"
                       @input="v => $emit('input', {...filter, per_page: v})">

        </b-form-select>
      </b-form-group>
    </b-form>
  </div>
</template>

<script>

export default {
  name: "DetailsFilterComponent",
  props: {
    filter: Object,
  },
  components: {
  },
  data() {
    return {
      selected_user: null,
    }
  },
  model: {
    prop: 'filter',
    event: 'input',
  },
  methods: {
    updateUser(user) {
      this.selected_user = user;
      this.$emit('input', {...this.filter, sender_id: user?.id ?? null});
    }
  },
  computed: {
    per_page_options() {
      return [
        {
          text: '2',
          value: 2,
        },
        {
          text: '10',
          value: 10,
        },
        {
          text: '20',
          value: 20,
        },
        {
          text: '50',
          value: 50,
        },
        {
          text: '100',
          value: 100,
        },
      ];
    }
  }
}
</script>

<style scoped>

</style>
