<template>
  <div>
    <b-form-textarea
      id="textarea"
      v-model="message"
      placeholder="Введите сообщение"
      rows="3"
      max-rows="6"
    ></b-form-textarea>
    <div class="clearfix mt-2">
      <b-button variant="success" class="float-right" @click="send">
        Отправить
      </b-button>
    </div>
  </div>
</template>

<script>
export default {
  name: "MessageFormComponent",
  props: {
    chat_type: String,
    chat_id1: Number,
    chat_id2: Number,
  },
  data() {
    return {
      message: ''
    }
  },
  methods: {
    async send() {
      this.$emit("onPreSend");
      await this.$axios.$post("/messages", {
        chat_type: this.chat_type,
        chat_id1: this.chat_id1,
        chat_id2: this.chat_id2,
        message: this.message,
      })
      this.$emit("onSend");
    }
  }
}
</script>

<style scoped>

</style>
