<template>
  <div>
    <b-overlay :show="!items">
      <div class="mb-4" v-if="items">
        <MessagesFilterComponent v-model="filter"/>
        <div class="mt-4">
          <b-media v-for="(message, index) of items" :class="{'text-muted': message.is_deleted}">
            <hr v-if="index !== 0"/>
            <p class="d-flex">
              <template v-if="message.sender_name && message.sender_role">
                <strong>
                  {{ message.sender_name }}
                </strong>
                &nbsp;
                <i>
                  {{ $getRoleName(message.sender_role) }}
                </i>
              </template>
              <strong v-else>Система</strong>
              <span class="ml-auto">
                {{ moment(message.created_at).format("llll") }}
                <i>
                  <a href="#" class="ml-auto"
                     v-if="!message.is_deleted"
                     @click.prevent="deleteItem(message.id)">
                    Удалить
                  </a>
                </i>
              </span>
            </p>
            <p class="mb-0">
              {{ message.message }}
              <template v-if="message.replace_card_id">
                <ReplaceCardViewComponent :id="message.replace_card_id"/>
              </template>
            </p>
          </b-media>
        </div>
        <div v-if="items.length === 0">
          Сообщений нет
        </div>
        <div class="d-flex align-items-center justify-content-center">
          <b-pagination
            v-model="filter.page"
            :total-rows="total_rows"
            :per-page="filter.per_page"
          ></b-pagination>
        </div>
      </div>
      <MessageFormComponent
        :chat_type="chat_type"
        :chat_id1="chat_id1"
        :chat_id2="chat_id2"
        @onPreSend="onPreSend"
        @onSend="onSend"
      />
    </b-overlay>
  </div>
</template>

<script>
import MessageFormComponent from "@/components/messages/MessageFormComponent";
import MessagesFilterComponent from "@/components/messages/MessagesFilterComponent";
import moment from "moment";
import ReplaceCardViewComponent from "@/components/replace_cards/ReplaceCardViewComponent";

export default {
  name: "MessagesComponent",
  props: {
    chat_type: String,
    chat_id1: Number,
    chat_id2: Number,
  },
  components: {
    MessageFormComponent,
    MessagesFilterComponent,
    ReplaceCardViewComponent,
  },
  data() {
    return {
      items: null,
      total_rows: 0,
      filter: {
        per_page: 10,
        page: 1,
      },
    }
  },
  async created() {
    await this.fetchItems();
  },
  methods: {
    async fetchItems() {
      let res = await this.$axios.$get("/messages", {
        params: {
          ...this.filter,
          chat_type: this.chat_type,
          chat_id1: this.chat_id1,
          chat_id2: this.chat_id2,
        }
      });
      this.items = res.items;
      this.total_rows = res.count;
    },
    onPreSend() {
      this.items = null;
    },
    async onSend() {
      await this.fetchItems();
    },
    async deleteItem(id) {
      this.items = null;
      await this.$axios.$delete("/messages", {params: {id}});
      await this.fetchItems();
    }
  },
  watch: {
    filter: {
      deep: true,
      async handler() {
        this.requests = null;
        await this.fetchItems();
      },
    },
  },
  computed: {
    moment: () => moment,
  }
}
</script>

<style scoped>

</style>
