<template>
  <div>
    <b-card v-for="message in messages" :key="message.id" class="mt-2" no-body style="padding: 8px" :text-variant="message.is_deleted ? 'muted' : ''">
      <b-media>
        <template #aside>
          <b-img blank blank-color="#ccc" width="32" rounded="circle"></b-img>
        </template>

        <span class="d-flex" v-if="message.sender">
          <strong>
            {{ message.sender.name }}
            <i>
              @{{ message.sender.username }}
            </i>
          </strong>
          <span class="ml-auto">
            {{ moment(message.created_at).format("llll") }}
            <i>
              <a href="#" class="ml-auto"
                 v-if="!message.is_deleted"
                 @click.prevent="del(message.id)">
                Удалить
              </a>
            </i>
          </span>
        </span>
        <p class="mb-0">
          {{ message.message }}
        </p>
      </b-media>
    </b-card>
  </div>
</template>

<script>
import moment from 'moment';
import gql from "graphql-tag";

export default {
  name: "MessagesView",
  props: {
    messages: Array,
    delete_query: Function,
  },
  computed: {
    moment: () => moment,
  },
  methods: {
    async del(id) {
      let query = this.delete_query(gql);
      let vars = {};
      if (Array.isArray(query)) {
        vars = query[1];
        query = query[0];
      }
      let res = await this.$apollo.mutate({
        mutation: query,
        variables: {
          id
        }
      })
      await this.$apollo.provider.defaultClient.resetStore();
      return res;
    }
  }
}
</script>

<style scoped>

</style>
