<template>
  <div>
    <b-form-textarea
      id="textarea"
      v-model="message"
      placeholder="Введите сообщение"
      rows="3"
      max-rows="6"
      @keyup.ctrl.enter="send"
    ></b-form-textarea>
    <div class="clearfix mt-2">
      <b-button variant="success" class="float-right" @click="send">
        Отправить
      </b-button>
    </div>
  </div>
</template>

<script>
import gql from "graphql-tag";

export default {
  name: "MessageForm",
  props: {
    query: Function,
  },
  data() {
    return {
      message: '',
    }
  },
  methods: {
    async send() {
      let data = {
        message: this.message,
      };
      this.message = '';
      let query = this.query(gql);
      let vars = {};
      if (Array.isArray(query)) {
        vars = query[1];
        query = query[0];
      }
      let res = await this.$apollo.mutate({
        mutation: query,
        variables: {
          data,
          ...vars,
        }
      })
      await this.$apollo.provider.defaultClient.resetStore();
      return res;
    }
  }
}
</script>

<style scoped>

</style>
