<template>
  <div>
    <div class="chat-button"
         :class="{'chat-button-hide': show}"
         @click="show = !show">
      <b-icon icon="chat"></b-icon>
    </div>
    <div class="chat" :class="{'chat-show': show}">
      <div class="chat-header d-flex">
        <b-icon class="ml-auto" icon="x" @click="show = !show"></b-icon>
      </div>
      <div class="chat" :class="{'clipboard-show': show}">
        <div class="chat-header d-flex">
          <b-icon class="ml-auto" icon="x" @click="show = !show"></b-icon>
        </div>
        <b-tabs content-class="chat-content-wrapper mt-3" small>
          lskdjf
        </b-tabs>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  name: "ClipboardComponent",
  components: {
  },
  data() {
    return {
      show: false,
    }
  },
}
</script>

<style>
.chat-button {
  width: 40px;
  height: 40px;
  position: fixed;
  z-index: 99;
  right: 20px;
  bottom: 20px;
  background: white;
  border-radius: 20px;
  box-shadow: 0 0 10px black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-button-hide {
  opacity: 0;
}

.chat {
  width: 700px;
  height: 500px;
  position: fixed;
  z-index: 199;
  right: 20px;
  bottom: 20px;
  background: white;
  border-radius: 20px;
  box-shadow: 0 0 5px black;
  opacity: 0;
  transition: opacity 0.5s;
  display: none;
  padding: 20px;
  flex-direction: column;
}

.chat-show {
  opacity: 1;
  display: flex;
}

.chat .tab-pane {
  height: 100%;
}

.chat-content {
  width: 100%;
  height: 400px;
  overflow-y: scroll;
}
</style>

<style>
.chat-content-wrapper {
  height: 100%;
}
</style>
