<template>
  <div>
    <b-modal v-model="show" v-if="edit" @change="v => $emit('setShow', v)">
      <template #modal-title>
        <div v-if="edit_id === -1">
          Добавить материал
        </div>
        <div v-else>
          Изменить материал
        </div>
      </template>
      <b-form-group label="Наименование">
        <b-form-input
          v-model="edit.name"
          placeholder="напр. лист жести..."
          required
        ></b-form-input>
      </b-form-group>
      <b-form-group label="Номер">
        <b-form-input
          v-model="edit.number"
          placeholder="A 123.123.12.12"
          required
        ></b-form-input>
      </b-form-group>
      <b-row>
        <b-col>
          <b-form-group label="Масса">
            <b-input-group>
              <b-form-input
                class="border-right-0"
                v-model="edit.features.mass"
                placeholder="100"
                required
              ></b-form-input>
              <b-input-group-append>
                <b-input-group-text class="bg-transparent font-weight-bold">
                  кг.
                </b-input-group-text>
              </b-input-group-append>
            </b-input-group>
          </b-form-group>
        </b-col>
        <b-col>
          <b-form-group label="Ширина">
            <b-input-group>
              <b-form-input
                class="border-right-0"
                v-model="edit.features.size.width"
                placeholder="262"
                required
              ></b-form-input>
              <b-input-group-append>
                <b-input-group-text class="bg-transparent font-weight-bold">
                  мм
                </b-input-group-text>
              </b-input-group-append>
            </b-input-group>
          </b-form-group>
        </b-col>
        <b-col>
          <b-form-group label="Длина">
            <b-input-group>
              <b-form-input
                class="border-right-0"
                v-model="edit.features.size.length"
                placeholder="955"
                required
              ></b-form-input>
              <b-input-group-append>
                <b-input-group-text class="bg-transparent font-weight-bold">
                  мм
                </b-input-group-text>
              </b-input-group-append>
            </b-input-group>
          </b-form-group>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <b-form-group label="Марка">
            <b-input-group>
              <b-form-input
                class=""
                v-model="edit.features.grade"
                placeholder="S355J2 EN 10025"
                required
              ></b-form-input>
            </b-input-group>
          </b-form-group>
        </b-col>
        <b-col>
          <b-form-group label="S">
            <b-input-group>
              <b-form-input
                class=""
                v-model="edit.features.s"
                placeholder="6"
                required
              ></b-form-input>
            </b-input-group>
          </b-form-group>
        </b-col>
      </b-row>
      <template #modal-footer>
        <b-button variant="secondary" class="float-right" @click="$emit('setShow', false)">
          <b-icon icon="x-circle"></b-icon>
          Отмена
        </b-button>
        <b-button variant="success" class="float-right" @click="save">
          <b-icon icon="file-earmark-arrow-down"></b-icon>
          Сохранить
        </b-button>
      </template>
    </b-modal>
  </div>
</template>

<script>
import MaterialSelectorComponent from "@/components/materials/MaterialSelectorComponent";

export default {
  name: "EditMaterialModalComponent",
  props: {
    show: Boolean,
    edit_id: Number,
    order_id: Number,
  },
  model: {
    prop: 'edit_id',
    event: 'input',
  },
  data() {
    return {
      edit: null,
    };
  },
  methods: {
    async save() {
      let edit = Object.assign({}, this.edit);
      edit.features.mass = edit.features.mass ? Number(edit.features.mass) : null;
      edit.features.size.width = edit.features.size.width ? Number(edit.features.size.width) : null;
      edit.features.size.height = edit.features.size.height ? Number(edit.features.size.height) : null;
      edit.features.s = edit.features.s ? Number(edit.features.s) : null;
      if (this.edit_id === -1) {
        await this.$axios.$post("/materials", this.edit);
      } else {
        await this.$axios.$patch("/materials", this.edit);
      }
      this.$emit("save");
      this.edit = null;
    },
  },
  watch: {
    async edit_id(id) {
      if (id !== -1 && id !== null) {
        this.edit = await this.$axios.$get('/materials/by_id', {params: {id}})
      } else {
        this.edit = {
          order_id: this.order_id,
          name: "",
          number: "",
          features: {
            mass: null,
            size: {
              width: null,
              length: null,
            },
            grade: null,
            s: null,
          }
        }
      }
    }
  },
}
</script>

<style scoped>

</style>
