<template>
  <div>
    <Selector :selected_id="selected_id_" @input="id => {$emit('input', id)}"
              title="Выбор материала" :fetch_query="gql => gql`
query Fetch($id: ItemId!) {
    material(id: $id) {
        id
        name,
        features {
            s
            grade
        }
    }
}
  `"
              :selected_item_text="item => item.name">
      <template #default="{select}">
        <div class="d-flex">
          <b-button size="sm" class="ml-auto ml-2" @click="select(null)">
            Отменить выбор
          </b-button>
        </div>
        <ItemsView :query="gql => [gql`
  query Items($order_id: ItemId!, $page: Page!, $filter: MaterialFilter!) {
    order(id: $order_id) {
      id
      materials(page: $page, filter: $filter) {
          count
          items {
              id
              name
              features {
                s
                grade
              }
              is_deleted
          }
      }
    }
 }
 `, {order_id}]" :per_pages="[10, 20, 50, 100]"
                   :getter="result => {return result.order.materials}"
                   :filter_default="{features: {s: null, grade: ''}}"
                   filter_style="select"
        >
          <template #filter="{filter}">
            <div>
              <b-form-group label="Название" class="mr-2">
                <b-form-input
                  v-model="filter.name"
                ></b-form-input>
              </b-form-group>
            </div>
            <div style="max-width: 75px">
              <b-form-group label="S" class="mr-2">
                <b-form-input
                  style="width: 100%"
                  placeholder=""
                  :value="filter.features.s"
                  @input="v => filter.features.s = v ? Number(v) : null"
                  type="number"
                ></b-form-input>
              </b-form-group>
            </div>
            <div>
              <b-form-group label="Марка" class="mr-2">
                <b-form-input
                  v-model="filter.features.grade"
                ></b-form-input>
              </b-form-group>
            </div>
          </template>
          <template #default="{count, items}">
            <TableView
              :keys="['material', 'buttons']"
              :count="count"
              :items="items"
            >
              <template #title(material)>
                Материал
              </template>
              <template #cell(material)="{item}">
                <MaterialView :material="item"/>
              </template>
              <template #cell(buttons)="{item}">
                <div class="d-flex">
                  <b-button size="sm" class="ml-auto ml-2" @click="select(item.id)">
                    Выбрать
                  </b-button>
                </div>
              </template>
            </TableView>
          </template>
        </ItemsView>
      </template>
    </Selector>
  </div>
</template>

<script>

import ItemsView from "~/components/common/view/ItemsView";
import TableView from "~/components/common/view/TableView";
import ItemEditQueries from "~/components/common/edit/ItemEditQueries";
import EditUser from "~/components/users/EditUser";
import gql from "graphql-tag";
import Selector from "@/components/common/selector/Selector";
import MaterialView from "@/components/materials/MaterialView";

export default {
  name: 'MaterialSelector',
  components: {
    ItemsView,
    TableView,
    ItemEditQueries,
    EditUser,
    Selector,
    MaterialView,
  },
  props: {
    selected_id: Number,
    order_id: Number,
  },
  model: {
    prop: 'selected_id',
    event: 'input',
  },
  data() {
    return {
      show: false,
      selected_id_: null,
    }
  },
  watch: {
    selected_id: {
      immediate: true,
      handler() {
        console.log("WATCH");
        this.selected_id_ = this.selected_id;
      }
    }
  },
  computed: {
    console: () => console,
  }
}
</script>
