<template>
  <span>
    <strong>
      {{ material.name }}
      <span v-if="material.features.s">
        S: {{ material.features.s }}
      </span>
    </strong>
    <br/>
    <template v-if="material.features.grade">
      Марка: {{ material.features.grade }}
    </template>
  </span>
</template>

<script>
export default {
  name: "MaterialView",
  props: {
    material: Object,
  }
}
</script>

<style scoped>

</style>
