<template>
  <div>
    <ItemEditQueries
      :fetch_query="gql => gql`query Fetch($id: ItemId!) {
      material(id: $id) {
        name
        features {
            s
            grade
        }
      }
}
`"
      :create_query="gql => [gql`mutation Create($order_id: ItemId!, $data: MaterialInput!) {
    order(id: $order_id) {
      id
      createMaterial(data: $data)
    }
}
`, {order_id}]"
      :edit_query="gql => gql`mutation Edit($id: ItemId!, $data: MaterialInput!) {
    material(id: $id) {
        edit(data: $data)
    }
}
`"
      :delete_query="gql => gql`mutation Delete($id: ItemId!) {
    material(id: $id) {
        delete
    }
}
`"
    >
      <template #default="{hooks}">
        <EditMaterial :hooks="hooks" ref="edit"/>
      </template>
    </ItemEditQueries>
    <div class="clearfix">
      <h1 class="float-left">Материалы</h1>
      <b-button variant="success" class="float-right" @click="$refs.edit ? $refs.edit.create() : null">
        <b-icon icon="plus-circle"></b-icon>
        Создать
      </b-button>
    </div>
    <ItemsView :query="gql => [gql`
  query Items($order_id: ItemId!, $page: Page!, $filter: MaterialFilter!) {
    order(id: $order_id) {
      id
      materials(page: $page, filter: $filter) {
          count
          items {
              id
              name
              features {
                s
                grade
              }
              is_deleted
          }
      }
    }
 }
 `, {order_id}]" :per_pages="[10, 20, 50, 100]"
               :getter="result => {return result.order.materials}"
               :filter_default="{features: {s: null, grade: ''}}"
    >
      <template #filter="{filter}">
        <b-form-group label="Название" class="mr-2">
          <b-form-input
            v-model="filter.name"
          ></b-form-input>
        </b-form-group>
        <div style="max-width: 75px">
          <b-form-group label="S" class="mr-2">
            <b-form-input
              style="width: 100%"
              placeholder=""
              :value="filter.features.s"
              @input="v => filter.features.s = v ? Number(v) : null"
              type="number"
            ></b-form-input>
          </b-form-group>
        </div>
        <b-form-group label="Марка" class="mr-2">
          <b-form-input
            v-model="filter.features.grade"
          ></b-form-input>
        </b-form-group>
        <b-form-group label="">
          <b-form-checkbox
            class="mt-4"
            v-model="filter.show_deleted"
          >
            <b-icon class="mt-1" icon="trash"/>
          </b-form-checkbox>
        </b-form-group>
      </template>
      <template #default="{count, items}">
        <TableView
          :keys="['material', 'buttons']"
          :count="count"
          :items="items"
        >
          <template #title(material)>
            Материал
          </template>
          <template #cell(material)="{item}">
            <MaterialView :material="item"/>
          </template>
          <template #cell(buttons)="{item}">
            <div v-if="item.is_deleted" class="d-flex">
              <b-icon class="ml-auto mt-1" icon="trash"/>
            </div>
            <div class="d-flex" v-else>
              <b-button size="sm" variant="primary" class="ml-auto"
                        @click="$refs.edit ? $refs.edit.edit(item.id) : null">
                <b-icon icon="pencil"></b-icon>
              </b-button>
              <b-button size="sm" variant="danger" class="ml-2" @click="$refs.edit ? $refs.edit.del(item.id) : null">
                <b-icon icon="x"></b-icon>
              </b-button>
            </div>
          </template>
        </TableView>
      </template>
    </ItemsView>
  </div>
</template>

<script>

import ItemsView from "~/components/common/view/ItemsView";
import TableView from "~/components/common/view/TableView";
import ItemEditQueries from "~/components/common/edit/ItemEditQueries";
import EditMaterial from "@/components/materials/EditMaterial";
import MaterialView from "@/components/materials/MaterialView";

export default {
  name: 'Materials',
  components: {
    ItemsView,
    TableView,
    ItemEditQueries,
    EditMaterial,
    MaterialView,
  },
  props: {
    order_id: Number,
  },
  computed: {
    console: () => console
  },
}
</script>
