<template>
  <div>
    <EditMaterialModalComponent
      v-model="edit_material_id"
      :show="show_edit_modal"
      @save="onSave"
      @setShow="v => show_edit_modal = v"
      :order_id="order_id"
    />

    <div class="clearfix">
      <h1 class="float-left">Материалы</h1>
      <b-button variant="success" class="float-right" @click="editMaterial(-1)">
        <b-icon icon="plus-circle"></b-icon>
        Создать
      </b-button>
    </div>
    <MaterialsFilterComponent v-model="filter"/>
    <b-overlay :show="!items">
      <b-table-simple hover small caption-top responsive class="mt-4">
        <b-thead>
          <b-tr>
            <b-th>
              Наименование
            </b-th>
            <b-th>
              Номер
            </b-th>
            <b-th>

            </b-th>
          </b-tr>
        </b-thead>
        <b-tbody>
          <b-tr v-for="material in items" :key="material.id" :class="{'text-muted': material.is_deleted}">
            <b-td>
              <div>
                {{ material.name }}
              </div>
              <div>
                {{ $getMaterialFeaturesStrings(material.features).join(", ") }}
              </div>
            </b-td>
            <b-td>{{ material.number }}</b-td>
            <b-td v-if="!material.is_deleted">
              <b-button size="sm" variant="danger" class="float-right" @click="deleteMaterial(material.id)">
                <b-icon icon="x"></b-icon>
              </b-button>
              <b-button size="sm" variant="primary" class="float-right mr-2" @click="editMaterial(material.id)">
                <b-icon icon="pencil"></b-icon>
              </b-button>
            </b-td>
            <b-td v-else>

            </b-td>
          </b-tr>
          <b-tr v-if="items">
            <b-td colspan="4" class="text-center">
              <i>
                Найдено записей: {{ total_rows }}
              </i>
            </b-td>
          </b-tr>
        </b-tbody>
      </b-table-simple>
      <div class="d-flex align-items-center justify-content-center">
        <b-pagination
          v-model="filter.page"
          :total-rows="total_rows"
          :per-page="filter.per_page"
        ></b-pagination>
      </div>
    </b-overlay>
  </div>
</template>

<script>

import EditMaterialModalComponent from "@/components/materials/EditMaterialModalComponent";
import MaterialsFilterComponent from "@/components/materials/MaterialsFilterComponent";
import _ from "lodash";

export default {
  name: 'MaterialsPage',
  layout: 'panel',
  components: {
    EditMaterialModalComponent,
    MaterialsFilterComponent,
  },
  props: {
    order_id: Number,
  },
  data() {
    return {
      show_edit_modal: false,
      edit_material_id: null,
      items: null,
      total_rows: 0,
      filter: {
        per_page: 10,
        page: 1,
      },
    }
  },
  async created() {
    this.fetchItems = _.throttle(this.fetchItems, 300);
    await this.fetchItems();
  },
  methods: {
    async fetchItems() {
      let res = await this.$axios.$get("/materials", {
        params: {
          ...this.filter,
          order_id: this.order_id,
        }
      });
      this.items = res.items;
      this.total_rows = res.count;
    },
    async editMaterial(id) {
      this.edit_material_id = id;
      this.show_edit_modal = true;
    },
    async onSave() {
      this.show_edit_modal = false;
      this.items = null;
      await this.fetchItems();
    },
    async deleteMaterial(id) {
      this.items = null;
      await this.$axios.$delete("/materials", {params: {id}});
      await this.fetchItems();
    }
  },
  watch: {
    filter: {
      deep: true,
      async handler() {
        this.items = null;
        await this.fetchItems();
      },
    },
  },
}
</script>
