<template>
  <ItemEdit ref="edit" :hooks="hooks" :create-default="{name: '', username: '', password: '', role: 'DEBUG'}">
    <template #default="{edit_id, edit_item, show_delete, save, apply_del, clear}">
      <b-modal :visible="show_delete" @change="v => !v ? clear() : void 0">
        <template #modal-header>
          Подтверждение
        </template>
        Удалить запись?
        <template #modal-footer>
          <b-button variant="secondary" class="float-right" @click="clear">
            <b-icon icon="x-circle"></b-icon>
            Отмена
          </b-button>
          <b-button variant="danger" class="float-right" @click="apply_del">
            <b-icon icon="trash"></b-icon>
            Удалить
          </b-button>
        </template>
      </b-modal>
      <b-modal :visible="edit_id !== null" v-if="edit_item" @change="v => !v ? clear() : void 0">
        <template #modal-title>
          <div v-if="edit_id === -1">
            Добавить пользователя
          </div>
          <div v-else>
            Изменить пользователя
          </div>
        </template>
        <b-form-group label="ФИО">
          <b-form-input
            v-model="edit_item.name"
            placeholder="Иванов Иван Иванович"
            required
          ></b-form-input>
        </b-form-group>
        <b-form-group label="Имя пользователя">
          <b-form-input
            v-model="edit_item.username"
            placeholder="zennyo"
            required
          ></b-form-input>
        </b-form-group>
        <b-form-group label="Пароль">
          <b-form-input
            v-model="edit_item.password"
            placeholder="123456"
            required
          ></b-form-input>
        </b-form-group>
        <b-form-group label="Роль">
          <b-form-select
            v-model="edit_item.role"
            :options="[{text: 'DEBUG', value: 'DEBUG'}]"
            required
          ></b-form-select>
        </b-form-group>
        <template #modal-footer>
          <b-button variant="secondary" class="float-right" @click="clear">
            <b-icon icon="x-circle"></b-icon>
            Отмена
          </b-button>
          <b-button variant="success" class="float-right" @click="save">
            <b-icon icon="file-earmark-arrow-down"></b-icon>
            Сохранить
          </b-button>
        </template>
      </b-modal>
    </template>
  </ItemEdit>
</template>

<script>
import ItemEdit from "~/components/common/edit/ItemEdit";

export default {
  name: "EditUser",
  components: {
    ItemEdit,
  },
  props: {
    hooks: Object,
  },
  methods: {
    async create() {
      return this.$refs.edit.create();
    },
    async edit(id) {
      return await this.$refs.edit.edit(id);
    },
    async del(id) {
      return this.$refs.edit.del(id);
    },
  }
}
</script>

<style scoped>

</style>
