<template>
  <div>
    <ItemEditQueries
      :fetch_query="gql => gql`query Fetch($id: ItemId!) {
    user(id: $id) {
        username,
        password,
        name,
        role,
    }
}
`"
      :create_query="gql => gql`mutation Create($data: UserInput!) {
    createUser(data: $data)
}
`"
      :edit_query="gql => gql`mutation Edit($id: ItemId!, $data: UserInput!) {
    user(id: $id) {
        edit(data: $data)
    }
}
`"
      :delete_query="gql => gql`mutation Delete($id: ItemId!) {
    user(id: $id) {
        delete
    }
}
`"
    >
      <template #default="{hooks}">
        <EditUser :hooks="hooks" ref="edit"></EditUser>
      </template>
    </ItemEditQueries>
    <div class="clearfix">
      <h1 class="float-left">Пользователи</h1>
      <b-button variant="success" class="float-right" @click="$refs.edit ? $refs.edit.create() : null">
        <b-icon icon="plus-circle"></b-icon>
        Создать
      </b-button>
    </div>
    <ItemsView :query="gql => gql`
  query Users($page: Page!, $filter: UsersFilter!) {
    users(page: $page, filter: $filter) {
        count
        items {
            id
            username
            password
            name
            role
            is_deleted
        }
    }
 }
 `" :per_pages="[10, 20, 50, 100]">
      <template #filter="{filter}">
        <b-form-group label="ФИО" class="mr-2">
          <b-form-input
            placeholder="напр. Иванов Иван Иванович"
            v-model="filter.name"
          ></b-form-input>
        </b-form-group>
        <b-form-group label="Логин" class="mr-2">
          <b-form-input
            placeholder="напр. zennyo"
            v-model="filter.username"
          ></b-form-input>
        </b-form-group>
        <b-form-group label="">
          <b-form-checkbox
            class="mt-4"
            v-model="filter.show_deleted"
          >
            <b-icon class="mt-1" icon="trash"/>
          </b-form-checkbox>
        </b-form-group>
      </template>
      <template #default="{count, items}">
        <TableView
          :keys="['name', 'username', 'password', 'role', 'buttons']"
          :count="count"
          :items="items"
        >
          <template #title(name)>
            ФИО
          </template>
          <template #cell(name)="{item}">
            {{ item.name }}
          </template>
          <template #title(username)>
            Логин
          </template>
          <template #cell(username)="{item}">
            {{ item.username }}
          </template>
          <template #title(password)>
            Пароль
          </template>
          <template #cell(password)="{item}">
            {{ item.password }}
          </template>
          <template #title(role)>
            Роль
          </template>
          <template #cell(role)="{item}">
            {{ item.role }}
          </template>
          <template #cell(buttons)="{item}">
            <div v-if="item.is_deleted" class="d-flex">
              <b-icon class="ml-auto mt-1" icon="trash"/>
            </div>
            <div class="d-flex" v-else>
              <b-button size="sm" variant="primary" class="ml-auto" @click="$refs.edit ? $refs.edit.edit(item.id) : null">
                <b-icon icon="pencil"></b-icon>
              </b-button>
              <b-button size="sm" variant="danger" class="ml-2" @click="$refs.edit ? $refs.edit.del(item.id) : null">
                <b-icon icon="x"></b-icon>
              </b-button>
            </div>
          </template>
        </TableView>
      </template>
    </ItemsView>
  </div>
</template>

<script>

import ItemsView from "~/components/common/view/ItemsView";
import TableView from "~/components/common/view/TableView";
import ItemEditQueries from "~/components/common/edit/ItemEditQueries";
import EditUser from "~/components/users/EditUser";

export default {
  name: 'Users',
  components: {
    ItemsView,
    TableView,
    ItemEditQueries,
    EditUser,
  },
}
</script>
