<template>
  <b-overlay :show="!entries">
    <div v-if="entries">
      <h4>Карта разрешений на отступление</h4>
      <div>
        <a target="_blank" :href="`/templates/replace_card?id=${id}`">Карта</a>
      </div>
      <div>
        <a href="#" @click.prevent="collapse_visible = !collapse_visible">Список</a>
      </div>
      <b-collapse v-for="(item, index) in entries" :visible="collapse_visible">
        <hr v-if="index !== 0">
        <div>
          <strong>Заказ:</strong>
          {{ item.order.name }}
        </div>
        <div>
          <strong>Деталь:</strong>
          <template v-if="item.plan">
            {{ item.plan.detail.name }}
            {{ item.plan.detail.number }}
          </template>
        </div>
        <div>
          <strong>Материал:</strong>
          {{ item.from_material.name }}
          {{ item.from_material.number }}
          {{ $getMaterialFeaturesStrings(item.from_material.features).join(", ") }}
        </div>
        <div>
          <strong>Заменить на:</strong>
          {{ item.to_material.name }}
          {{ item.to_material.number }}
          {{ $getMaterialFeaturesStrings(item.to_material.features).join(", ") }}
        </div>
      </b-collapse>
    </div>
  </b-overlay>
</template>

<script>
export default {
  name: "ReplaceCardViewComponent",
  props: {
    id: Number,
  },
  data() {
    return {
      entries: null,
      collapse_visible: false,
    }
  },
  async created() {
    await this.fetch();
  },
  methods: {
    async fetch() {
      let card = await this.$axios.$get("/replace_card", {
        params: {
          id: this.id,
        }
      })
      this.entries = card.entries;
      console.log(this.entries);
    }
  },
}
</script>

<style scoped>

</style>
