<template>
  <div>
    <slot :hooks="{fetch, create, edit, del}">

    </slot>
  </div>
</template>

<script>
import gql from "graphql-tag";

export default {
  name: "ItemEditQueries",
  props: {
    fetch_query: Function,
    fetch_getter: Function,
    create_query: Function,
    edit_query: Function,
    delete_query: Function,
  },
  data() {
    return {
      item: null,
    }
  },
  methods: {
    async fetch(id) {
      let query = this.$apollo.queries.item;
      query.skip = false;
      await query.setVariables({
        id,
      });
      query.skip = true;
      let clearTypename = (item) => {
        if (typeof item !== 'object') {
          return;
        }
        item.__typename = undefined;
        for (let key in item) {
          if (!Object.prototype.hasOwnProperty.call(item, key)) {
            continue;
          }
          if (typeof item[key] === 'object') {
            clearTypename(item[key]);
          }
        }
      }
      let item = this.item;
      clearTypename(item);
      return item;
    },
    async create(data) {
      let query = this.create_query(gql);
      let vars = {};
      if (Array.isArray(query)) {
        vars = query[1];
        query = query[0];
      }
      return await this.$apollo.mutate({
        mutation: query,
        variables: {
          data,
          ...vars,
        }
      })
    },
    async edit(id, data) {
      let query = this.edit_query(gql);
      let vars = {};
      if (Array.isArray(query)) {
        vars = query[1];
        query = query[0];
      }
      return await this.$apollo.mutate({
        mutation: query,
        variables: {
          id,
          data
        }
      })
    },
    async del(id) {
      let query = this.delete_query(gql);
      let vars = {};
      if (Array.isArray(query)) {
        vars = query[1];
        query = query[0];
      }
      return await this.$apollo.mutate({
        mutation: query,
        variables: {
          id
        }
      })
    }
  },
  apollo: {
    item() {
      let query = this.fetch_query(gql);
      let vars = {};
      if (Array.isArray(query)) {
        vars = query[1];
        query = query[0];
      }
      return {
        query,
        update: (result) => {
          if (this.fetch_getter) {
            return this.fetch_getter(result);
          }
          let keys = Object.entries(result)
          if (keys.length !== 1) {
            return result;
          } else {
            return result[keys[0][0]];
          }
        },
        skip: true,
        deep: true,
        variables: {
          ...vars,
        }
      }
    },
  }
}
</script>

<style scoped>

</style>
