<template>
  <div>
    <slot
      :edit_id="edit_id"
      :edit_item="edit_item"
      :show_delete="show_delete"
      :create="create"
      :edit="edit"
      :save="save"
      :del="del"
      :apply_del="apply_del"
      :clear="clear"
    >

    </slot>
  </div>
</template>

<script>
import gql from "graphql-tag";
import _ from "lodash";

export default {
  name: "ItemEdit",
  props: {
    createDefault: Object,
    hooks: Object,
  },
  data() {
    return {
      edit_item: null,
      edit_id: null,
      show_delete: null,
    }
  },
  methods: {
    create() {
      this.edit_id = -1;
      this.edit_item = _.cloneDeep(this.createDefault)
    },
    async edit(id) {
      this.edit_id = id;
      this.edit_item = _.cloneDeep(await this.hooks.fetch(id));
    },
    async save() {
      if (this.edit_id === -1) {
        await this.hooks.create(this.edit_item);
      } else {
        await this.hooks.edit(this.edit_id, this.edit_item);
      }
      await this.$apollo.provider.defaultClient.resetStore();
      this.clear();
    },
    del(id) {
      this.show_delete = id;
    },
    async apply_del() {
      await this.hooks.del(this.show_delete);
      await this.$apollo.provider.defaultClient.resetStore();
      this.clear();
    },
    clear() {
      this.edit_id = null;
      this.edit_item = null;
      this.show_delete = null;
    }
  },
}
</script>

<style scoped>

</style>
