<template>
  <div>
    <div class="d-flex" style="align-items: end;">
      <div>
        <h4>Шаг 2. Выбор колонок</h4>
        ID импорта: {{ data.plan_id }}
      </div>
      <div class="ml-auto">
        <b-button variant="success" :disabled="!isColumnIndexesValid()" @click="preparePlanData">
          Продолжить
        </b-button>
      </div>
    </div>
    <b-table-simple hover small caption-top responsive class="mt-2">
      <b-thead>
        <b-tr>
          <b-th v-for="index in columns_count">
            <b-form-select :value="column_indexes[index - 1]"
                           @input="v => {$set(column_indexes, index - 1, v), $forceUpdate()}"
                           :options="column_options"
                           size="sm"></b-form-select>
          </b-th>
        </b-tr>
        <b-tr>
          <b-th v-for="item of data.header">
            {{ item }}
          </b-th>
        </b-tr>
      </b-thead>
      <b-tbody>
        <b-tr v-for="row in data.first_rows">
          <b-td v-for="item of row">
            {{ item }}
          </b-td>
        </b-tr>
        <b-tr>
          <b-td :colspan="columns_count" class="text-center">
            ...
          </b-td>
        </b-tr>
      </b-tbody>
    </b-table-simple>
  </div>
</template>

<script>
export default {
  name: "ColumnsChooseImportPlanComponent",
  props: {
    data: Object,
  },
  data() {
    return {
      column_indexes: {},
      columns_count: 0,
    }
  },
  methods: {
    isColumnIndexesValid() {
      let column_ids = this.data.columns.map(({id}) => id)
      for (let [_, id] of Object.entries(this.column_indexes)) {
        let index = column_ids.indexOf(id);
        if (index !== -1) {
          column_ids.splice(index, 1);
        }
      }
      console.log(column_ids);
      return column_ids.length === 0;
    },
    async preparePlanData() {
      this.$emit("setIsLoading", true);
      let {plan} = await this.$axios.$post("/plan/import/prepare", {
        plan_id: this.data.plan_id,
        column_indexes: this.column_indexes,
      });
      this.$emit("toNextStep", {plan})
      this.$emit("setIsLoading", false);
    },
  },
  watch: {
    data: {
      deep: true,
      immediate: true,
      handler() {
        if (!this.data)
          return;
        this.columns_count = this.data.columns.length;
        for (let i = 0; i < this.columns_count; i++) {
          this.column_indexes[i] = null;
        }


        let column_ids = this.data.columns.map(({id}) => id)
        let index = 0;
        for (let h of this.data.header) {
          if (column_ids.indexOf(h) !== -1) {
            this.column_indexes[index] = h;
          }
          index += 1;
        }
        /*
        for (let h of this.data.header) {
          console.log(column_ids, h, column_ids.indexOf(h));
          let index = column_ids.indexOf(h);
          if (index === -1) {
            continue;
          }
          this.column_indexes[index] = h;
        }
         */
      }
    },
  },
  computed: {
    column_options() {
      return [
        {
          text: "-",
          value: null,
        },
        ...this.data.columns.map(({id, name}) => {
          return {
            text: name,
            value: id,
          }
        })]
    },
  },
}
</script>

<style scoped>

</style>
