<template>
  <div>
    <h4>Шаг 1. Загрузка файла</h4>
    <b-form inline style="align-items: end;">
      <b-form-group label="Файл .csv">
        <FileSelectorComponent v-model="file" :state="null"/>
      </b-form-group>
      <b-form-group label=" " class="ml-2">
        <b-button variant="success" class="float-right mr-2" :disabled="!file" @click="preparePlan">
          Загрузить файл для импорта
        </b-button>
      </b-form-group>
    </b-form>
  </div>
</template>

<script>
import FileSelectorComponent from "@/components/files/FileSelectorComponent";

export default {
  name: "LoadFileImportPlanComponent",
  components: {
    FileSelectorComponent,
  },
  data() {
    return {
      file: null,
    }
  },
  methods: {
    async preparePlan() {
      this.$emit("setIsLoading", true);
      let {
        plan_id,
        columns,
        header,
        first_rows,
      } = await this.$axios.$post("/plan/import/create", {
        file_id: this.file.id,
        order_id: Number(this.$route.params.order_id),
      });
      let data = {
        plan_id,
        columns,
        header,
        first_rows,
      };
      this.$emit('toNextStep', data);
      this.$emit("setIsLoading", false);
    },
  },
}
</script>

<style scoped>

</style>
