<template>
  <div>
    <div class="d-flex" style="align-items: end;">
      <div>
        <h4>Шаг 3. Проверка и согласование с реестром</h4>
      </div>
      <div class="ml-auto">
        <b-button variant="success" @click="loadPlan">
          Загрузить план
        </b-button>
      </div>
    </div>
    <b-tabs content-class="mt-3" align="left">
      <b-tab title="Материалы" active>
        <b-table-simple>
          <b-table-simple hover small caption-top responsive class="mt-4">
            <b-thead>
              <b-tr>
                <b-th>
                  Наименование
                </b-th>
                <b-th>
                  Номер
                </b-th>
                <b-th>
                  Характеристики
                </b-th>
              </b-tr>
            </b-thead>
            <b-tbody>
              <template v-for="(material, index) in data.plan.materials">
                <b-tr :key="`${index}_row`" style="border-top: 2px solid black;">
                  <b-td>{{ material.name }}</b-td>
                  <b-td>{{ material.number }}</b-td>
                  <b-td>{{ $getMaterialFeaturesStrings(material.features).join(", ") }}</b-td>
                </b-tr>
                <template v-if="material.found">
                  <b-tr :key="`${index}_found_header`" :variant="material.is_consistent ? 'success' : 'danger'">
                    <b-td colspan="4">
                      <i>
                        В реестре найден материал
                        <template v-if="material.is_consistent">
                          (cовпадает):
                        </template>
                        <template v-else>
                          (не cовпадает):
                        </template>
                      </i>
                    </b-td>
                  </b-tr>
                  <b-tr :key="`${index}_found`" v-if="material.found"
                        :variant="material.is_consistent ? 'success' : 'danger'">
                    <b-td>{{ material.name }}</b-td>
                    <b-td>{{ material.number }}</b-td>
                    <b-td>{{ $getMaterialFeaturesStrings(material.features).join(", ") }}</b-td>
                  </b-tr>
                </template>
                <template v-else>
                  <b-tr :key="`${index}_empty`" variant="warning">
                    <b-td colspan="4">
                      <i>В реестре материал отсутствует</i>
                    </b-td>
                  </b-tr>
                </template>
              </template>
            </b-tbody>
          </b-table-simple>
        </b-table-simple>
      </b-tab>
      <b-tab title="Детали">
        <b-table-simple hover small caption-top responsive class="mt-4">
          <b-thead>
            <b-tr>
              <b-th>
                Наименование
              </b-th>
              <b-th>
                Номер детали
              </b-th>
              <b-th>
                Операции
              </b-th>
            </b-tr>
          </b-thead>
          <b-tbody>
            <template v-for="(detail, index) in data.plan.details">
              <b-tr :key="`${index}_found_header`" style="border-top: 2px solid black;">
                <b-td>
                  {{ detail.name }}
                </b-td>
                <b-td>
                  {{ detail.number }}
                </b-td>
                <b-td>
                  {{ detail.operations.map(operation => operation.type).join(", ") }}
                </b-td>
              </b-tr>
              <template v-if="detail.found">
                <b-tr :key="`${index}_found_header`" :variant="detail.is_consistent ? 'success' : 'danger'">
                  <b-td colspan="4">
                    <i>
                      В реестре найдена деталь
                      <template v-if="detail.is_consistent">
                        (cовпадает):
                      </template>
                      <template v-else>
                        (не cовпадает):
                      </template>
                    </i>
                  </b-td>
                </b-tr>
                <b-tr :key="`${index}_found`" v-if="detail.found"
                      :variant="detail.is_consistent ? 'success' : 'danger'">
                  <b-td>{{ detail.found.name }}</b-td>
                  <b-td>{{ detail.found.number }}</b-td>
                  <b-td>
                    {{ detail.found.operations.map(operation => operation.type).join(", ") }}
                  </b-td>
                </b-tr>
              </template>
              <template v-else>
                <b-tr :key="`${index}_empty`" variant="warning">
                  <b-td colspan="4">
                    <i>В реестре деталь отсутствует</i>
                  </b-td>
                </b-tr>
              </template>
            </template>
          </b-tbody>
        </b-table-simple>
      </b-tab>
      <b-tab title="Элементы / План">
        <b-table-simple hover small caption-top responsive class="mt-4">
          <b-thead>
            <b-tr>
              <b-th>
                Наименование
              </b-th>
              <b-th>
                Номер элемента
              </b-th>
              <b-th>
                Детали
              </b-th>
            </b-tr>
          </b-thead>
          <b-tbody>
            <template v-for="(element, index) in data.plan.elements">
              <b-tr :key="`${index}_row`">
                <b-td>
                  {{ element.name }}
                </b-td>
                <b-td>
                  {{ element.number }}
                </b-td>
                <b-td>
                  <div v-for="{detail, amount} in element.details">
                    <strong>{{ detail.name }}</strong>
                    ({{ detail.number }})
                    {{ amount }} шт.
                  </div>
                </b-td>
              </b-tr>
              <template v-if="element.found">
                <b-tr :key="`${index}_found_header`" :variant="element.is_consistent ? 'success' : 'danger'">
                  <b-td colspan="4">
                    <i>
                      В реестре найден элемент
                      <template v-if="element.is_consistent">
                        (cовпадает):
                      </template>
                      <template v-else>
                        (не cовпадает):
                      </template>
                    </i>
                  </b-td>
                </b-tr>
                <b-tr :key="`${index}_found`" v-if="element.found"
                      :variant="element.is_consistent ? 'success' : 'danger'">
                  <b-td>
                    {{ element.found.name }}
                  </b-td>
                  <b-td>
                    {{ element.found.number }}
                  </b-td>
                  <b-td>
                    <div v-for="{detail, amount} in element.found.details">
                      <strong>{{ detail.name }}</strong>
                      ({{ detail.number }})
                      {{ amount }} шт.
                    </div>
                  </b-td>
                </b-tr>
              </template>
              <template v-else>
                <b-tr :key="`${index}_empty`" variant="warning">
                  <b-td colspan="4">
                    <i>В реестре элемент отсутствует</i>
                  </b-td>
                </b-tr>
              </template>
            </template>
          </b-tbody>
        </b-table-simple>
      </b-tab>
    </b-tabs>
  </div>
</template>

<script>
export default {
  name: "PlanDataImportPlanComponent",
  props: {
    data: Object,
  },
  methods: {
    async loadPlan() {
      this.$emit("setIsLoading", true);
      await this.$axios.$post("/plan/load", {plan_id: this.data.plan.id})
      this.$emit("toNextStep");
      this.$emit("setIsLoading", false);
    }
  }
}
</script>

<style scoped>

</style>
