<template>
  <div>
    <b-row class="mt-4" v-for="i in Math.ceil(items.length / items_per_row)" :key="i">
      <b-col :md="12 / items_per_row" v-for="(item, index) in items.slice((i - 1) * items_per_row, i * items_per_row)" :key="index">
        <b-card>
          <template #header v-if="!hide_header">
            <slot name="header" :item="item">

            </slot>
          </template>
          <b-card-text>
            <slot :item="item">

            </slot>
          </b-card-text>
        </b-card>
      </b-col>
    </b-row>
    <p class="text-center" v-if="items && (typeof count !== 'undefined')">
      Найдено записей: {{ count }}
    </p>
  </div>
</template>

<script>
export default {
  name: "CardsView",
  props: {
    count: Number,
    items: Array,
    items_per_row: {
      default: 3,
      type: Number,
    },
    hide_header: {
      default: false,
      type: Boolean,
    },
  }
}
</script>

<style scoped>

</style>
