<template>
  <div>
    <b-form :inline="filter_style === 'view'">
      <slot name="filter" :filter="filter">
        Filters
      </slot>
      <b-form-group label="На стр." class="ml-auto">
        <b-form-select :options="per_pages.map(p => {return {text: String(p), value: p}})"
                       v-model="page.per_page"
        >

        </b-form-select>
      </b-form-group>
    </b-form>
    <b-overlay :show="$apollo.loading">
      <template v-if="result">
        <slot :items="result.items" :count="result.count">
          Items
        </slot>
      </template>
      <div v-else style="height: 80px">

      </div>
    </b-overlay>
    <div class="d-flex align-items-center justify-content-center">
      <b-pagination
        v-model="page.page"
        :per-page="page.per_page"
        :total-rows="result ? result.count : 0"
      ></b-pagination>
    </div>
    <slot name="bottom">

    </slot>
  </div>
</template>

<script>
import gql from "graphql-tag";

export default {
  name: "ItemsView",
  props: {
    query: Function,
    per_pages: Array,
    getter: Function,
    filter_default: Object,
    filter_style: {
      type: String,
      default: 'view',
    }
  },
  data() {
    return {
      result: null,
      filter: {},
      page: {
        page: 0,
        per_page: 0,
      }
    }
  },
  created() {
    this.filter = this.filter_default ?? {};
    this.page.per_page = this.per_pages[0];
  },
  apollo: {
    result() {
      let query = this.query(gql);
      let vars = {};
      if (Array.isArray(query)) {
        vars = query[1];
        query = query[0];
      }
      return {
        query: query,
        update: (result) => {
          if (this.getter) {
            return this.getter(result);
          }
          let keys = Object.entries(result)
          if (keys.length !== 1) {
            return result;
          } else {
            return result[keys[0][0]];
          }
        },
        variables() {
          return {
            page: this.page,
            filter: this.filter,
            ...vars,
          }
        },
        deep: true,
        throttle: 300,
      }
    },
  }
}
</script>

<style scoped>

</style>
