<template>
  <div>
    <b-form inline>
      <b-form-group label="На стр." class="ml-auto">
        <b-form-select :options="per_pages.map(p => {return {text: String(p), value: p}})"
                       v-model="page.per_page"
        >

        </b-form-select>
      </b-form-group>
    </b-form>
    <template v-if="items">
      <slot :items="items.slice(page.per_page * (page.page - 1), page.per_page * page.page)" :count="items.length">
        Items
      </slot>
    </template>
    <div class="d-flex align-items-center justify-content-center">
      <b-pagination
        v-model="page.page"
        :per-page="page.per_page"
        :total-rows="items ? items.length : 0"
      ></b-pagination>
    </div>
    <slot name="bottom">

    </slot>
  </div>
</template>

<script>

export default {
  name: "StaticItemsView",
  props: {
    items: Array,
    per_pages: Array,
  },
  data() {
    return {
      page: {
        page: 0,
        per_page: 0,
      }
    }
  },
  created() {
    this.page.per_page = this.per_pages[0];
  },
}
</script>

<style scoped>

</style>
