<template>
  <b-table-simple hover small caption-top responsive class="mt-4">
    <b-thead v-if="items.length > 0">
      <b-tr>
        <b-th v-for="key of keys" :key="key">
          <slot :name="`title(${key})`">
          </slot>
        </b-th>
      </b-tr>
    </b-thead>
    <b-tbody>
      <template v-if="items.length > 0">
        <b-tr v-for="item in items" :key="item.id">
          <b-td v-for="key of keys" :key="key">
            <slot :name="`cell(${key})`" :item="item">

            </slot>
          </b-td>
        </b-tr>
        <b-tr>
          <b-td :colspan="String(keys.length)" class="text-center">
            <i>
              Найдено записей: {{ count }}
            </i>
          </b-td>
        </b-tr>
      </template>
      <template v-else>
        <b-tr>
          <b-td :colspan="String(keys.length)" class="text-center">
            <i>
              Записей не найдено
            </i>
          </b-td>
        </b-tr>
      </template>
    </b-tbody>
  </b-table-simple>
</template>

<script>
export default {
  name: "TableView",
  props: {
    keys: Array,
    count: Number,
    items: Array,
  }
}
</script>

<style scoped>

</style>
