<template>
  <b-navbar toggleable="lg" type="dark" variant="dark">
    <b-navbar-brand href="/">Rikon ERP</b-navbar-brand>

    <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

    <b-collapse id="nav-collapse" is-nav>
      <b-navbar-nav>
        <b-nav-item-dropdown text="Производство">
          <b-dropdown-item :href="`/orders`" v-if="$isAllowed('materials')">
            Заказы
          </b-dropdown-item>
          <b-dropdown-item :href="`/sdlfkj`" v-if="$isAllowed('details')">
            Карты изменений
          </b-dropdown-item>
          <b-dropdown-item :href="`/sdlfkj`" v-if="$isAllowed('details')">
            Участок плазмы
          </b-dropdown-item>
          <b-dropdown-item :href="`/sdlfkj`" v-if="$isAllowed('details')">
            Участок пилы
          </b-dropdown-item>
        </b-nav-item-dropdown>
        <b-nav-item-dropdown text="Склад">
          <b-dropdown-item :href="`/stock/warehouse`" v-if="$isAllowed('materials')">
            Остатки
          </b-dropdown-item>
          <b-dropdown-item :href="`/stock/requests`" v-if="$isAllowed('details')">
            Заявки
          </b-dropdown-item>
        </b-nav-item-dropdown>
        <template v-if="$route.params.order_id">
          <b-nav-item>&#8226;</b-nav-item>
          <b-nav-item :href="`/order/${$route.params.order_id}`" v-if="$isAllowed('orders')">
            Заказ
            {{ order_name }}
          </b-nav-item>
          <b-nav-item-dropdown text="План">
            <b-dropdown-item :href="`/order/${$route.params.order_id}/plan/entries`" v-if="$isAllowed('materials')">
              Задачи
            </b-dropdown-item>
            <b-dropdown-item :href="`/order/${$route.params.order_id}/plan/materials`" v-if="$isAllowed('details')">
              Материалы
            </b-dropdown-item>
          </b-nav-item-dropdown>
          <b-nav-item-dropdown text="Реестр">
            <b-dropdown-item :href="`/order/${$route.params.order_id}/registry/materials`"
                             v-if="$isAllowed('materials')">
              Материалы
            </b-dropdown-item>
            <b-dropdown-item :href="`/order/${$route.params.order_id}/registry/details`" v-if="$isAllowed('details')">
              Детали
            </b-dropdown-item>
            <b-dropdown-item :href="`/order/${$route.params.order_id}/registry/elements`" v-if="$isAllowed('elements')">
              Элементы
            </b-dropdown-item>
          </b-nav-item-dropdown>
          <b-nav-item :href="`/order/${$route.params.order_id}/tasks`" v-if="false && $isAllowed('tasks')">Задачи
          </b-nav-item>
          <b-nav-item-dropdown text="Участки" right v-if="areas">
            <template v-for="[id, area] in Object.entries(areas)">
              <b-dropdown-item
                v-if="$isAllowed(`area_${id}`)"
                :href="
                  (id === 'PILA' || id === 'PLASMA')
                    ? `/order/${$route.params.order_id}/areas/${id}`
                    : `/order/${$route.params.order_id}/areas/common?operation=${id}`
                "
                :key="id"
              >
                {{ area.name }}
              </b-dropdown-item>
            </template>
          </b-nav-item-dropdown>
        </template>
      </b-navbar-nav>
      <b-navbar-nav class="ml-auto">
        <b-nav-item-dropdown text="Администрирование">
          <b-dropdown-item href="/users" v-if="$isAllowed('users')">
            Пользователи
          </b-dropdown-item>
          <b-dropdown-item href="/operations" v-if="$isAllowed('operations')">
            Операции
          </b-dropdown-item>
        </b-nav-item-dropdown>
        <b-nav-item>{{ $store.state.username }}</b-nav-item>
        <b-nav-item v-if="$isAllowed('about')" href="/about">О программе</b-nav-item>
        <b-nav-item href="/logout">Выйти</b-nav-item>
      </b-navbar-nav>
    </b-collapse>
  </b-navbar>
</template>

<script>
import gql from "graphql-tag";

export default {
  name: 'NavbarComponent',
  data() {
    return {
      visible: true,
    }
  },
  apollo: {
    order_name() {
      return {
        query: gql`query Fetch($order_id: ItemId!) {
            order(id: $order_id) {
                id
                name
            }
        }`,
        update: (result) => {
          return result.order.name;
        },
        skip() {
          return !this.$route.params.order_id;
        },
        variables: {
          order_id: Number(this.$route.params.order_id)
        }
      }
    },
  }
}
</script>
