<template>
  <b-form inline>
    <b-form-group label="Операция">
      <OperationSelector v-model="item.operation_id"/>
    </b-form-group>
    <b-form-group label="Приоритет" class="ml-2">
      <PlanOperationPrioritySelector v-model="item.priority"/>
    </b-form-group>
    <b-button variant="success" block class="mt-2" @click="$emit('create', item)">
      <b-icon icon="plus-circle"></b-icon>
      Создать
    </b-button>
  </b-form>
</template>

<script>
import OperationSelector from "@/components/operations/OperationSelector";
import PlanOperationPrioritySelector from "@/components/plan/operations/PlanOperationPrioritySelector";

export default {
  name: "CreatePlanOperations",
  components: {
    OperationSelector,
    PlanOperationPrioritySelector,
  },
  data() {
    return {
      item: {
        operation_id: null,
        priority: 1,
      }
    };
  }
}
</script>

<style scoped>

</style>
