<template>
  <div>
    <ItemEditQueries
      ref="queries"
      :fetch_query="gql => [gql`query Fetch($id: ItemId!) {
    plan(id: $id) {
        operations {
            id
            operation {
                id
                code
                name
            }
            priority
        }
    }
}
`, {plan_id}]"
      :fetch_getter="result => {

      }"
      :create_query="gql => [gql`mutation Create($data: PlanOperationInput!, $plan_id: ItemId!) {
    plan(id: $plan_id) {
      createOperation(data: $data)
    }
}
`, {plan_id}]"
      :edit_query="gql => gql`mutation Edit($id: ItemId!, $data: OperationInput!) {
    operation(id: $id) {
        edit(data: $data)
    }
}
`"
      :delete_query="gql => gql`mutation Delete($id: ItemId!) {
    operation(id: $id) {
        delete
    }
}
`"
    >
      <template #default="{hooks}">
        <EditOperation :hooks="hooks" ref="edit"/>
      </template>
    </ItemEditQueries>
    <div class="clearfix">
      <CreatePlanOperations @create="data => $refs.queries.create(data)"/>
    </div>
    <ItemsView :query="gql => [gql`
  query Operations($page: Page!, $filter: PlanOperationsFilter!, $plan_id: ItemId!) {
    plan(id: $plan_id) {
        operations(page: $page, filter: $filter) {
            count
            items {
              id
              operation {
                  id
                  code
                  name
              }
              priority
            }
        }
    }
  }`, {plan_id}]" :getter="result => result.plan.operations" :per_pages="[10, 20, 50, 100]">
      <template #filter="{filter}">
        <div></div>
      </template>
      <template #default="{count, items}">
        <TableView
          :keys="['code', 'priority', 'buttons']"
          :count="count"
          :items="items"
        >
          <template #title(code)>
            Код
          </template>
          <template #cell(code)="{item}">
            {{ item.operation.code }}
          </template>
          <template #title(priority)>
            Приоритет
          </template>
          <template #cell(priority)="{item}">
            <PlanOperationPrioritySelector :value="priorities[item.id] || item.priority" @input="v => priorities[item.id] = v" style="width: 60%"/>
            <b-button size="sm" variant="info" class="ml-2" @click="$refs.edit ? $refs.edit.del(item.id) : null">
              <b-icon icon="file-check"></b-icon>
            </b-button>
          </template>
          <template #cell(buttons)="{item}">
            <div class="d-flex">
              <b-button size="sm" variant="danger" class="ml-2" @click="$refs.edit ? $refs.edit.del(item.id) : null">
                <b-icon icon="x"></b-icon>
              </b-button>
            </div>
          </template>
        </TableView>
      </template>
    </ItemsView>
  </div>
</template>

<script>
import ItemsView from "@/components/common/view/ItemsView";
import TableView from "@/components/common/view/TableView";
import ItemEditQueries from "@/components/common/edit/ItemEditQueries";
import EditOperation from "@/components/operations/EditOperation";
import CreatePlanOperations from "@/components/plan/operations/CreatePlanOperations";
import PlanOperationPrioritySelector from "@/components/plan/operations/PlanOperationPrioritySelector";

export default {
  name: "PlanOperations",
  components: {
    ItemsView,
    TableView,
    ItemEditQueries,
    EditOperation,
    CreatePlanOperations,
    PlanOperationPrioritySelector,
  },
  props: {
    plan_id: Number,
  },
  data() {
    return {
      priorities: {}
    }
  },
}
</script>

<style scoped>

</style>
