<template>
  <b-modal :visible="show" @change="v => !v ? clear() : void 0">
    <template #modal-header>
      <div></div>
    </template>
    <PlanOperations :plan_id="plan_id" ref="content"/>
    <template #modal-footer>
      <b-button variant="secondary" class="float-right" @click="clear">
        <b-icon icon="x-circle"></b-icon>
        Отмена
      </b-button>
      <b-button variant="success" class="float-right" @click="save">
        <b-icon icon="file-earmark-arrow-down"></b-icon>
        Сохранить
      </b-button>
    </template>
  </b-modal>
</template>

<script>
import PlanOperations from "@/components/plan/operations/PlanOperations";

export default {
  name: "PlanOperationsModal",
  components: {
    PlanOperations,
  },
  data() {
    return {
      show: false,
      plan_id: null,
    }
  },
  methods: {
    clear() {
      this.show = false;
      this.plan_id = null;
    },
    async save() {
      await this.$refs.content.save();
    },
    open(id) {
      this.show = true;
      this.plan_id = id;
    }
  },
}
</script>

<style scoped>

</style>
