<template>
  <b-form-select :options="options"
                 :value="value"
                 @input="v => $emit('input', v)">

  </b-form-select>
</template>

<script>
export default {
  name: "PlanOperationPrioritySelector",
  model: {
    prop: 'value',
    event: 'input',
  },
  props: {
    value: {
      type: Number,
      default: 1,
    },
  },
  computed: {
    options() {
      let res = [];
      for (let i = 1; i <= 10; i++) {
        res.push({
          text: `Приоритет ${i}`,
          value: i,
        })
      }
      return res;
    }
  }
}
</script>

<style scoped>

</style>
