<template>
  <div>
    <h1>Закупки</h1>
    <hr>
    <template v-if="false">
      <b-button v-b-toggle.free_purchase_entries variant="primary" size="sm">
        Материалы без привязки к закупке
      </b-button>
      <hr>
    </template>
    <b-collapse id="free_purchase_entries" class="mt-2" v-if="false">
      <PurchaseEntriesComponent @update="update" ref="free_purchase_entries" :purchase_id="null">
        <template #title>
          <div></div>
        </template>
      </PurchaseEntriesComponent>
    </b-collapse>
    <b-collapse id="purchases_list" class="mt-2" :visible="show_purchases">
      <PurchasesListComponent ref="purchases_list" @setShowPurchaseId="setShowPurchaseId" :purchase_id="show_purchase_id">
        <template #title>
          <div></div>
        </template>
      </PurchasesListComponent>
    </b-collapse>
    <a href="#" @click.prevent="setShowPurchaseId(null)" v-if="show_purchase_id !== null">
      <b-icon icon="arrow-left-short"></b-icon>
      Назад
    </a>
    <b-tabs content-class="mt-3" align="center" v-show="show_purchase_id !== null">
      <b-tab title="Статус" active lazy>
        <EditPurchaseComponent v-model="show_purchase_id" @save="update"/>
      </b-tab>
      <b-tab title="Материалы" lazy>
        <PurchaseEntriesComponent @update="update" ref="purchase_entries" :purchase_id="show_purchase_id">
          <template #title>
            <div></div>
          </template>
        </PurchaseEntriesComponent>
      </b-tab>
      <b-tab title="Сообщения">
        <MessagesComponent chat_type="purchase" :chat_id1="show_purchase_id" :chat_id2="null"/>
      </b-tab>
    </b-tabs>
  </div>
</template>

<script>
import PurchaseEntriesComponent from "@/components/purchases/PurchaseEntriesComponent";
import PurchasesListComponent from "@/components/purchases/PurchasesListComponent";
import MessagesComponent from "@/components/messages/MessagesComponent";
import EditPurchaseComponent from "@/components/purchases/EditPurchaseComponent";

export default {
  name: "PurchasesComponent",
  components: {
    PurchaseEntriesComponent,
    PurchasesListComponent,
    MessagesComponent,
    EditPurchaseComponent,
  },
  data() {
    return {
      show_purchase_id: null,
      show_purchases: true,
    }
  },
  methods: {
    async update() {
      await this.$refs.purchases_list.update();
      if (this.$refs.purchase_entries) {
        await this.$refs.purchase_entries.update();
      }
      await this.$refs.free_purchase_entries.update();
    },
    setShowPurchaseId(id) {
      this.show_purchases = id === null;
      this.show_purchase_id = id;
    }
  }
}
</script>

<style scoped>

</style>
