<template>
  <div>
    <div class="d-flex">
      <div class="ml-auto" v-if="purchase_id !== null && stock_mode">
        <b-button variant="primary" class="" @click="toggleStockMode">
          <b-icon icon="x"></b-icon>
          Отменить
        </b-button>
        <b-button variant="success" class="ml-2" @click="addToStock">
          <b-icon icon="box"></b-icon>
          Добавить на склад
        </b-button>
      </div>
      <div class="ml-auto" v-if="purchase_id !== null && !stock_mode">
        <b-button variant="primary" class="" @click="toggleStockMode">
          <b-icon icon="box"></b-icon>
          На склад
        </b-button>
      </div>
      <div class="ml-auto" v-if="purchase_id === null">
        <b-button variant="success" class="" @click="createPurchase"
                  :disabled="selected_items.length === 0">
          <b-icon icon="list-task"></b-icon>
          В закупку
        </b-button>
      </div>
    </div>
    <PurchasesFilterComponent v-model="filter"/>
    <b-overlay :show="!items">
      <b-table-simple hover small caption-top responsive class="mt-4">
        <b-thead>
          <b-tr>
            <b-th v-if="purchase_id === null">

            </b-th>
            <b-th>
              Материал
            </b-th>
            <b-th v-if="!stock_mode">
              Масса
            </b-th>
            <b-th v-else>
              Масса всего
            </b-th>
            <b-th v-if="!stock_mode">
              Длина
            </b-th>
            <b-th v-if="stock_mode">
              Количество
            </b-th>
            <b-th v-if="stock_mode">
              Номер плавки
            </b-th>
            <b-th>

            </b-th>
          </b-tr>
        </b-thead>
        <b-tbody>
          <b-tr v-for="purchase in items" :key="purchase.id">
            <b-th v-if="purchase_id === null">
              <b-form-checkbox
                v-model="checked_items[purchase.id]"
              >
              </b-form-checkbox>
            </b-th>
            <b-td>
              {{ purchase.material.name }}
              {{ purchase.material.number }}
              {{ $getMaterialFeaturesStrings(purchase.material.features).join(", ") }}
            </b-td>
            <b-td>
              <template v-if="purchase.mass && !stock_mode">
                {{ Math.round(purchase.mass) / 1000 }} т.
              </template>
              <template v-if="stock_mode">
                <b-input-group size="sm">
                  <b-form-input v-model="stock_edit[purchase.id].mass"></b-form-input>
                  <b-input-group-append>
                    <b-input-group-text class="bg-transparent font-weight-bold">
                      т.
                    </b-input-group-text>
                  </b-input-group-append>
                </b-input-group>
              </template>
            </b-td>
            <b-td v-if="!stock_mode">
              <template v-if="purchase.length && !stock_mode">
                {{ purchase.length / 1000 }} м
              </template>
              <template v-if="stock_mode">
                <b-input-group size="sm">
                  <b-form-input v-model="stock_edit[purchase.id].size"></b-form-input>
                </b-input-group>
              </template>
            </b-td>
            <b-td v-if="stock_mode">
              <b-input-group size="sm">
                <b-form-input v-model="stock_edit[purchase.id].amount"></b-form-input>
                <b-input-group-append>
                  <b-input-group-text class="bg-transparent font-weight-bold">
                    шт.
                  </b-input-group-text>
                </b-input-group-append>
              </b-input-group>
            </b-td>
            <b-td v-if="stock_mode">
              <b-input-group size="sm">
                <b-form-input v-model="stock_edit[purchase.id].melting_number"></b-form-input>
              </b-input-group>
            </b-td>
            <b-td>

            </b-td>
          </b-tr>
          <b-tr v-if="items">
            <b-td colspan="5" class="text-center">
              <i>
                Найдено записей: {{ total_rows }}
              </i>
            </b-td>
          </b-tr>
        </b-tbody>
      </b-table-simple>
      <div class="d-flex align-items-center justify-content-center">
        <b-pagination
          v-model="filter.page"
          :total-rows="total_rows"
          :per-page="filter.per_page"
        ></b-pagination>
      </div>
    </b-overlay>
  </div>
</template>

<script>

import _ from 'lodash';
import PurchasesFilterComponent from "@/components/purchases/PurchasesFilterComponent";

export default {
  name: 'PurchasesComponent',
  layout: 'panel',
  components: {
    PurchasesFilterComponent,
  },
  props: {
    purchase_id: Number,
  },
  data() {
    return {
      checked_items: {},
      show_edit_modal: false,
      edit_detail_id: null,
      items: null,
      total_rows: 0,
      filter: {
        per_page: 10,
        page: 1,
      },
      show_blueprint_modals: {},
      stock_mode: false,
      stock_edit: {},
    }
  },
  async created() {
    this.fetchItems = _.throttle(this.fetchItems, 300);
    await this.fetchItems();
  },
  methods: {
    async fetchItems() {
      let res = await this.$axios.$post("/get_purchase_entries", {
        ...this.filter,
        exact: {
          purchase_id: this.purchase_id,
        },
      });
      this.items = res.items;
      this.total_rows = res.count;
      for (let item of this.items) {
        if (!this.stock_edit[item.id]) {
          this.$set(this.stock_edit, item.id, {
            mass: Math.round(item.mass) / 1000,
            size: "",
            amount: 0,
          })
        }
      }
    },
    async createPurchase() {
      await this.$axios.$post("/purchase", {ids: this.selected_items});
      this.$emit("update");
    },
    async update() {
      this.items = null;
      await this.fetchItems();
    },
    async toggleStockMode() {
      this.stock_mode = !this.stock_mode;
    },
    async addToStock() {
      let purchases = Object.entries(this.stock_edit).map(([id, entry]) => {
        return {
          id: Number(id),
          ...entry
        }
      });

      await this.$axios.$post("/purchase/add_to_stock", {purchases});
      this.stock_mode = false;
      this.$bvToast.toast(`Материалы добавлены на склад`, {
        autoHideDelay: 5000,
        variant: 'success',
      })
    }
  },
  watch: {
    filter: {
      deep: true,
      async handler() {
        this.checked_items = {};
        this.items = null;
        await this.fetchItems();
      },
    },
    async purchase_id() {
      this.checked_items = {};
      this.items = null;
      await this.fetchItems();
    }
  },
  computed: {
    selected_items() {
      return Object.entries(this.checked_items).filter(([_, checked]) => checked).map(([id, _]) => Number(id));
    },
  }
}
</script>
