<template>
  <div>
    <b-form inline>
      <b-form-group label="На стр." class="ml-auto">
        <b-form-select :options="per_page_options"
                       :value="filter.per_page"
                       @input="v => $emit('input', {...filter, per_page: v})">

        </b-form-select>
      </b-form-group>
    </b-form>
  </div>
</template>

<script>
export default {
  name: "PurchasesListFilterComponent",
  props: {
    filter: Object,
  },
  model: {
    prop: 'filter',
    event: 'input',
  },
  computed: {
    per_page_options() {
      return [
        {
          text: '3',
          value: 3,
        },
        {
          text: '9',
          value: 9,
        },
        {
          text: '30',
          value: 30,
        },
        {
          text: '90',
          value: 90,
        },
        {
          text: '100',
          value: 100,
        },
      ];
    }
  }
}
</script>

<style scoped>

</style>
