<template>
  <div>
    <div>
      <slot name="title">
        <h1>
          Заявки
        </h1>
      </slot>
    </div>
    <RequestTasksModalComponent
      :show="show_tasks_modal"
      v-model="tasks_modal_request"
      @setShow="v => show_tasks_modal = v"
      @update="update"
    />
    <RequestsFilterComponent v-model="filter"/>
    <b-overlay :show="!items">
      <template v-if="items">
        <b-row class="mt-4" v-for="i in Math.ceil(items.length / 3)" :key="i">
          <b-col md="4" v-for="(request, index) in items.slice((i - 1) * 3, i * 3)" :key="index">
            <b-card
              title="Заявка"
            >
              <b-card-text>
                <p v-if="request.is_approved" class="text-success">
                  <b-icon icon="check-circle-fill"/>
                  Утверждена
                </p>
                <p v-else class="text-danger">
                  <b-icon icon="x-circle-fill"/>
                  Не утверждена
                </p>
                <p>
                  <strong>Создана:</strong>
                  {{ moment(request.created_at).format("llll") }}
                  <br>
                  <strong>Статус:</strong>
                  <template v-if="request.status === 'created'">
                    создана
                  </template>
                  <template v-if="request.status === 'supply'">
                    в снабжении
                  </template>
                  <template v-if="request.status === 'control'">
                    в ОТК
                  </template>
                  <template v-if="request.status === 'tech'">
                    в Тех. Отделе
                  </template>
                  <br>
                  <span v-if="request.are_materials_moved">
                    Материалы перемещены
                  </span>
                  <span v-else>
                    Материалы не перемещены
                  </span>
                </p>
                <p>
                  <a href="#" @click.prevent="showRequestTasksModal(request.id)">Задачи</a>
                  <template v-if="false">
                    <br>
                    <a :href="`/templates/replace_card?request_id=${request.id}`" target="_blank">Карта разр. на отступление</a>
                  </template>
                </p>
              </b-card-text>
              <div class="mt-2" v-if="$isAllowed('move_materials') && request.is_approved">
                <b-button href="#" variant="warning" block>
                  <b-icon icon="arrows-move"></b-icon>
                  Переместить матераилы
                </b-button>
              </div>
              <div class="mt-2"
                   v-if="$isAllowed('request_approve') && !request.is_approved && (request.status === 'control' || request.status === 'tech')">
                <b-button href="#" variant="success" block @click="approveRequest(request.id)">
                  <b-icon icon="check"></b-icon>
                  Утвердить
                </b-button>
              </div>
              <div class="mt-2" v-if="$isAllowed('redirect_request_to_supply') && request.status === 'created'">
                <b-button href="#" variant="primary" block @click="redirectRequest(request.id, 'supply')">
                  <b-icon icon="arrow-up-right-circle-fill"></b-icon>
                  Отправить в снабжение
                </b-button>
              </div>
              <div class="mt-2" v-if="$isAllowed('redirect_request_to_control') && request.status === 'supply'">
                <b-button href="#" variant="primary" block @click="redirectRequest(request.id, 'control')">
                  <b-icon icon="arrow-up-right-circle-fill"></b-icon>
                  Отправить в ОТК
                </b-button>
              </div>
              <div class="mt-2" v-if="$isAllowed('redirect_request_to_tech') && request.status === 'supply'">
                <b-button href="#" variant="primary" block @click="redirectRequest(request.id, 'tech')">
                  <b-icon icon="arrow-up-right-circle-fill"></b-icon>
                  Отправить в Тех. Отдел
                </b-button>
              </div>
            </b-card>
          </b-col>
        </b-row>
      </template>
      <p class="text-center" v-if="items">
        Найдено заявок: {{ total_rows }}
      </p>
      <div class="d-flex align-items-center justify-content-center">
        <b-pagination
          v-model="filter.page"
          :total-rows="total_rows"
          :per-page="filter.per_page"
        ></b-pagination>
      </div>
    </b-overlay>
  </div>
</template>

<script>

import moment from 'moment'
import MaterialSelectorComponent from "@/components/materials/MaterialSelectorComponent";
import RequestTasksModalComponent from "@/components/requests/RequestTasksModalComponent";
import RequestsFilterComponent from "@/components/requests/RequestsFilterComponent";

export default {
  name: 'RequestsComponent',
  components: {
    MaterialSelectorComponent,
    RequestsFilterComponent,
    RequestTasksModalComponent,
  },
  data() {
    return {
      items: null,
      show_tasks_modal: false,
      tasks_modal_request: null,
      total_rows: 0,
      filter: {
        per_page: 30,
        page: 1,
      },
    }
  },
  async created() {
    await this.fetchItems();
  },
  methods: {
    async fetchItems() {
      let res = await this.$axios.$get("/requests", {params: {...this.filter}});
      this.items = res.items;
      this.total_rows = res.count;
    },
    getRequestById(id) {
      return this.items.filter(request => request.id === id)[0]
    },
    showRequestTasksModal(id) {
      this.tasks_modal_request = this.getRequestById(id);
      this.show_tasks_modal = true;
    },
    async approveRequest(id) {
      this.items = null;
      await this.$axios.$post("/requests/approve", {id});
      await this.fetchItems();
    },
    async redirectRequest(id, to) {
      this.items = null;
      await this.$axios.$post("/requests/redirect", {id, to});
      await this.fetchItems();
    },
    async update() {
      this.items = null;
      await this.fetchItems();
    }
  },
  watch: {
    filter: {
      deep: true,
      async handler() {
        this.items = null;
        await this.fetchItems();
      },
    },
  },
  computed: {
    moment: () => moment,
  }
}
</script>
