<template>
  <b-modal :visible="show" @change="v => $emit('setShow', v)" v-if="request" :hide-footer="!$isAllowed('request_replaces')">
    <template #modal-title>
      <div>
        Задачи
      </div>
    </template>
    <div v-for="(task_entry, index) in request.task_entries" :key="task_entry.id">
      <hr v-if="index !== 0">
      <h4>Задача</h4>
      <p>
        <strong>Деталь:</strong>
        {{ task_entry.detail.name }}
        <br>
        <strong>Операция:</strong>
        {{ task_entry.operation_type }}
        <br>
        <strong>Материалы:</strong>
        <a href="#" class="float-right" @click.prevent="toggleTaskReplace(task_entry.id)"
           v-if="$isAllowed('request_replaces') && !request.is_approved">
          <template v-if="request_tasks_replaces[task_entry.id] && request_tasks_replaces[task_entry.id].edit">
            Отменить изменения
          </template>
          <template v-else>
            Внести изменения
          </template>
        </a>
      </p>
      <ul>
        <template v-if="request_tasks_replaces[task_entry.id]">
          <li v-if="request_tasks_replaces[task_entry.id].edit">
            <MaterialSelectorComponent v-model="request_tasks_replaces[task_entry.id].material" :state="null"/>
          </li>
          <li v-if="!request_tasks_replaces[task_entry.id].edit">
            <strong>{{ request_tasks_replaces[task_entry.id].original_material.name }}</strong>
            <br/>
            {{ $getMaterialFeaturesStrings(request_tasks_replaces[task_entry.id].original_material.features).join(", ") }}
          </li>
        </template>
        <li
          :class="{strikethrough: request_tasks_replaces[task_entry.id] && (
                !!(request_tasks_replaces[task_entry.id].edit && request_tasks_replaces[task_entry.id].material) ||
                !!(!request_tasks_replaces[task_entry.id].edit && request_tasks_replaces[task_entry.id].original_material)
                )
              }">
          <strong>{{ task_entry.detail.material.name }}</strong>
          <br/>
          {{ $getMaterialFeaturesStrings(task_entry.detail.material.features).join(", ") }}
        </li>
      </ul>
    </div>
    <template #modal-footer>
      <b-button variant="secondary" class="float-right" @click="$emit('setShow', false)">
        <b-icon icon="x-circle"></b-icon>
        Отмена
      </b-button>
      <b-button variant="success" class="float-right" @click="saveRequestReplaces">
        <b-icon icon="file-earmark-arrow-down"></b-icon>
        Сохранить
      </b-button>
    </template>
  </b-modal>
</template>

<script>
import MaterialSelectorComponent from "@/components/materials/MaterialSelectorComponent";

export default {
  name: "RequestTasksModalComponent",
  components: {
    MaterialSelectorComponent,
  },
  model: {
    prop: "request",
    event: "input",
  },
  props: {
    request: Object,
    show: Boolean,
  },
  data() {
    return {
      request_tasks_replaces: {},
    }
  },
  methods: {
    toggleTaskReplace(task_entry_id) {
      console.log(task_entry_id);
      let replace = this.request_tasks_replaces[task_entry_id];
      if (replace) {
        if (!replace.edit) {
          replace.edit = true;
          if (replace.original_material) {
            replace.material_id = replace.original_material.id;
          }
          this.$set(this.request_tasks_replaces, task_entry_id, replace)
        } else {
          if (replace.original_material) {
            replace.edit = false;
            replace.material_id = null;
            this.$set(this.request_tasks_replaces, task_entry_id, replace)
          } else {
            this.$set(this.request_tasks_replaces, task_entry_id, null)
          }
        }
      } else {
        this.$set(this.request_tasks_replaces, task_entry_id, {
          material_id: null,
          edit: true,
        })
      }
    },
    async saveRequestReplaces() {
      this.requests = null;
      await this.$axios.$post("/requests/replaces", {
        request_id: this.request.id,
        replaces: Object.entries(this.request_tasks_replaces).map(([task_entry_id, {material}]) => {
          return {
            task_entry_id: Number(task_entry_id),
            material_id: material?.id,
          }
        }),
      })
      this.show_tasks_modal = false;
      this.$emit("update");
      this.$emit("setShow", false)
      this.$bvToast.toast(`Изменения внесены`, {
        title: 'Успех',
        autoHideDelay: 5000,
        variant: 'success',
      })
    },
  },

  watch: {
    request(request) {
      let replaces = {};
      for (let entry of request.task_entries) {
        if (!entry.replace_material)
          continue;
        replaces[entry.id] = {
          material_id: entry.replace_material.id,
          edit: false,
          original_material: entry.detail.material
        };
      }
      console.log(replaces);
      this.request_tasks_replaces = replaces;
    }
  }

}
</script>

<style scoped>
.strikethrough {
  text-decoration: line-through;
}
</style>
