<template>
  <b-overlay :show="is_loading">
    <div v-if="!selected_item">
      <b-form-file
        v-model="file"
        :state="state"
        :accept="accept"
        placeholder="Загрузить файл"
        drop-placeholder="Перетащите сюда файл"
        @input="upload"
      ></b-form-file>
    </div>
    <div v-else>
      <span>
        ID файла: {{ selected_item.id }}
      </span>
      <span>
        Название файла: {{ selected_item.original_name }}
      </span>
      <FileViewerComponent :show="show_viewer" :file="selected_item"/>
      <a href="#" @click.prevent="show">Просмотр</a>
      <a href="#" @click.prevent="cancel">Отмена</a>
    </div>
  </b-overlay>
</template>

<script>
import FileViewerComponent from "@/components/files/FileViewerComponent";
export default {
  name: "FileSelectorComponent",
  components: {FileViewerComponent},
  model: {
    prop: 'selected_item',
    event: 'input'
  },
  props: {
    selected_item: Object,
    state: Boolean,
    accept: {
      type: String,
      default: "*",
    }
  },
  data() {
    return {
      file: null,
      uploaded_id: null,
      is_loading: false,
      show_viewer: false,
    }
  },
  async created() {

  },
  methods: {
    async upload() {
      this.is_loading = true;
      let form_data = new FormData();
      form_data.append("file", this.file);
      let res = await this.$axios.$post("/files/upload", form_data, {});
      this.$emit("input", res)
      this.is_loading = false;
    },
    cancel() {
      this.file = null;
      this.$emit("input", null)
    },
    show() {
      this.show_viewer = true;
    }
  }
}
</script>

<style scoped>

</style>
