<template>
  <div>
    <b-modal :visible="show" v-if="show" @change="v => $emit('setShow', v)" size="xl" hide-footer>
      <template #modal-title>
        <div>
          Просмотр файла
        </div>
      </template>
      <iframe :src="file_url" frameborder="0">

      </iframe>
    </b-modal>
  </div>
</template>

<script>
export default {
  name: "FileViewerComponent",
  props: {
    file: Object,
    show: Boolean,
  },
  computed: {
    file_url() {
      return process.env.NUXT_APP_API_ENDPOINT + `/files/by_id/stream?id=${this.file.id}&key=${this.file.key}`;
    }
  }
}
</script>

<style scoped>
iframe {
  width: 100%;
  height: 100%;
  min-height: 80vh;
}
</style>
