<template>
  <div>
    <input
      type="file"
      style="display: none"
      ref="file_input"
      :accept="accept"
      @change="onFilePicked"/>
    <b-overlay :show="loading">
      <div class="upload-file-big" @click="open">
        <h1>
          <b-icon icon="cloud-upload"/>
        </h1>
        <p>Загрузить...</p>
      </div>
    </b-overlay>
  </div>
</template>

<script>
export default {
  name: "UploadFileBig",
  props: {
    accept: String,
  },
  data() {
    return {
      loading: false,
    }
  },
  methods: {
    open() {
      this.$refs.file_input.click();
    },
    onFilePicked(event) {
      this.loading = true;
      const files = event.target.files
      let filename = files[0].name
      const file_reader = new FileReader()
      file_reader.addEventListener('load', () => {
        this.$emit('load', file_reader.result);
        this.loading = false;
      })
      file_reader.readAsText(files[0], 'utf-8')
    },
  }
}
</script>

<style scoped>
.upload-file-big {
  margin: 20px;
  padding: 50px;
  height: 200px;
  width: 200px;
  box-sizing: border-box;
  border: 1px #999999 solid;
  border-radius: 25px;
}

.upload-file-big:hover {
  color: #666666;
}
</style>
